  {% ckan_extends %}
  {% set help_url = g.site_url + h.url_for(controller='ckanext.kata.controllers:KataInfoController', action='render_help') + '#api-reference' %}
  {% block about %}
      {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
      {% else %}
        <div id="about">

          {% trans %}
            <h1>About Etsin</h1>
            <p>Etsin is a research data finder. In the service you can search and find data from various fields of research. The metadata contained in Etsin makes it easy for anyone to discover the datasets. Etsin makes it possible to enter metadata on datasets into the service, making them discoverable and reusable for others.  The service is discipline independent and free to use. The actual research data may be stored anywhere and the owner controls the access to the data. </p>
          {% endtrans %}

          <ul class="link-list centered-container" style="text-aling:center">
            <li><a href="{{ _('http://openscience.fi/documents/14273/17985/Etsin+Service+Description') }}" target="_blank">{{ _('Service description') }}</a> | </li>
            <li><a href="{{ _('http://openscience.fi/documents/14273/17985/Etsin+Terms+of+Use') }}" target="_blank">{{ _('Terms of use') }}</a> | </li>
            <li><a href="{{ _('http://openscience.fi/documents/14273/17985/Etsin+Privacy+Policy') }}" target="_blank">{{ _('Privacy policy') }}</a></li>
          </ul>

          {% trans %}
            <h2>Metadata</h2>
            <p> Good description of data plays an important role in its discoverability and visibility. Etsin encourages comprehensive descriptions by adapting a common set of discipline independent metadata fields and by making it easy to enter metadata. </p>
          {% endtrans %}

          {% trans %}
            <h2>Licensing</h2>
            <p>The ownership and usage rights of the dataset are described in Etsin.</p>
            <p>All dataset metadata in Etsin are made available under <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons 0 licence</a>.</p>
            <p>Data owners decide on the licence of the research data described in Etsin. For open data, <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons BY 4.0</a> licence is recommended.</p>
          {% endtrans %}

            <div class="centered-container img-short">
              <a href="{{ _('http://creativecommons.org/publicdomain/zero/1.0/') }}" target="_blank">
                  <img src="../../base/images/about_logo_cc-zero.png" title="CC0" width="128px"></a>
              <a href="{{ _('https://creativecommons.org/licenses/by/4.0/') }}" target="_blank">
                  <img src="../../base/images/about_logo_cc-by.png" title="CC BY 4.0" width="128px"></a>
            </div>

          {% trans %}
            <h2>Integrated sources</h2>
            <p>Etsin also gathers metadata about existing research data from various external sources, such as the Finnish Social Science Data Archive and the Language Bank of Finland.</p>
            <p>We invite suggestions on additional metadata sources to be integrated into Etsin. If you are a producer or owner of research data and would be interested in increasing its visibility through Etsin, please contact <a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a></p>
          {% endtrans %}


          <div class="centered-container img-tall">
              <a href="{{ _('http://www.fsd.uta.fi/en/') }}" target="_blank">
                  <img src="../../base/images/about_logo_fsd.png" title="{{ _("Finnish social science data archive") }} - {{ _('Data Archive and Aila Data Service') }}"></a>
              <a href="{{ _('https://services.fsd.uta.fi/index?lang=en') }}" target="_blank">
                  <img src="../../base/images/about_logo_aila.jpg" title="{{ _("Finnish social science data archive") }} - {{ _('Data Archive and Aila Data Service') }}"></a>
                <a href="http://metashare.csc.fi/" target="_blank">
                    <img src="../../base/images/about_logo_kielipankki.jpg" title="{{ _("Language bank of Finland") }} - {{ _('Browse language resources') }}"></a>
            </div>

          {% trans %}
            <h2>API</h2>
            <p>In addition to the graphical user interface, data in Etsin may be used through an <a href="http://etsin.avointiede.fi/api/3" target="_blank">open interface</a>.</p>
            <p><a href="http://etsin.avointiede.fi/fi/help#api-reference" target="_blank">Instructions on how to use the Etsin API</a> may be found in the help section.</p>
            <p><a href="http://docs.ckan.org/en/ckan-2.1.2/api.html" target="_blank">General documentation of the CKAN API</a> may be found on the CKAN pages.</p>
          {% endtrans %}

          {% trans %}
            <h2>Development</h2>
            <p>Etsin is based on open source CKAN data portal. The open source code created in the development of Etsin is available from our GitHub repository. The development work utilizes the PyCharm editor.</p>
            <p>To contact the Etsin development team please email <a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a></p>
          {% endtrans %}

            <div class="centered-container img-short">
              <a href="http://ckan.org/" target="_blank">
                <img src="../../base/images/about_logo_ckan.png"></a>
              <a href="https://github.com/kata-csc" target="_blank">
                <img src="../../base/images/about_logo_github.png"></a>
              <a href="https://www.jetbrains.com/pycharm/" target="_blank">
                <img src="../../base/images/about_logo_pycharm.jpg" style="max-height:48px;"></a>
            </div>

          {% trans %}
            <h2>Contact</h2>
            <p>Etsin is offered to the scientific community by the Ministry of Education and Culture of Finland. Etsin is developed and maintained by CSC - IT Center for Science Ltd.</p>
            <p>Customer service contacts and feedback is available through <a href="mailto:servicedesk@csc.fi">servicedesk@csc.fi</a>.</p>
            <p>The service maintenance window is on the fourth Monday of every month between 4 and 6 PM (EET). During that time, the service will be out of use.</p>
          {% endtrans %}

        <!--
            <div class="centered-container img-tall">
              <a href="{{ _('http://www.minedu.fi/OPM/?lang=en') }}" target="_blank">
                  <img src="{{ _('../../base/images/about_logo_okm_en.png') }}" title="{{ _('Ministry of Education and Culture of Finland') }}"></a>
              <a href="{{ _('http://openscience.fi/') }}" target="_blank">
                  <img src="{{ _('../../base/images/about_logo_att_en.jpg') }}" title="{{ _('Open Science and Research Initiative') }}"></a>
              <a href="{{ _('https://www.csc.fi/en') }}" target="_blank">
                  <img src="../../base/images/about_logo_csc.jpg" title="{{ _('CSC - IT Center for Science') }}"></a>
            </div>
        -->

        </div>

  {% endif %}

  {% endblock%}
 
