  {% ckan_extends %}
  {% block about %}
      {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
      {% else %}
        <div id="about">
          {% trans %}
            <h2>About Kata metadata catalogue</h2>
            <p>
             Kata collects metadata of research data from various external sources
             as well as provides a web interface to add metadata straight into Kata.
             The data is never stored in Kata so it can be placed anywhere but with
             the help of Kata it can be found by anyone.
            </p>
            <p>
             Comprehensive depiction of data plays a very important role in visibility
             of data. Kata encourages this by adapting the minimum metadata model and
             its discipline independent metadata fields. With the help of Kata's various
             tools adding the common metadata fields is made easier. The service also
             promotes adding unified information about usability, ownership and licensing of data.
             Important data to funders is also provided which promotes reporting.
             Kata's powerful search tools will help to find the data which in its part
             brings merit to the researchers.
            </p>
            <p>
             Kata service is provided by the Ministry of Education and Culture of Finland.
             Kata is maintained by CSC - IT Center for Science. The service is discipline
             independent and free.
            </p>
          {% endtrans %}
        </div>
      {% endif %}
  {% endblock%}
 
