{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container">
      {{ self.flash() }}
      {% block primary_content %}
        <div class="hero-primary module module-popup">
          <div class="module-content">
            {% block home_primary %}
              <header>
                {% if g.site_intro_text %}
                  <div class=index-additional-info">
                    {{ h.render_markdown(g.site_intro_text) }}
                  </div>
                {% endif %}
                  {% block home_primary_content %}
                    {% block home_primary_heading %}
                    {% endblock %}
                    {% block home_primary_text %}
                      <h3>
                        {{ _('What is Etsin?') }}
                      </h3>
                      <p>
                        {{ _('Etsin is a research data finder. The service gathers data from various fields of research to be searched and reused. Etsin allows you to search for data according to your needs and to provide your own datasets for others to find and reuse.') }}
                      </p>
                      <p>
                        {{ _('The research data itself is not stored in Etsin. Rather, Etsin allows you to search for and browse datasets based on their metadata.') }}
                      </p>
                      <h3>
                        {{ _('What is metadata?') }}
                      </h3>
                      <p>
                        {{ _('Metadata is data about data. This is a record that provides information describing the data and how to access it. Firstly, metadata describes important features of the data such as authors, subjects, the fields of research the data pertains to, storage formats, and licenses.') }}
                      </p>
                      <p>
                        {{ _('However, the content of metadata varies depending on what kind of data is being described. The Etsin provides a common ground by employing a common set of metadata fields tailored for research data. In the interest of consistency with other services, the metadata conforms to the minimum metadata model defined by the Finnish National Research Data Initiative (TTA).') }}
                      </p>
                      <h3>
                        {{ _('Is this service for me?') }}
                      </h3>
                      <p>
                        {{ _('Etsin aims to collect datasets from various sources and from various fields of science and to be a single point of access to all kinds of research data.') }}
                      </p>
                      <p>
                        {{ _('You do not have to be a professional scientist or researcher in order to search for data. Useful data can be generated and reused anywhere and by anyone.') }}
                      </p>
                      <h3>
                        {{ _('Is all of the data open?') }}
                      </h3>
                      <p>
                        {{ _('Almost all of the metadata is open, but it is for the author to decide how the data itself can be accessed and by whom. Nevertheless, providing your data openly is recommended.') }}
                      </p>
                      <h3>
                        {{ _('Terms of use') }}
                      </h3>
                      <p>
                        <a href="{{ _('http://www.tdata.fi/kayttoehdot') }}">{{ _('Terms of use') }}</a>
                      </p>
                      <p>
                        <a href="{{ _('http://www.tdata.fi/henkilorekisteriseloste') }}">{{ _('Privacy policy for personal information') }}</a>
                      </p>
                    {% endblock %}
                  {% endblock %}

              </header>
            {% endblock %}

            {% block home_image %}
            {% endblock %}
          </div>
          {% block additional_info %}
            <div class="index-additional-info">     
              <h4 class="module-heading-add-dataset">{{ _('Tools and additional information') }}</h4>
              <div class="module-content"> 
                <p>
                  {{ _('The minimum metadata model recommends a common set of metadata fields. Explore the minimum metadata model (in Finnish):') }}<br /><br />
                  <a href="{{ _('http://www.tdata.fi/documents/10180/44526/TTA-minimimetatietomalli/c90929e4-3b7e-42a2-8419-a6481decb67d') }}"><span class="format-label" data-format="pdf" property="dc:format"></span> {{ _('Minimum metadata model') }}</a> {{ _('(In Finnish)') }}
                </p>
                <p>
                  {{ _('The preferred license  is the Creative Commons 4.0 family. Learn more about the licenses at Creative Commons:') }}<br /><br />
                <a href="{{ _('http://creativecommons.org/choose/?lang=en') }}"><img src="http://i.creativecommons.org/l/by/4.0/88x31.png"></a>
                </p>
              </div>   
            </div>
          {% endblock %}
    
        </div>
      {% endblock %}
      
      <div class="hero-secondary">
        <div class="hero-secondary-inner">
      
          {% block home_secondary_content %}
            <div class="module module-shallow module-narrow module-dark info box">
              {% block home_search %}
                <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
                  <h3 class="heading">{{ _("Search Data") }}</h3>
                  <div class="search-input control-group search-giant">
                    <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. climate') }}" />
                    <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                  </div>
                </form>
              </div>
            {% endblock %}
            {% block package_list %}
              <section class="module">
                  <h4 class="module-heading-add-dataset">{{ _("Newest datasets") }}</h4>
                  <div class="module-content">
                    {% set list_class = "unstyled dataset-list" %}
                    {% set item_class = "dataset-item module-content new-dataset" %}
                    {% snippet 'snippets/package_list.html', packages=c.datasets, list_class=list_class, item_class=item_class, truncate=50 %}
                  </div>
              </section>
            {% endblock %}  
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{# Add here links to services that provide data to Etsin, as we get them #}
{% block secondary_content %}
        <h1>{{ _('Integrated metadata sources') }}</h1>
        <section class="module">
            <h4 class="module-heading-add-dataset">{{ _("Finnish social science data archive") }} - {{ _('Data Archive and Aila Data Service') }}</h4>
            <div class="module-content">
                <a href="http://www.fsd.uta.fi/en/">
                    <img src="{{ _('../../base/images/img_fsd_logo_en.png') }}"></a>
                <a href="{{ _('https://services.fsd.uta.fi/index?lang=en') }}">
                    <img src="{{ _('../../base/images/logo_aila_en.png') }}"></a>
            </div>
        </section>
        <h1>{{ _('Other research metadata services in Finland') }}</h1>
        <section class="module">
            <h4 class="module-heading-add-dataset">{{ _("Language bank of Finland") }} - {{ _('Browse language resources') }}</h4>
            <div class="module-content">
                <a href="https://metashare.csc.fi/">
                    <img src="../../base/images/logo_lb.png"></a>
            </div>
        </section>
        <section class="module">
            <h4 class="module-heading-add-dataset">{{ _("About the service") }}</h4>
            <div class="module-content">

                <span class="tta-orange strong">
                    {{ _('Maintenance window: Every fourth monday of each month from 4 pm to 6 pm') }}
                </span>
            </div>
        </section>
{% endblock %}
{% block home_tags %}
{% endblock %}
