{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container">
      {{ self.flash() }}
      {% if h.is_backup_instance() %}
      <p>
        <span class="tta-orange"><b>
        {{ _('There is a maintenance break in service')}}. {{ _('You can not add or edit data during maintenance break')}}. </b></span>
      </p>
      <br />
      {% endif %}
      {% block primary_content %}
        <div class="hero-primary module module-popup">
          <div class="module-content">
            {% block home_primary %}
              <header>
                {% if g.site_intro_text %}
                  <div class=index-additional-info">
                    {{ h.render_markdown(g.site_intro_text) }}
                  </div>
                {% endif %}
                  {% block home_primary_content %}
                    {% block home_primary_heading %}
                    {% endblock %}
                    {% block home_primary_text %}
                      <h3>
                        {{ _('What is Etsin?') }}
                      </h3>
                      <p>
                        {{ _('Etsin enables you to find research datasets and to make your own datasets discoverable to others.') }}
                      </p>
                      <p>
                        {{ _('Etsin offers access to datasets in various fields via a joint metadata model. The descriptive metadata stored in the service includes information on the authors, subject, format and licensing of the data.') }}
                      </p>
                        {{ _('Etsin works independently of actual data storage location.') }}
                      </p>
                      <h3>
                        {{ _('Is this service for me?') }}
                      </h3>
                      <p>
                        {{ _('Anyone can use Etsin to search for research datasets. Authenticated users may enter information on their own datasets, and of others\' datasets with their permission.') }}
                      </p>
                      <p>
                        {{ _('Etsin aims to collect information on datasets from various sources and from various fields. You do not have to be a professional scientist or researcher in order use the service.') }}
                      </p>
                      <h3>
                        {{ _('Is all of the data open?') }}
                      </h3>
                      <p>
                        {{ _('The published metadata on the dataset is open to everyone, but the data owner decides how the data can be accessed and by whom. Nevertheless, sharing your data openly is recommended. You will find more information on the ') }}
                        <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About Etsin') }}</a>{{ _(' page.') }}
                      </p>
                      <h3>
                        {{ _('Short user guide') }}
                      </h3>
                      <p>
                        <ol type="1">
                          <li>
                            {% trans %}
                              You can <i>search</i> for datasets and <i>add</i> descriptive data, aka metadata, for a dataset.
                            {% endtrans %}
                          </li>
                          <li>
                              {{ _('You find datasets either by typing a keyword in the search field or via the advanced search.') }}
                          </li>
                          <li>
                              {{ _('In order to add data you first need to authenticate yourself by') }} <a href="https://haka.funet.fi/shibboleth/help.php">{{ _('Haka login') }}</a>
                          </li>
                          <li>
                              {{ _('A comprehensive description of your data makes it easier for others to find it and make use of it. Etsin will assist you in filling in the data.') }}
                          </li>
                        </ol>
                      </p>
                    {% endblock %}
                  {% endblock %}

              </header>
            {% endblock %}

            {% block home_image %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
      
      <div class="hero-secondary">
        <div class="hero-secondary-inner">
      
          {% block home_secondary_content %}
            <div class="module module-shallow module-narrow module-dark info box">
              {% block home_search %}
                <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
                  <h3 class="heading">{{ _("Search data") }}</h3>
                  <div class="search-input control-group search-giant">
                    <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. climate') }}" />
                    <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                  </div>
                </form>
              </div>
            {% endblock %}
            {% block package_list %}
              <section class="module">
                  <h4 class="module-heading-add-dataset">{{ _("Newest datasets") }}</h4>
                  <div class="module-content">
                    {% set list_class = "unstyled dataset-list" %}
                    {% set item_class = "dataset-item module-content new-dataset" %}
                    {% snippet 'snippets/package_list.html', packages=c.datasets, list_class=list_class, item_class=item_class, truncate=50, small=True %}
                  </div>
              </section>
            {% endblock %}  
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{# Add here links to services that provide data to Etsin, as we get them #}
{% block secondary_content %}
        <h1>{{ _('Integrated metadata sources') }}</h1>
        <section class="module">
            <h4 class="module-heading-add-dataset">{{ _("Finnish social science data archive") }} - {{ _('Data Archive and Aila Data Service') }}</h4>
            <div class="module-content">
                <a href="{{ _('http://www.fsd.uta.fi/en/') }}" target="_blank">
                    <img src="{{ _('../../base/images/img_fsd_logo_en.png') }}"></a>
                <a href="{{ _('https://services.fsd.uta.fi/index?lang=en') }}" target="_blank">
                    <img src="{{ _('../../base/images/logo_aila_en.png') }}"></a>
            </div>
        </section>
        <section class="module">
            <h4 class="module-heading-add-dataset">{{ _("Language bank of Finland") }} - {{ _('Browse language resources') }}</h4>
            <div class="module-content">
                <a href="http://metashare.csc.fi/" target="_blank">
                    <img src="../../base/images/logo_lb.png"></a>
            </div>
        </section>
{% endblock %}
{% block home_tags %}
{% endblock %}
