[groups]

kata =
    javascript/jqueryui/jquery-ui-main.js
    javascript/jquerytimepicker/jquery-ui-timepicker-addon.js
    javascript/kata-modules/dateselect-modules-kata.js
    javascript/kata-modules/kata-notification-tools.js
    javascript/custom-fields-kata.js
    javascript/advanced-search-kata.js
    javascript/kata-modules/kata-widgets.js
    javascript/kata-modules/kata-save-tools.js
    javascript/kata-modules/kata-terms-of-use.js
    javascript/kata-modules/kata-leave-info.js
