{% extends "page.html" %}
{% import 'macros/kata_form.html' as kata_form %}

{% block content %}

<div id="etsin-main">
  <div class="etsin-container etsin-dataset-add">
    <div class="container">
      <div class="row-fluid">
        <div class="actions-container">
          <div class="import-xml dropdown {{ class if class else '' }}">
            <a href="#" class="btn btn-default" data-toggle="dropdown">
              {{ _('Upload XML') }}
            </a>
            <div class="dropdown-menu">
              {% snippet "package/snippets/import_xml.html" %}
            </div>
          </div>
          <div class="tooltip-big">
              {{ kata_form.tooltip(tooltip=_('Fill in the fields or use an xml file to prefill the form. For more instructions, click the button marked with a question mark next to a field or visit <a href="http://openscience.fi/etsin-user-instructions" target="_blank">http://openscience.fi/etsin-user-instructions.</a>')) }}
            </div>
        </div>

        <h2 class="pagetitle">{{ _("Add Dataset") }}</h2>
        <p>* = {{ _("required information") }}</p>

        {% block form %}{{ c.form | safe }}{% endblock %}

      </div>
    </div> <!-- container -->
  </div> <!-- etsin-container -->
</div> <!-- main -->

{% endblock %}

{# block resources_module #}
  {# TODO: Pass in a list of previously created resources and the current package dict #}
  {# snippet "package/snippets/resources.html", pkg={}, action='new_resource' #}
{# endblock #}
