<div data-module="custom-fields">
<div class="control-group control-custom">
<label class="control-label" for="title">{{ _('Title: English') }}</label>
	<div class="controls editor">
	    <div class="input-prepend">
			<label for="title" class="add-on">{{ _('Value') }}</label>
			<input type="text" id="title" name="title_en" value="{{data.title_en}}" />
	    </div>
	</div>
</div>
<div class="control-group control-custom">
<label class="control-label" for="title">{{ _('Title: Finnish') }}</label>
	<div class="controls editor">
	    <div class="input-prepend">
			<label for="title" class="add-on">{{ _('Value') }}</label>
			<input type="text" id="title" name="title_fi" value="{{data.title_fi}}" />
	    </div>
	</div>
</div>
</div>