{% ckan_extends %}

{% block content %}

<div id="etsin-main">
  <div class="etsin-container read-base-container">
    <div class="container container-medium">
      {% block flash %}
        {{ super() }}
      {% endblock %}
      <div class="row-fluid">
        {%- block inner_content %}

          <div class="dataset-section form-tab-content">
            <div class="form-row">
              <div class="form-label">{{ _('Metadata supplement') }}</div>
              <div class="form-content">
                {% block form %}{{ super() }}{% endblock %}
              </div>
            </div>
          </div>

        {% endblock -%}
      </div>
    </div>
  </div>
</div>

{% endblock %}
