{% extends "package/read_base.html" %}
{% import 'macros/kata_form.html' as kata_form %}

{% set pkg = c.pkg_dict %}
{% set title = h.get_translation(pkg.title) %}
{% set has_update_rights = h.check_access('package_update', {'id':pkg.id }) %}

{% block subtitle %}{{ title or pkg.name }}{% endblock %}

{% block inner_content %}
  <h2 class="page-title">{{ title | safe or pkg.name }}
    {% if pkg.state.startswith('draft') %}
      [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="icon-lock"></i>
      {% if has_update_rights %}
        <a href="{{ h.url_for(controller='package', action='edit', id=pkg.name) }}">
      {% endif %}
      {{ _('Unpublished') }}
      {% if has_update_rights %}</a>{% endif %}
    </span>
  {% endif %}</h2>

  <div class="dataset-view-header">

    <div class="actions-and-ratings">
      <div class="button-container">
        <div class="btn-group">
        {% set pkg_url = h.url_for(controller='package', action='read', id=pkg.name) %}
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ _('Export as ...') }}<i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu pull-right">
            <li><a href="{{ pkg_url + '.xml' }}" download>RDF/XML</a></li>
            <li><a href="{{ pkg_url + '.ttl' }}" download>Turtle</a></li>
            <li><a href="{{ pkg_url + '.jsonld' }}" download>JSON-LD</a></li>
            <li><a href="{{ pkg_url + '.n3' }}" download>Notation3</a></li>
          </ul>
        </div>

        {% if has_update_rights %}
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{ _('Edit') }}<i class="icon-chevron-down"></i>
            </button>

            <ul class="dropdown-menu pull-right">
              <li>
                {% link_for _('Edit metadata'), controller='package', action='edit', id=pkg.name, class_='', icon='' %}
              </li>

              {% if h.dataset_is_valid(pkg) %}
              <li>
                <a href="{{ h.url_for(controller='package', action='new_resource', id=pkg.name)  }}" class="">{{ _('Add new supplement') }}</a>
              </li>
              {% else %}
                <!-- TODO should this be shown somewhere? -->
                {# _('Dataset has invalid information. Please add all required information to add supplements.') #}
              {% endif %}

              <li>
                {% link_for _('History'), controller='package', action='history', id=pkg.name, class_='', icon='' %}
              </li>
              {% if h.check_access('package_delete', {'id': pkg.id}) %}
                {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
                 <li>
                  <a href="{% url_for controller='package', action='delete', id=pkg.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
                </li>
              {% endif %}

            </ul>
          </div>
        {% endif %}
      </div>

      <div class="completeness">
        {% set (rating, stars)=h.get_package_ratings(pkg) %}
        <div class="meter">
          <span class="rating{{rating}}"></span>
          <p>{{ _('Metadata completeness') }}<br /><span class="number">{{ rating * 100 / 5 }} %</span></p>
        </div>
      </div>

    </div>

    <div class="uses-and-followers">
      <table>

        {# Disabled since activity streams are not enabled currently
        <tr>
          <td>{{ _('Followers') }}</td>
          <td>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</td>
          <td>{{ h.follow_button('dataset', pkg.name) }}</td>
          <td></td>
        </tr>
        #}

        <tr>
          <td>{{ _('Data used') }}</td>
            <td></td>

          {% set showcase_count = h.get_package_showcase_count(pkg.id) %}
          <td>
            <div class="btn-group" role="group" aria-label="...">
              {% set showcase_list_link = h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='dataset_showcase_list', id=pkg.name) %}
              {% set new_showcase_link = h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='new_direct', package_id=pkg.name) %}
              <a href="{{ showcase_list_link }}" class="btn btn-default"> {{_("{} times").format(showcase_count)}} </a>
              <a href ="{{ new_showcase_link }}" class="btn btn-default"><i class="icon-plus no-margin"></i></a>
            </div>
          </td>

          <td><div class="tooltip-big">
            {{ kata_form.tooltip(tooltip=_("If you are logged in, you can click the plus-sign and tell about how this dataset has been reused by filling the form that opens. After you have saved the reuse information, they will be shown to any user who clicks the button on the left. The button shows the number of reuse cases that have been reported.")) }}
          </div></td>

        </tr>
      </table>

      {% snippet "snippets/social.html" %}

    </div>

    <div class="clearfix"></div>
  </div>
  <div class="dataset-view-content">
    {% snippet "package/snippets/metadata_info.html", pkg_dict=pkg, user=c.userobj, pkg_notes_formatted=c.pkg_notes_formatted %}

    <section class="module-content">
      <hr style="width:100%" />
        {% snippet "package/comment_list.html", pkg_id=c.pkg.name, pkg_name=c.pkg.name, userobj=c.userobj %}
    </section>
  </div>
{% endblock %}
