{% extends "page.html" %}

{% set pkg = c.pkg_dict %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}
{% block add_action_content %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}</li>
    <li>{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn', icon='sitemap' %}</li>
  {% else %}
    <a href="{{ h.url_for(controller='ckanext.kata.controllers:AccessRequestController', action='render_edit_request', pkg_id=pkg.id) }}" class="btn btn-primary">
    <i class="icon-plus-sign"></i>
    {{ _('Request metadata editing rights') }}
  </a>

  {% endif %}
  <li>{{ h.follow_button('dataset', pkg.id) }}</li>
  
{% endblock %}

{% block breadcrumb_content %}
  {% set dataset = pkg.title or pkg.name %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li class="active"><a href="" title="{{ dataset }}">{{ dataset|truncate(35) }}</a></li>
{% endblock %}

{% block primary_content %}
  {% block package_revision_info %}
    {% if c.pkg_revision_id %}
      <div class="module info">
        <p class="module-content">
          {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
          {% set url =  h.url(controller='package', action='read', id=pkg.name) %}

          {% if c.pkg_revision_not_latest %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          {% else %}
            {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  <article class="module prose">

    {% block package_header %}
      <header class="module-content page-header">
        <ul class="nav nav-tabs">
          <li{% if c.action == 'read' %} class="active"{% endif %}>
            {% link_for _('Dataset'), controller='package', action='read', id=pkg.name %}
          </li>
          <li{% if c.action == 'activity' %} class="active"{% endif %}>
            {% link_for _('Activity Stream'), controller='package', action='activity', id=pkg.name, icon='time' %}
          </li>
          {% if h.check_access('sysadmin') %}
            <li{% if c.action == 'followers' %} class="active"{% endif %}>
              {% link_for _('Followers'), controller='package', action='followers', id=pkg.name, icon='group' %}
            </li>
          {% endif %}
          <li{% if c.action == 'related' %} class="active"{% endif %}>
            {% link_for _('Related'), controller='related', action='list', id=pkg.name, icon='picture' %}
          </li>
        </ul>
      </header>
    {% endblock %}

    {% block package_content %}

      {% block package_description %}
      {% set (rating, stars)=h.get_package_ratings(pkg) %}
      <div class="rating-container">
        {{ _('Metadata score:') }}
        <span class="rating" title="{{ _('Metadata score {rating}/5').format(rating=rating) }}">{{ stars }}</span>
      </div>

      <h2 class="module-content">{{pkg.title}}</h2>
        {% snippet "package/snippets/metadata_info.html", pkg_dict=pkg, user=c.userobj, pkg_notes_formatted=c.pkg_notes_formatted %}

      {% endblock %}

      {% block package_resources %}
        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
      {% endblock %}

      {% block package_additional_info %}
        {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
      {% endblock %}

    {% endblock %}
  </article>
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_groups %}
    {% for group in pkg.groups %}
      {% snippet "snippets/group.html", group=group, truncate=70 %}
    {% endfor %}
  {% endblock %}

  {% block package_metadata %}
     {% snippet "package/snippets/rdfgen.html", pkg_name=pkg.name %}
  {% endblock%}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  {% block package_related %}
    {% snippet "snippets/related.html", item=c.pkg.related|last, pkg_name=pkg.name %}
  {% endblock %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
