{% extends "package/read_base.html" %}

{% set pkg = c.pkg %}

{% block inner_content %}
  <h2 class="page-title">{{ h.get_translation(pkg.title) or pkg.name }}
    {% if pkg.state.startswith('draft') %}
      [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="icon-lock"></i>
      {{ _('Unpublished') }}
    </span>
  {% endif %}</h2>

  <div class="dataset-view-header">

    <div class="actions-and-ratings">
      <div class="button-container">
        <a class="btn btn-default" href={{h.url_for(controller='package', action='read', id=pkg.name)}}>
          {{ _('Show dataset') }}
        </a>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ _('Edit') }}<i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu pull-right">
            {% set has_update_rights = h.check_access('package_update', {'id':pkg.id }) %}
            {% if has_update_rights %}
            <li>
              {% link_for _('Edit metadata'), controller='package', action='edit', id=pkg.name, class_='', icon='' %}
            </li>
            {% endif %}

            {% if h.dataset_is_valid(c.pkg_dict) %}

            <li>
              <a href="{{ h.url_for(controller='package', action='new_resource', id=pkg.name)  }}" class="">{{ _('Add new supplement') }}</a>
            </li>
            {#% else %#}
              <!-- TODO should this be shown somewhere? -->
              {# _('Dataset has invalid information. Please add all required information to add supplements.') #}
            {% endif %}


            {% if has_update_rights %}
            <li>
              {% link_for _('History'), controller='package', action='history', id=pkg.name, class_='', icon='' %}
            </li>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="completeness">
        {% set (rating, stars)=h.get_package_ratings(c.pkg_dict) %}
        <div class="meter">
          <span class="rating{{rating}}"></span>
          <p>{{ _('Metadata completeness') }}<br><span class="number">{{ rating * 100 / 5 }} %</span></p>
        </div>
      </div>

    </div>

    <div class="uses-and-followers">
      <table>
        <tr>
          <td>{{ _('Followers') }}</td>
          <td>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</td>
          <td>{{ h.follow_button('dataset', pkg.name) }}</td>
        </tr>
        <tr>
          <td>{{ _('Data used') }}</td>
          {% if c.pkg.related_count > 0 %}
            <td>{% link_for c.pkg.related_count, controller='related', action='list', id=pkg.name %} {{ _('times') }}</td>
          {% else %}
            <td>{{ c.pkg.related_count }} {{ _('times') }}</td>
          {% endif %}
          <td>{% link_for _('Advertise reuse'), controller='related', action='new', id=pkg.name, class_='btn btn-default' %}</td>
        </tr>
      </table>

      {% snippet "snippets/social.html" %}

    </div>

    <div class="clearfix">
      <div class="pull-right">
        {% link_for _('Add Related Item'), controller='related', action='new', id=pkg.name, class_='btn btn-primary' %}
      </div>
    </div>
  </div>

    <div id="related-list">

        <h2 class="hide-heading">{% block page_heading %}{{ _('Related Media for {dataset}').format(dataset=h.dataset_display_name(c.pkg)) }}{% endblock %}</h2>
        {% block related_list %}
          {% if c.pkg.related %}
            <div class="related-item-list">
              {% snippet "related/snippets/related_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}
            </div>
          {% else %}
            <p class="empty">{{ _('No related items') }}</p>
          {% endif %}
        {% endblock %}
        {% block form_actions %}
        {% endblock %}

    </div>

{% endblock %}
