{% extends "page.html" %}
{% import 'macros/kata_form.html' as kata_form %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block content %}

  <div id="etsin-main">
    <div class="etsin-container">
      <div class="container">
        <div class="row-fluid">
          <h2 class="etsin-secondary-title">{{ _("Search for a Dataset") }}</h2>

          <form id="dataset-search" class="dataset-search clearfix search-form" method="get" data-module="select-switch">
            <div class="search-terms">
               <div class="search-input control-group search-giant">
                 <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
                   placeholder="{{ _('Enter search term or query…') }}">
                 <button type="submit" value="search">
                   <i class="icon-search"></i>
                   <span>{{ _('Submit') }}</span>
                 </button>
               </div>

              {% if c.fields -%}
                <span>
                  {%- for k, v in c.fields -%}
                    <input type="hidden" name="{{ k }}" value="{{ v }}"/>
                  {% endfor -%}
                </span>
              {%- endif %}
            </div>

            {# TODO: functionality for quick selections: open data & time limiting #}
            <!--
            <div class="search-extras form-inline">
              <label class="checkbox">
                <input type="checkbox">{{ _('Open data') }}
              </label>
              <label class="checkbox">
                <input type="checkbox">{{ _('Since year') }}
              </label>
              <input type="text" class="input-small since-year" value="2010">
            </div>
            -->

          </form>

        </div>
      </div>
    </div>
    <div class="etsin-container etsin-container-bg">
      <div class="container">
      <div class="row-fluid">

        <div id="search-results-kata">
        {% if c.query_error %}
          <div class="error">
          {% trans %}
          <p><strong>There was an error while searching.</strong> Please try again.</p>
          {% endtrans %}
          </div>
        {% endif %}

        {% block search_title %}
          {% if not no_title %}
            <span class="number-of-results">
              {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}
            </span>
          {% endif %}
        {% endblock %}


        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set active_facets = h.get_active_facets(facets) %}

        <div class="search-results-tools">
          <div class="accordion kata-accordion" id="search-results-tools" data-module="kata-facet-accordion" data-module-facets="{{ active_facets }}">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-results-tools" href="#collapse0">
                  {{ _('Limit search results') }}
                </a>
              </div>
              <div id="collapse0" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% for facet in c.facet_titles %}
                    {% set is_active = h.is_active_facet(facet, active_facets) %}
                    {{ h.snippet('snippets/facet_list_new.html', title=c.facet_titles[facet], name=facet, fields=c.fields_grouped, limits=c.search_facets_limits, is_visible=is_active or loop.index0 < 3) }}
                  {% endfor %}
                  <a class="action-link" id="etsin-facet-list-toggle">{{ _('More/less…')}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="search-results-list">
          {{ h.snippet('snippets/package_list.html', packages=c.page.items, numbered=True) }}
        </div>

        {{ c.page.pager(q=c.q) }}

      </div> <!-- row-fluid -->
    </div> <!-- container -->
  </div>
  </div>

{% endblock %}
