{% extends "page.html" %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Search Datasets'), controller='package', action='search', highlight_actions = 'new
  index') }}
</li>
{% endblock %}

{% set adv_classes = 'advanced_search_toggled' %}
{% set basic_classes = 'basic_search_toggled' %}

{% if c.search_extras %}
  {% set basic_classes = basic_classes ~ ' hidden' %}
{%- else %}
  {% set adv_classes = adv_classes ~ ' hidden' %}
{% endif %}


{% block primary_content %}
<section class="module" id="search-toggle">
  <h2 class="module-heading">
    <span class="{{ basic_classes }}">{{ _('Basic search') }}</span>
    <span class="{{ adv_classes }}">{{ _('Advanced search') }}</span>
    <a id="toggle_advanced" class="module-link {{ basic_classes }}" onclick="toggle_search('advanced');" href="#">{{ _('Advanced search') }}</a>
    <a id="toggle_basic" class="module-link {{ adv_classes }}" onclick="toggle_search('basic');" href="#">{{ _('Basic search') }}</a>
  </h2>
</section>
<section class="module">
  <div class="module-content">

    <form id="dataset-search" class="dataset-search clearfix {{ basic_classes }}" method="get" data-module="select-switch">
      <span class="control-group search-giant">
        <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
               placeholder="{{ _('Search...') }}"/>
        <button type="submit" value="{{ _('Search') }}">Submit</button>
      </span>

      {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}

      {% if c.fields -%}
        <span>
          {%- for k, v in c.fields -%}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
          {% endfor -%}
        </span>
      {%- endif %}

      <div id="dataset-search-ext"></div>
    </form>

    <form id="advanced-search" class="dataset-search clearfix {{ adv_classes }}" method="get" data-module="advanced-search-kata">
      <span class="control-group">

        {% if c.search_extras %}

          {% for (searched_field, search_text) in c.search_extras %}
            <select id="advanced-search-{{ loop.index }}-by">
              {% for option_field in c.search_fields -%}
                <option value="{{ option_field }}"
                    {% if option_field == searched_field -%}
                      selected="selected"
                    {%- endif -%}
                    >{{ c.translated_field_titles[option_field] }}</option>
              {%- endfor %}
            </select>
            <input id="advanced-search-{{ loop.index }}-text" type="text" class="search" name="{{ searched_field }}" value="{{ search_text }}"
                   autocomplete="off" placeholder="{{ _('Search this field...') }}"/>
          {% endfor %}

        {% else %}

          <select id="advanced-search-1-by">
            {% for field in c.search_fields %}
            <option value="{{ field }}">{{ c.translated_field_titles[field] }}</option>
            {% endfor %}
          </select>
          <input id="advanced-search-1-text" type="text" class="search" name="{{ c.search_fields | first }}" value=""
                 autocomplete="off" placeholder="{{ _('Search this field...') }}"/>

        {% endif %}

        <button type="submit" value="{{ _('Search') }}">Submit</button>
      </span>

      <div data-module="select-switch" data-module-id="advsearch" id="advsearch">
        {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}
      </div>

      {% if c.fields -%}
        <span>
          {%- for k, v in c.fields -%}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
          {% endfor -%}
        </span>
      {%- endif %}

      <div id="advanced-search-ext"></div>
    </form>

    <div class="results">
      <strong>
        {%- if request.params and c.page.item_count -%}
        {{ c.page.item_count }} datasets{{ _(" found for \"{query}\"").format(query=c.q) if c.q }}
        {%- elif request.params and c.page.item_count == 0 -%}
        {{ _('Sorry no datasets found for "{query}"').format(query=c.q) }}
        {%- else -%}
        {{ _('All datasets') }}
        {%- endif -%}
      </strong>

      <div class="filter-list">
        {% for field in c.fields_grouped %}
        <span class="facet">{{ c.facet_titles.get(field) }}:</span>
        {% for value in c.fields_grouped[field] %}
          <span class="filtered pill">
            {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
              {{ c.translated_fields[(field,value)] }}
            {%- else -%}
              {{ value }}
            {%- endif %}
            <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i
                class="icon-remove"></i></a>
          </span>
        {% endfor %}
        {% endfor %}
      </div>
      {% if request.params and c.page.item_count == 0 %}
      <p class="extra">Try another search term,
        browse the datasets below or <a href="{{ h.url_for(controller='package', action='new') }}">{{ _('add your own
          data') }}</a>.
      </p>
      {% endif %}
    </div>

    {% if c.query_error %}
    {% trans %}
    <p><strong>There was an error while searching.</strong> Please try again.</p>
    {% endtrans %}
    {% endif %}
    {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
  </div>

  {{ c.page.pager(q=c.q) }}
</section>

<section class="module module-narrow module-shallow">
  <small class="module-content">
    You can also access this registry using the {{ h.link_to(_('API'), h.url_for(controller='api', action='get_api',
    ver=1)) }}
    <!--! FIXME the API Docs link should be for the version of ckan being used but the dev version of ckan needs to point to latest so not trivial -->
    (see {{ h.link_to(_('API Docs'), 'http://docs.ckan.org/en/latest/api.html') }})
    {% if g.dumps_url -%}
    or download a <a href="{{ g.dumps_url }}">full {{ g.dumps_format }} dump</a>
    {%- endif %}.
  </small>
</section>
{% endblock %}

{% block secondary_content %}
{{ h.snippet('snippets/facet_list.html', title='Keywords', name='tags') }}
{{ h.snippet('snippets/facet_list.html', title='File formats', name='extras_fformat') }}
{{ h.snippet('snippets/facet_list.html', title='Discipline', name='groups') }}
{{ h.snippet('snippets/facet_list.html', title='Author', name='authorstring') }}
{{ h.snippet('snippets/facet_list.html', title='Organization', name='organizationstring') }}
{{ h.snippet('snippets/facet_list.html', title='License', name='license') }}
{{ h.snippet('snippets/facet_list.html', title='Language', name='extras_language') }}
{% endblock %}


