{% extends "page.html" %}
{% import 'macros/kata_form.html' as kata_form %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block add_action_content %}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Search Datasets'), controller='package', action='search', highlight_actions = 'new
  index') }}
</li>
{% endblock %}

{#
{% block actions_content %}
  {% if h.check_access('package_create') %}
    <li>{% link_for _('Add Dataset'), controller='package', action='new', class_="btn btn-primary icon-large", icon="plus" %}</li>
  {% endif %}
{% endblock %}
#}
{# CREATE A HIDDEN ROW TO CLONE FROM, WITH PARSED FIELD NAMES BEGINNING WITH LEADING ___ SO THEY WON'T BE PARSED  #}

{% set current_search_rows = [{ 'field': '___' ~ c.search_fields | first,
                                'text': '',
                                'operator': 'AND'
                                }] %}

{% set advanced_search = false %}
{% if c.advanced_search or c.current_search_rows  or c.current_search_limiters %}
  {% set advanced_search = true %}
{% endif %}

{% if c.current_search_rows %}
  {% do current_search_rows.extend(c.current_search_rows) %}
{% else %}
  {% do current_search_rows.append({ 'field': c.search_fields | first, 'text': '', 'operator': 'AND' }) %}
{% endif %}


{% block primary_content %}

<article class="module">
  <header class="module-content page-header">
    <ul id="search-tabs" class="nav nav-tabs">
      <li{% if not advanced_search %} class="active"{% endif %}>
        <a href="#search-tab" data-toggle="tab">{{ _('Search') }}</a>
      </li>
      <li{% if advanced_search %} class="active"{% endif %}>
        <a href="#advanced-search-tab" data-toggle="tab">{{ _('Advanced search') }}</a>
      </li>
    </ul>
  </header>

  <section class="module-content">

    {% block primary_content_inner %}

    <div class="module-content tab-content active">

      {# Basic search tab #}

      <div id="search-tab" class="tab-pane{% if not advanced_search %} active{% endif %}">
        <form id="dataset-search" class="dataset-search clearfix" method="get" data-module="select-switch">
          <div class="search-terms">
          <span class="control-group search-giant">
            <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
                 placeholder="{{ _('Search...') }}"/>
            <button type="submit" value="{{ _('Search') }}">Submit</button>
          </span>
          {#<span class="ui-icon ui-icon-info kata-add-dataset-info"></span>
          <span class="search-infotext">
          {{ _('Use wildcard to search with various spellings, for example: cat*') }}
          </span>#}

          {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}

          {% if c.fields -%}
          <span>
            {%- for k, v in c.fields -%}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
            {% endfor -%}
          </span>
          {%- endif %}
          </div>
          <div id="dataset-search-ext"></div>
        </form>

      </div>

      {# Advanced search tab #}

      <div id="advanced-search-tab" class="tab-pane{% if advanced_search %} active{% endif %}">
        <form id="advanced-search" class="dataset-search clearfix form-horizontal" method="get" data-module="advanced-search-kata select-switch-order-by">
          <div class="search-terms">
          <span id="advanced-search-group" class="control-group">

            {% for current_row_dict in current_search_rows %}

            <div id="advanced-search-row-{{ loop.index0 }}"
                 class="control-group{% if loop.index0 == 0 %} hidden{%- endif -%}">

              {# SELECT OPERATOR (AND/OR/NOT) #}

              {% if loop.index0 != 1 %}
                {% if loop.index0 == 0 %}
                <select name="___ext_operator-{{ loop.index0 }}" class="kata-search-relation">
                {%- else -%}
                <select name="ext_operator-{{ loop.index0 }}" class="kata-search-relation">
                {%- endif -%}
                {% set operator = current_row_dict.get('operator', '') | default('AND') %}
                  <option value="AND" {% if operator == "AND" %}selected="selected"{% endif %}>{{ _('AND') }}</option>
                  <option value="OR" {% if operator == "OR" %}selected="selected"{% endif %}>{{ _('OR') }}</option>
                  <option value="NOT" {% if operator == "NOT" %}selected="selected"{% endif %}>{{ _('NOT') }}</option>
                </select>
              {% endif %}

              {# SELECT FIELD TO SEARCH BY #}

              <select id="advanced-search-by-{{ loop.index0 }}" class="kata-search-by">
                {% for option_field in c.search_fields -%}
                  <option value="{{ option_field }}"
                          {% if option_field == current_row_dict.get('field') %}selected="selected"{% endif %}>
                    {{ c.translated_field_titles[option_field] }}</option>
                {%- endfor %}
              </select>

              {# INPUT SEARCH TERM #}

              <input id="advanced-search-text-{{ loop.index0 }}" type="text" class="search"
                     name="{{ current_row_dict.get('field') ~ '-' ~ loop.index0 }}" value="{{ current_row_dict.get('text') }}"
                     autocomplete="off" placeholder="{{ _('Search...') }}"/>
              {% if loop.index0 != 1 %}
                <a id="del_search_element" href="#" onclick="remove_search_row({{ loop.index0 }})">DEL</a>
              {% else %}
                <a id="new_search_element" href="#" onclick="add_search_row({{ loop.index0 }});">ADD</a>
                <span data-module="custom-fields-kata">
                {{ kata_form.tooltip(tooltip=_('Multiple search terms are bind together with ANDs and grouped with ORs. Example: (term1 AND term2) OR (term3) OR (term4 NOT term5)')) }}
                </span>
              {% endif %}
            </div>
            {% endfor %}

            {# INPUT DATES #}

            <div id="search-fields-end"></div>
            <div class="control-group">
              <span class="form-select">
                <label class="control-label" for="advanced-search-date">{{ _('Year') }}</label>
                <div class="controls" id="advanced-search-date">
                  <input id="advanced-search-date-start" type="number"
                         pattern="[0-9]{1,4}" class="kata-search-relation" name="ext_date-metadata_modified-start"
                         value="{{ c.current_search_limiters['ext_date-metadata_modified-start'] }}"
                         autocomplete="off" placeholder="{{ _('Start year') }}"/>
                  -
                  <input id="advanced-search-date-end" type="number"
                         pattern="[0-9]{1,4}" class="kata-search-relation" name="ext_date-metadata_modified-end"
                         value="{{ c.current_search_limiters['ext_date-metadata_modified-end'] }}"
                         autocomplete="off" placeholder="{{ _('End year') }}"/>
                </div>
              </span>
            </div>
            

            <div>
            <span class="ui-icon ui-icon-info kata-add-dataset-info"></span>
            <span class="search-infotext">
              {{ _('Use wildcard to search with various spellings, for example: cat*') }}
            </span>
              <button id="advanced_search_submit" class="btn btn-primary kata-search-button" type="submit" value="{{ _('Search') }}">{{ _('Search') }}</button>
            </div>
          </span>

          {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}

          {% if c.fields -%}
          <span>
            {%- for k, v in c.fields -%}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
            {% endfor -%}
          </span>
          {%- endif %}
          </div>
          <input type="hidden" id="default_search_field" value="{{ c.search_fields | first }}"/>
          <div id="advanced-search-ext"></div>

          <span>
            <input type="hidden" name="ext_advanced-search" value="true" />
          </span>

        </form>
      </div>

      <div class="results">
        <strong>
          {% if c.q %}
            {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}
          {% else %}
          {# Desperate attempt to make the header text more sane #}
            {% if c.search_url_params|length > 1 and c.page.item_count == 0 %}
              <p class="extra">{{ _('Please try another search term.') }}</p>
            {% elif c.search_url_params|length > 1 and c.page.item_count != 0 %}
              <p class="extra">{{ _('Search results') }}</p>
            {# This will never trigger in the current setup #}
            {% else %}
              {{ _('All datasets') }}
            {% endif %}
          {% endif %}
        </strong>

        <div class="filter-list">
          {% for field in c.fields_grouped %}
          <span class="facet">{{ c.facet_titles.get(field) }}:</span>
          {% for value in c.fields_grouped[field] %}
          <span class="filtered pill">
            {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
              {{ c.translated_fields[(field,value)] }}
            {%- else -%}
              {{ value }}
            {%- endif %}
            <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i
               class="icon-remove"></i></a>
          </span>
          {% endfor %}
          {% endfor %}
        </div>

        {% if c.q and c.page.item_count == 0 %}
          <p class="extra">{{ _('Please try another search term.') }}</p>
        {% endif %}
      </div>

      {% if c.query_error %}
        {% trans %}
        <p><strong>There was an error while searching.</strong> Please try again.</p>
        {% endtrans %}
      {% endif %}
      {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
    </div>

    {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>
</article>

<section class="module module-narrow module-shallow">
  <small class="module-content">
    {{ _('You can also access this registry using the ') }}{{ h.link_to(_('API'), h.url_for(controller='api', action='get_api',
    ver=1)) }}
    <!--! FIXME the API Docs link should be for the version of ckan being used but the dev version of ckan needs to point to latest so not trivial -->
    ({{ _('see ') }} {{ h.link_to(_('API Docs'), 'http://docs.ckan.org/en/latest/api.html') }})
    {% if g.dumps_url -%}
    or download a <a href="{{ g.dumps_url }}">full {{ g.dumps_format }} dump</a>
    {%- endif %}.
  </small>
</section>
{% endblock %}

{% block secondary_content %}
{{ h.snippet('snippets/facet_list.html', title=_('Keywords'), name='tags', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('Discipline'), name='extras_discipline', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('Author'), name='authorstring', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('Organization'), name='organizationstring', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('License'), name='license_id', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('MIME'), name='mimetypestring', fields=c.fields_grouped, limits=c.search_facets_limits) }}
{{ h.snippet('snippets/facet_list.html', title=_('Language'), name='extras_language', fields=c.fields_grouped, limits=c.search_facets_limits) }}
  {#% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, fields=c.fields_grouped, limits=c.search_facets_limits) }}
  {% endfor %#}
{% endblock %}

