<!-- ISO 639-2 terminology languages  -->
<option {% if selected=="fin" %}selected{% endif %} value="fin">{{ _("Finnish") }}</option>
<option {% if selected=="eng" %}selected{% endif %} value="eng">{{ _("English") }}</option>
<option {% if selected=="swe" %}selected{% endif %} value="swe">{{ _("Swedish") }}</option>

<option {% if selected=="abk" %}selected{% endif %} value="abk">{{ _("Abkhazian") }}</option>
<option {% if selected=="ace" %}selected{% endif %} value="ace">{{ _("Achinese") }}</option>
<option {% if selected=="ach" %}selected{% endif %} value="ach">{{ _("Acoli") }}</option>
<option {% if selected=="ada" %}selected{% endif %} value="ada">{{ _("Adangme") }}</option>
<option {% if selected=="ady" %}selected{% endif %} value="ady">{{ _("Adyghe; Adygei") }}</option>
<option {% if selected=="aar" %}selected{% endif %} value="aar">{{ _("Afar") }}</option>
<option {% if selected=="afh" %}selected{% endif %} value="afh">{{ _("Afrihili") }}</option>
<option {% if selected=="afr" %}selected{% endif %} value="afr">{{ _("Afrikaans") }}</option>
<option {% if selected=="afa" %}selected{% endif %} value="afa">{{ _("Afro-Asiatic languages") }}</option>
<option {% if selected=="ain" %}selected{% endif %} value="ain">{{ _("Ainu") }}</option>
<option {% if selected=="aka" %}selected{% endif %} value="aka">{{ _("Akan") }}</option>
<option {% if selected=="akk" %}selected{% endif %} value="akk">{{ _("Akkadian") }}</option>
<option {% if selected=="sqi" %}selected{% endif %} value="sqi">{{ _("Albanian") }}</option>
<option {% if selected=="ale" %}selected{% endif %} value="ale">{{ _("Aleut") }}</option>
<option {% if selected=="alg" %}selected{% endif %} value="alg">{{ _("Algonquian languages") }}</option>
<option {% if selected=="tut" %}selected{% endif %} value="tut">{{ _("Altaic languages") }}</option>
<option {% if selected=="amh" %}selected{% endif %} value="amh">{{ _("Amharic") }}</option>
<option {% if selected=="anp" %}selected{% endif %} value="anp">{{ _("Angika") }}</option>
<option {% if selected=="apa" %}selected{% endif %} value="apa">{{ _("Apache languages") }}</option>
<option {% if selected=="ara" %}selected{% endif %} value="ara">{{ _("Arabic") }}</option>
<option {% if selected=="arg" %}selected{% endif %} value="arg">{{ _("Aragonese") }}</option>
<option {% if selected=="arp" %}selected{% endif %} value="arp">{{ _("Arapaho") }}</option>
<option {% if selected=="arw" %}selected{% endif %} value="arw">{{ _("Arawak") }}</option>
<option {% if selected=="hye" %}selected{% endif %} value="hye">{{ _("Armenian") }}</option>
<option {% if selected=="rup" %}selected{% endif %} value="rup">{{ _("Aromanian; Arumanian; Macedo-Romanian") }}</option>
<option {% if selected=="art" %}selected{% endif %} value="art">{{ _("Artificial languages") }}</option>
<option {% if selected=="asm" %}selected{% endif %} value="asm">{{ _("Assamese") }}</option>
<option {% if selected=="ast" %}selected{% endif %} value="ast">{{ _("Asturian; Bable; Leonese; Asturleonese") }}</option>
<option {% if selected=="ath" %}selected{% endif %} value="ath">{{ _("Athapascan languages") }}</option>
<option {% if selected=="aus" %}selected{% endif %} value="aus">{{ _("Australian languages") }}</option>
<option {% if selected=="map" %}selected{% endif %} value="map">{{ _("Austronesian languages") }}</option>
<option {% if selected=="ava" %}selected{% endif %} value="ava">{{ _("Avaric") }}</option>
<option {% if selected=="ave" %}selected{% endif %} value="ave">{{ _("Avestan") }}</option>
<option {% if selected=="awa" %}selected{% endif %} value="awa">{{ _("Awadhi") }}</option>
<option {% if selected=="aym" %}selected{% endif %} value="aym">{{ _("Aymara") }}</option>
<option {% if selected=="aze" %}selected{% endif %} value="aze">{{ _("Azerbaijani") }}</option>
<option {% if selected=="ban" %}selected{% endif %} value="ban">{{ _("Balinese") }}</option>
<option {% if selected=="bat" %}selected{% endif %} value="bat">{{ _("Baltic languages") }}</option>
<option {% if selected=="bal" %}selected{% endif %} value="bal">{{ _("Baluchi") }}</option>
<option {% if selected=="bam" %}selected{% endif %} value="bam">{{ _("Bambara") }}</option>
<option {% if selected=="bai" %}selected{% endif %} value="bai">{{ _("Bamileke languages") }}</option>
<option {% if selected=="bad" %}selected{% endif %} value="bad">{{ _("Banda languages") }}</option>
<option {% if selected=="bnt" %}selected{% endif %} value="bnt">{{ _("Bantu languages") }}</option>
<option {% if selected=="bas" %}selected{% endif %} value="bas">{{ _("Basa") }}</option>
<option {% if selected=="bak" %}selected{% endif %} value="bak">{{ _("Bashkir") }}</option>
<option {% if selected=="eus" %}selected{% endif %} value="eus">{{ _("Basque") }}</option>
<option {% if selected=="btk" %}selected{% endif %} value="btk">{{ _("Batak languages") }}</option>
<option {% if selected=="bej" %}selected{% endif %} value="bej">{{ _("Beja; Bedawiyet") }}</option>
<option {% if selected=="bel" %}selected{% endif %} value="bel">{{ _("Belarusian") }}</option>
<option {% if selected=="bem" %}selected{% endif %} value="bem">{{ _("Bemba") }}</option>
<option {% if selected=="ben" %}selected{% endif %} value="ben">{{ _("Bengali") }}</option>
<option {% if selected=="ber" %}selected{% endif %} value="ber">{{ _("Berber languages") }}</option>
<option {% if selected=="bho" %}selected{% endif %} value="bho">{{ _("Bhojpuri") }}</option>
<option {% if selected=="bih" %}selected{% endif %} value="bih">{{ _("Bihari languages") }}</option>
<option {% if selected=="bik" %}selected{% endif %} value="bik">{{ _("Bikol") }}</option>
<option {% if selected=="bin" %}selected{% endif %} value="bin">{{ _("Bini; Edo") }}</option>
<option {% if selected=="bis" %}selected{% endif %} value="bis">{{ _("Bislama") }}</option>
<option {% if selected=="byn" %}selected{% endif %} value="byn">{{ _("Blin; Bilin") }}</option>
<option {% if selected=="zbl" %}selected{% endif %} value="zbl">{{ _("Blissymbols; Blissymbolics; Bliss") }}</option>
<option {% if selected=="nob" %}selected{% endif %} value="nob">{{ _("Bokmål, Norwegian; Norwegian Bokmål") }}</option>
<option {% if selected=="bos" %}selected{% endif %} value="bos">{{ _("Bosnian") }}</option>
<option {% if selected=="bra" %}selected{% endif %} value="bra">{{ _("Braj") }}</option>
<option {% if selected=="bre" %}selected{% endif %} value="bre">{{ _("Breton") }}</option>
<option {% if selected=="bug" %}selected{% endif %} value="bug">{{ _("Buginese") }}</option>
<option {% if selected=="bul" %}selected{% endif %} value="bul">{{ _("Bulgarian") }}</option>
<option {% if selected=="bua" %}selected{% endif %} value="bua">{{ _("Buriat") }}</option>
<option {% if selected=="mya" %}selected{% endif %} value="mya">{{ _("Burmese") }}</option>
<option {% if selected=="cad" %}selected{% endif %} value="cad">{{ _("Caddo") }}</option>
<option {% if selected=="cat" %}selected{% endif %} value="cat">{{ _("Catalan; Valencian") }}</option>
<option {% if selected=="cau" %}selected{% endif %} value="cau">{{ _("Caucasian languages") }}</option>
<option {% if selected=="ceb" %}selected{% endif %} value="ceb">{{ _("Cebuano") }}</option>
<option {% if selected=="cel" %}selected{% endif %} value="cel">{{ _("Celtic languages") }}</option>
<option {% if selected=="cai" %}selected{% endif %} value="cai">{{ _("Central American Indian languages") }}</option>
<option {% if selected=="khm" %}selected{% endif %} value="khm">{{ _("Central Khmer") }}</option>
<option {% if selected=="chg" %}selected{% endif %} value="chg">{{ _("Chagatai") }}</option>
<option {% if selected=="cmc" %}selected{% endif %} value="cmc">{{ _("Chamic languages") }}</option>
<option {% if selected=="cha" %}selected{% endif %} value="cha">{{ _("Chamorro") }}</option>
<option {% if selected=="che" %}selected{% endif %} value="che">{{ _("Chechen") }}</option>
<option {% if selected=="chr" %}selected{% endif %} value="chr">{{ _("Cherokee") }}</option>
<option {% if selected=="chy" %}selected{% endif %} value="chy">{{ _("Cheyenne") }}</option>
<option {% if selected=="chb" %}selected{% endif %} value="chb">{{ _("Chibcha") }}</option>
<option {% if selected=="nya" %}selected{% endif %} value="nya">{{ _("Chichewa; Chewa; Nyanja") }}</option>
<option {% if selected=="zho" %}selected{% endif %} value="zho">{{ _("Chinese") }}</option>
<option {% if selected=="chn" %}selected{% endif %} value="chn">{{ _("Chinook jargon") }}</option>
<option {% if selected=="chp" %}selected{% endif %} value="chp">{{ _("Chipewyan; Dene Suline") }}</option>
<option {% if selected=="cho" %}selected{% endif %} value="cho">{{ _("Choctaw") }}</option>
<option {% if selected=="chu" %}selected{% endif %} value="chu">{{ _("Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic") }}</option>
<option {% if selected=="chk" %}selected{% endif %} value="chk">{{ _("Chuukese") }}</option>
<option {% if selected=="chv" %}selected{% endif %} value="chv">{{ _("Chuvash") }}</option>
<option {% if selected=="nwc" %}selected{% endif %} value="nwc">{{ _("Classical Newari; Old Newari; Classical Nepal Bhasa") }}</option>
<option {% if selected=="syc" %}selected{% endif %} value="syc">{{ _("Classical Syriac") }}</option>
<option {% if selected=="cop" %}selected{% endif %} value="cop">{{ _("Coptic") }}</option>
<option {% if selected=="cor" %}selected{% endif %} value="cor">{{ _("Cornish") }}</option>
<option {% if selected=="cos" %}selected{% endif %} value="cos">{{ _("Corsican") }}</option>
<option {% if selected=="cre" %}selected{% endif %} value="cre">{{ _("Cree") }}</option>
<option {% if selected=="mus" %}selected{% endif %} value="mus">{{ _("Creek") }}</option>
<option {% if selected=="crp" %}selected{% endif %} value="crp">{{ _("Creoles and pidgins") }}</option>
<option {% if selected=="cpe" %}selected{% endif %} value="cpe">{{ _("Creoles and pidgins, English based") }}</option>
<option {% if selected=="cpf" %}selected{% endif %} value="cpf">{{ _("Creoles and pidgins, French-based") }}</option>
<option {% if selected=="cpp" %}selected{% endif %} value="cpp">{{ _("Creoles and pidgins, Portuguese-based") }}</option>
<option {% if selected=="crh" %}selected{% endif %} value="crh">{{ _("Crimean Tatar; Crimean Turkish") }}</option>
<option {% if selected=="hrv" %}selected{% endif %} value="hrv">{{ _("Croatian") }}</option>
<option {% if selected=="cus" %}selected{% endif %} value="cus">{{ _("Cushitic languages") }}</option>
<option {% if selected=="ces" %}selected{% endif %} value="ces">{{ _("Czech") }}</option>
<option {% if selected=="dak" %}selected{% endif %} value="dak">{{ _("Dakota") }}</option>
<option {% if selected=="dan" %}selected{% endif %} value="dan">{{ _("Danish") }}</option>
<option {% if selected=="dar" %}selected{% endif %} value="dar">{{ _("Dargwa") }}</option>
<option {% if selected=="del" %}selected{% endif %} value="del">{{ _("Delaware") }}</option>
<option {% if selected=="din" %}selected{% endif %} value="din">{{ _("Dinka") }}</option>
<option {% if selected=="div" %}selected{% endif %} value="div">{{ _("Divehi; Dhivehi; Maldivian") }}</option>
<option {% if selected=="doi" %}selected{% endif %} value="doi">{{ _("Dogri") }}</option>
<option {% if selected=="dgr" %}selected{% endif %} value="dgr">{{ _("Dogrib") }}</option>
<option {% if selected=="dra" %}selected{% endif %} value="dra">{{ _("Dravidian languages") }}</option>
<option {% if selected=="dua" %}selected{% endif %} value="dua">{{ _("Duala") }}</option>
<option {% if selected=="dum" %}selected{% endif %} value="dum">{{ _("Dutch, Middle (ca. 1050-1350)") }}</option>
<option {% if selected=="nld" %}selected{% endif %} value="nld">{{ _("Dutch; Flemish") }}</option>
<option {% if selected=="dyu" %}selected{% endif %} value="dyu">{{ _("Dyula") }}</option>
<option {% if selected=="dzo" %}selected{% endif %} value="dzo">{{ _("Dzongkha") }}</option>
<option {% if selected=="frs" %}selected{% endif %} value="frs">{{ _("Eastern Frisian") }}</option>
<option {% if selected=="efi" %}selected{% endif %} value="efi">{{ _("Efik") }}</option>
<option {% if selected=="egy" %}selected{% endif %} value="egy">{{ _("Egyptian (Ancient)") }}</option>
<option {% if selected=="eka" %}selected{% endif %} value="eka">{{ _("Ekajuk") }}</option>
<option {% if selected=="elx" %}selected{% endif %} value="elx">{{ _("Elamite") }}</option>
<option {% if selected=="enm" %}selected{% endif %} value="enm">{{ _("English, Middle (1100-1500)") }}</option>
<option {% if selected=="ang" %}selected{% endif %} value="ang">{{ _("English, Old (ca. 450-1100)") }}</option>
<option {% if selected=="myv" %}selected{% endif %} value="myv">{{ _("Erzya") }}</option>
<option {% if selected=="epo" %}selected{% endif %} value="epo">{{ _("Esperanto") }}</option>
<option {% if selected=="est" %}selected{% endif %} value="est">{{ _("Estonian") }}</option>
<option {% if selected=="ewe" %}selected{% endif %} value="ewe">{{ _("Ewe") }}</option>
<option {% if selected=="ewo" %}selected{% endif %} value="ewo">{{ _("Ewondo") }}</option>
<option {% if selected=="fan" %}selected{% endif %} value="fan">{{ _("Fang") }}</option>
<option {% if selected=="fat" %}selected{% endif %} value="fat">{{ _("Fanti") }}</option>
<option {% if selected=="fao" %}selected{% endif %} value="fao">{{ _("Faroese") }}</option>
<option {% if selected=="fij" %}selected{% endif %} value="fij">{{ _("Fijian") }}</option>
<option {% if selected=="fil" %}selected{% endif %} value="fil">{{ _("Filipino; Pilipino") }}</option>
<option {% if selected=="fiu" %}selected{% endif %} value="fiu">{{ _("Finno-Ugrian languages") }}</option>
<option {% if selected=="fon" %}selected{% endif %} value="fon">{{ _("Fon") }}</option>
<option {% if selected=="fra" %}selected{% endif %} value="fra">{{ _("French") }}</option>
<option {% if selected=="frm" %}selected{% endif %} value="frm">{{ _("French, Middle (ca. 1400-1600)") }}</option>
<option {% if selected=="fro" %}selected{% endif %} value="fro">{{ _("French, Old (842-ca. 1400)") }}</option>
<option {% if selected=="fur" %}selected{% endif %} value="fur">{{ _("Friulian") }}</option>
<option {% if selected=="ful" %}selected{% endif %} value="ful">{{ _("Fulah") }}</option>
<option {% if selected=="gaa" %}selected{% endif %} value="gaa">{{ _("Ga") }}</option>
<option {% if selected=="gla" %}selected{% endif %} value="gla">{{ _("Gaelic; Scottish Gaelic") }}</option>
<option {% if selected=="car" %}selected{% endif %} value="car">{{ _("Galibi Carib") }}</option>
<option {% if selected=="glg" %}selected{% endif %} value="glg">{{ _("Galician") }}</option>
<option {% if selected=="lug" %}selected{% endif %} value="lug">{{ _("Ganda") }}</option>
<option {% if selected=="gay" %}selected{% endif %} value="gay">{{ _("Gayo") }}</option>
<option {% if selected=="gba" %}selected{% endif %} value="gba">{{ _("Gbaya") }}</option>
<option {% if selected=="gez" %}selected{% endif %} value="gez">{{ _("Geez") }}</option>
<option {% if selected=="kat" %}selected{% endif %} value="kat">{{ _("Georgian") }}</option>
<option {% if selected=="deu" %}selected{% endif %} value="deu">{{ _("German") }}</option>
<option {% if selected=="gmh" %}selected{% endif %} value="gmh">{{ _("German, Middle High (ca. 1050-1500)") }}</option>
<option {% if selected=="goh" %}selected{% endif %} value="goh">{{ _("German, Old High (ca. 750-1050)") }}</option>
<option {% if selected=="gem" %}selected{% endif %} value="gem">{{ _("Germanic languages") }}</option>
<option {% if selected=="gil" %}selected{% endif %} value="gil">{{ _("Gilbertese") }}</option>
<option {% if selected=="gon" %}selected{% endif %} value="gon">{{ _("Gondi") }}</option>
<option {% if selected=="gor" %}selected{% endif %} value="gor">{{ _("Gorontalo") }}</option>
<option {% if selected=="got" %}selected{% endif %} value="got">{{ _("Gothic") }}</option>
<option {% if selected=="grb" %}selected{% endif %} value="grb">{{ _("Grebo") }}</option>
<option {% if selected=="grc" %}selected{% endif %} value="grc">{{ _("Greek, Ancient (to 1453)") }}</option>
<option {% if selected=="ell" %}selected{% endif %} value="ell">{{ _("Greek, Modern (1453-)") }}</option>
<option {% if selected=="grn" %}selected{% endif %} value="grn">{{ _("Guarani") }}</option>
<option {% if selected=="guj" %}selected{% endif %} value="guj">{{ _("Gujarati") }}</option>
<option {% if selected=="gwi" %}selected{% endif %} value="gwi">{{ _("Gwich'in") }}</option>
<option {% if selected=="hai" %}selected{% endif %} value="hai">{{ _("Haida") }}</option>
<option {% if selected=="hat" %}selected{% endif %} value="hat">{{ _("Haitian; Haitian Creole") }}</option>
<option {% if selected=="hau" %}selected{% endif %} value="hau">{{ _("Hausa") }}</option>
<option {% if selected=="haw" %}selected{% endif %} value="haw">{{ _("Hawaiian") }}</option>
<option {% if selected=="heb" %}selected{% endif %} value="heb">{{ _("Hebrew") }}</option>
<option {% if selected=="her" %}selected{% endif %} value="her">{{ _("Herero") }}</option>
<option {% if selected=="hil" %}selected{% endif %} value="hil">{{ _("Hiligaynon") }}</option>
<option {% if selected=="him" %}selected{% endif %} value="him">{{ _("Himachali languages; Western Pahari languages") }}</option>
<option {% if selected=="hin" %}selected{% endif %} value="hin">{{ _("Hindi") }}</option>
<option {% if selected=="hmo" %}selected{% endif %} value="hmo">{{ _("Hiri Motu") }}</option>
<option {% if selected=="hit" %}selected{% endif %} value="hit">{{ _("Hittite") }}</option>
<option {% if selected=="hmn" %}selected{% endif %} value="hmn">{{ _("Hmong; Mong") }}</option>
<option {% if selected=="hun" %}selected{% endif %} value="hun">{{ _("Hungarian") }}</option>
<option {% if selected=="hup" %}selected{% endif %} value="hup">{{ _("Hupa") }}</option>
<option {% if selected=="iba" %}selected{% endif %} value="iba">{{ _("Iban") }}</option>
<option {% if selected=="isl" %}selected{% endif %} value="isl">{{ _("Icelandic") }}</option>
<option {% if selected=="ido" %}selected{% endif %} value="ido">{{ _("Ido") }}</option>
<option {% if selected=="ibo" %}selected{% endif %} value="ibo">{{ _("Igbo") }}</option>
<option {% if selected=="ijo" %}selected{% endif %} value="ijo">{{ _("Ijo languages") }}</option>
<option {% if selected=="ilo" %}selected{% endif %} value="ilo">{{ _("Iloko") }}</option>
<option {% if selected=="smn" %}selected{% endif %} value="smn">{{ _("Inari Sami") }}</option>
<option {% if selected=="inc" %}selected{% endif %} value="inc">{{ _("Indic languages") }}</option>
<option {% if selected=="ine" %}selected{% endif %} value="ine">{{ _("Indo-European languages") }}</option>
<option {% if selected=="ind" %}selected{% endif %} value="ind">{{ _("Indonesian") }}</option>
<option {% if selected=="inh" %}selected{% endif %} value="inh">{{ _("Ingush") }}</option>
<option {% if selected=="ina" %}selected{% endif %} value="ina">{{ _("Interlingua (International Auxiliary Language Association)") }}</option>
<option {% if selected=="ile" %}selected{% endif %} value="ile">{{ _("Interlingue; Occidental") }}</option>
<option {% if selected=="iku" %}selected{% endif %} value="iku">{{ _("Inuktitut") }}</option>
<option {% if selected=="ipk" %}selected{% endif %} value="ipk">{{ _("Inupiaq") }}</option>
<option {% if selected=="ira" %}selected{% endif %} value="ira">{{ _("Iranian languages") }}</option>
<option {% if selected=="gle" %}selected{% endif %} value="gle">{{ _("Irish") }}</option>
<option {% if selected=="mga" %}selected{% endif %} value="mga">{{ _("Irish, Middle (900-1200)") }}</option>
<option {% if selected=="sga" %}selected{% endif %} value="sga">{{ _("Irish, Old (to 900)") }}</option>
<option {% if selected=="iro" %}selected{% endif %} value="iro">{{ _("Iroquoian languages") }}</option>
<option {% if selected=="ita" %}selected{% endif %} value="ita">{{ _("Italian") }}</option>
<option {% if selected=="jpn" %}selected{% endif %} value="jpn">{{ _("Japanese") }}</option>
<option {% if selected=="jav" %}selected{% endif %} value="jav">{{ _("Javanese") }}</option>
<option {% if selected=="jrb" %}selected{% endif %} value="jrb">{{ _("Judeo-Arabic") }}</option>
<option {% if selected=="jpr" %}selected{% endif %} value="jpr">{{ _("Judeo-Persian") }}</option>
<option {% if selected=="kbd" %}selected{% endif %} value="kbd">{{ _("Kabardian") }}</option>
<option {% if selected=="kab" %}selected{% endif %} value="kab">{{ _("Kabyle") }}</option>
<option {% if selected=="kac" %}selected{% endif %} value="kac">{{ _("Kachin; Jingpho") }}</option>
<option {% if selected=="kal" %}selected{% endif %} value="kal">{{ _("Kalaallisut; Greenlandic") }}</option>
<option {% if selected=="xal" %}selected{% endif %} value="xal">{{ _("Kalmyk; Oirat") }}</option>
<option {% if selected=="kam" %}selected{% endif %} value="kam">{{ _("Kamba") }}</option>
<option {% if selected=="kan" %}selected{% endif %} value="kan">{{ _("Kannada") }}</option>
<option {% if selected=="kau" %}selected{% endif %} value="kau">{{ _("Kanuri") }}</option>
<option {% if selected=="kaa" %}selected{% endif %} value="kaa">{{ _("Kara-Kalpak") }}</option>
<option {% if selected=="krc" %}selected{% endif %} value="krc">{{ _("Karachay-Balkar") }}</option>
<option {% if selected=="krl" %}selected{% endif %} value="krl">{{ _("Karelian") }}</option>
<option {% if selected=="kar" %}selected{% endif %} value="kar">{{ _("Karen languages") }}</option>
<option {% if selected=="kas" %}selected{% endif %} value="kas">{{ _("Kashmiri") }}</option>
<option {% if selected=="csb" %}selected{% endif %} value="csb">{{ _("Kashubian") }}</option>
<option {% if selected=="kaw" %}selected{% endif %} value="kaw">{{ _("Kawi") }}</option>
<option {% if selected=="kaz" %}selected{% endif %} value="kaz">{{ _("Kazakh") }}</option>
<option {% if selected=="kha" %}selected{% endif %} value="kha">{{ _("Khasi") }}</option>
<option {% if selected=="khi" %}selected{% endif %} value="khi">{{ _("Khoisan languages") }}</option>
<option {% if selected=="kho" %}selected{% endif %} value="kho">{{ _("Khotanese;Sakan") }}</option>
<option {% if selected=="kik" %}selected{% endif %} value="kik">{{ _("Kikuyu; Gikuyu") }}</option>
<option {% if selected=="kmb" %}selected{% endif %} value="kmb">{{ _("Kimbundu") }}</option>
<option {% if selected=="kin" %}selected{% endif %} value="kin">{{ _("Kinyarwanda") }}</option>
<option {% if selected=="kir" %}selected{% endif %} value="kir">{{ _("Kirghiz; Kyrgyz") }}</option>
<option {% if selected=="tlh" %}selected{% endif %} value="tlh">{{ _("Klingon; tlhIngan-Hol") }}</option>
<option {% if selected=="kom" %}selected{% endif %} value="kom">{{ _("Komi") }}</option>
<option {% if selected=="kon" %}selected{% endif %} value="kon">{{ _("Kongo") }}</option>
<option {% if selected=="kok" %}selected{% endif %} value="kok">{{ _("Konkani") }}</option>
<option {% if selected=="kor" %}selected{% endif %} value="kor">{{ _("Korean") }}</option>
<option {% if selected=="kos" %}selected{% endif %} value="kos">{{ _("Kosraean") }}</option>
<option {% if selected=="kpe" %}selected{% endif %} value="kpe">{{ _("Kpelle") }}</option>
<option {% if selected=="kro" %}selected{% endif %} value="kro">{{ _("Kru languages") }}</option>
<option {% if selected=="kua" %}selected{% endif %} value="kua">{{ _("Kuanyama; Kwanyama") }}</option>
<option {% if selected=="kum" %}selected{% endif %} value="kum">{{ _("Kumyk") }}</option>
<option {% if selected=="kur" %}selected{% endif %} value="kur">{{ _("Kurdish") }}</option>
<option {% if selected=="kru" %}selected{% endif %} value="kru">{{ _("Kurukh") }}</option>
<option {% if selected=="kut" %}selected{% endif %} value="kut">{{ _("Kutenai") }}</option>
<option {% if selected=="lad" %}selected{% endif %} value="lad">{{ _("Ladino") }}</option>
<option {% if selected=="lah" %}selected{% endif %} value="lah">{{ _("Lahnda") }}</option>
<option {% if selected=="lam" %}selected{% endif %} value="lam">{{ _("Lamba") }}</option>
<option {% if selected=="day" %}selected{% endif %} value="day">{{ _("Land Dayak languages") }}</option>
<option {% if selected=="lao" %}selected{% endif %} value="lao">{{ _("Lao") }}</option>
<option {% if selected=="lat" %}selected{% endif %} value="lat">{{ _("Latin") }}</option>
<option {% if selected=="lav" %}selected{% endif %} value="lav">{{ _("Latvian") }}</option>
<option {% if selected=="lez" %}selected{% endif %} value="lez">{{ _("Lezghian") }}</option>
<option {% if selected=="lim" %}selected{% endif %} value="lim">{{ _("Limburgan; Limburger; Limburgish") }}</option>
<option {% if selected=="lin" %}selected{% endif %} value="lin">{{ _("Lingala") }}</option>
<option {% if selected=="lit" %}selected{% endif %} value="lit">{{ _("Lithuanian") }}</option>
<option {% if selected=="jbo" %}selected{% endif %} value="jbo">{{ _("Lojban") }}</option>
<option {% if selected=="nds" %}selected{% endif %} value="nds">{{ _("Low German; Low Saxon; German, Low; Saxon, Low") }}</option>
<option {% if selected=="dsb" %}selected{% endif %} value="dsb">{{ _("Lower Sorbian") }}</option>
<option {% if selected=="loz" %}selected{% endif %} value="loz">{{ _("Lozi") }}</option>
<option {% if selected=="lub" %}selected{% endif %} value="lub">{{ _("Luba-Katanga") }}</option>
<option {% if selected=="lua" %}selected{% endif %} value="lua">{{ _("Luba-Lulua") }}</option>
<option {% if selected=="lui" %}selected{% endif %} value="lui">{{ _("Luiseno") }}</option>
<option {% if selected=="smj" %}selected{% endif %} value="smj">{{ _("Lule Sami") }}</option>
<option {% if selected=="lun" %}selected{% endif %} value="lun">{{ _("Lunda") }}</option>
<option {% if selected=="luo" %}selected{% endif %} value="luo">{{ _("Luo (Kenya and Tanzania)") }}</option>
<option {% if selected=="lus" %}selected{% endif %} value="lus">{{ _("Lushai") }}</option>
<option {% if selected=="ltz" %}selected{% endif %} value="ltz">{{ _("Luxembourgish; Letzeburgesch") }}</option>
<option {% if selected=="mkd" %}selected{% endif %} value="mkd">{{ _("Macedonian") }}</option>
<option {% if selected=="mad" %}selected{% endif %} value="mad">{{ _("Madurese") }}</option>
<option {% if selected=="mag" %}selected{% endif %} value="mag">{{ _("Magahi") }}</option>
<option {% if selected=="mai" %}selected{% endif %} value="mai">{{ _("Maithili") }}</option>
<option {% if selected=="mak" %}selected{% endif %} value="mak">{{ _("Makasar") }}</option>
<option {% if selected=="mlg" %}selected{% endif %} value="mlg">{{ _("Malagasy") }}</option>
<option {% if selected=="msa" %}selected{% endif %} value="msa">{{ _("Malay") }}</option>
<option {% if selected=="mal" %}selected{% endif %} value="mal">{{ _("Malayalam") }}</option>
<option {% if selected=="mlt" %}selected{% endif %} value="mlt">{{ _("Maltese") }}</option>
<option {% if selected=="mnc" %}selected{% endif %} value="mnc">{{ _("Manchu") }}</option>
<option {% if selected=="mdr" %}selected{% endif %} value="mdr">{{ _("Mandar") }}</option>
<option {% if selected=="man" %}selected{% endif %} value="man">{{ _("Mandingo") }}</option>
<option {% if selected=="mni" %}selected{% endif %} value="mni">{{ _("Manipuri") }}</option>
<option {% if selected=="mno" %}selected{% endif %} value="mno">{{ _("Manobo languages") }}</option>
<option {% if selected=="glv" %}selected{% endif %} value="glv">{{ _("Manx") }}</option>
<option {% if selected=="mri" %}selected{% endif %} value="mri">{{ _("Maori") }}</option>
<option {% if selected=="arn" %}selected{% endif %} value="arn">{{ _("Mapudungun; Mapuche") }}</option>
<option {% if selected=="mar" %}selected{% endif %} value="mar">{{ _("Marathi") }}</option>
<option {% if selected=="chm" %}selected{% endif %} value="chm">{{ _("Mari") }}</option>
<option {% if selected=="mah" %}selected{% endif %} value="mah">{{ _("Marshallese") }}</option>
<option {% if selected=="mwr" %}selected{% endif %} value="mwr">{{ _("Marwari") }}</option>
<option {% if selected=="mas" %}selected{% endif %} value="mas">{{ _("Masai") }}</option>
<option {% if selected=="myn" %}selected{% endif %} value="myn">{{ _("Mayan languages") }}</option>
<option {% if selected=="men" %}selected{% endif %} value="men">{{ _("Mende") }}</option>
<option {% if selected=="mic" %}selected{% endif %} value="mic">{{ _("Mi'kmaq; Micmac") }}</option>
<option {% if selected=="min" %}selected{% endif %} value="min">{{ _("Minangkabau") }}</option>
<option {% if selected=="mwl" %}selected{% endif %} value="mwl">{{ _("Mirandese") }}</option>
<option {% if selected=="moh" %}selected{% endif %} value="moh">{{ _("Mohawk") }}</option>
<option {% if selected=="mdf" %}selected{% endif %} value="mdf">{{ _("Moksha") }}</option>
<option {% if selected=="mol" %}selected{% endif %} value="mol">{{ _("Moldavian; Moldovan") }}</option>
<option {% if selected=="mkh" %}selected{% endif %} value="mkh">{{ _("Mon-Khmer languages") }}</option>
<option {% if selected=="lol" %}selected{% endif %} value="lol">{{ _("Mongo") }}</option>
<option {% if selected=="mon" %}selected{% endif %} value="mon">{{ _("Mongolian") }}</option>
<option {% if selected=="mos" %}selected{% endif %} value="mos">{{ _("Mossi") }}</option>
<option {% if selected=="mul" %}selected{% endif %} value="mul">{{ _("Multiple languages") }}</option>
<option {% if selected=="mun" %}selected{% endif %} value="mun">{{ _("Munda languages") }}</option>
<option {% if selected=="nqo" %}selected{% endif %} value="nqo">{{ _("N'Ko") }}</option>
<option {% if selected=="nah" %}selected{% endif %} value="nah">{{ _("Nahuatl languages") }}</option>
<option {% if selected=="nau" %}selected{% endif %} value="nau">{{ _("Nauru") }}</option>
<option {% if selected=="nav" %}selected{% endif %} value="nav">{{ _("Navajo; Navaho") }}</option>
<option {% if selected=="nde" %}selected{% endif %} value="nde">{{ _("Ndebele, North; North Ndebele") }}</option>
<option {% if selected=="nbl" %}selected{% endif %} value="nbl">{{ _("Ndebele, South; South Ndebele") }}</option>
<option {% if selected=="ndo" %}selected{% endif %} value="ndo">{{ _("Ndonga") }}</option>
<option {% if selected=="nap" %}selected{% endif %} value="nap">{{ _("Neapolitan") }}</option>
<option {% if selected=="new" %}selected{% endif %} value="new">{{ _("Nepal Bhasa; Newari") }}</option>
<option {% if selected=="nep" %}selected{% endif %} value="nep">{{ _("Nepali") }}</option>
<option {% if selected=="nia" %}selected{% endif %} value="nia">{{ _("Nias") }}</option>
<option {% if selected=="nic" %}selected{% endif %} value="nic">{{ _("Niger-Kordofanian languages") }}</option>
<option {% if selected=="ssa" %}selected{% endif %} value="ssa">{{ _("Nilo-Saharan languages") }}</option>
<option {% if selected=="niu" %}selected{% endif %} value="niu">{{ _("Niuean") }}</option>
<option {% if selected=="zxx" %}selected{% endif %} value="zxx">{{ _("No linguistic content; Not applicable") }}</option>
<option {% if selected=="nog" %}selected{% endif %} value="nog">{{ _("Nogai") }}</option>
<option {% if selected=="non" %}selected{% endif %} value="non">{{ _("Norse, Old") }}</option>
<option {% if selected=="nai" %}selected{% endif %} value="nai">{{ _("North American Indian languages") }}</option>
<option {% if selected=="frr" %}selected{% endif %} value="frr">{{ _("Northern Frisian") }}</option>
<option {% if selected=="sme" %}selected{% endif %} value="sme">{{ _("Northern Sami") }}</option>
<option {% if selected=="nor" %}selected{% endif %} value="nor">{{ _("Norwegian") }}</option>
<option {% if selected=="nno" %}selected{% endif %} value="nno">{{ _("Norwegian Nynorsk; Nynorsk, Norwegian") }}</option>
<option {% if selected=="nub" %}selected{% endif %} value="nub">{{ _("Nubian languages") }}</option>
<option {% if selected=="nym" %}selected{% endif %} value="nym">{{ _("Nyamwezi") }}</option>
<option {% if selected=="nyn" %}selected{% endif %} value="nyn">{{ _("Nyankole") }}</option>
<option {% if selected=="nyo" %}selected{% endif %} value="nyo">{{ _("Nyoro") }}</option>
<option {% if selected=="nzi" %}selected{% endif %} value="nzi">{{ _("Nzima") }}</option>
<option {% if selected=="oci" %}selected{% endif %} value="oci">{{ _("Occitan (post 1500)") }}</option>
<option {% if selected=="arc" %}selected{% endif %} value="arc">{{ _("Official Aramaic (700-300 BCE); Imperial Aramaic (700-300 BCE)") }}</option>
<option {% if selected=="oji" %}selected{% endif %} value="oji">{{ _("Ojibwa") }}</option>
<option {% if selected=="ori" %}selected{% endif %} value="ori">{{ _("Oriya") }}</option>
<option {% if selected=="orm" %}selected{% endif %} value="orm">{{ _("Oromo") }}</option>
<option {% if selected=="osa" %}selected{% endif %} value="osa">{{ _("Osage") }}</option>
<option {% if selected=="oss" %}selected{% endif %} value="oss">{{ _("Ossetian; Ossetic") }}</option>
<option {% if selected=="oto" %}selected{% endif %} value="oto">{{ _("Otomian languages") }}</option>
<option {% if selected=="pal" %}selected{% endif %} value="pal">{{ _("Pahlavi") }}</option>
<option {% if selected=="pau" %}selected{% endif %} value="pau">{{ _("Palauan") }}</option>
<option {% if selected=="pli" %}selected{% endif %} value="pli">{{ _("Pali") }}</option>
<option {% if selected=="pam" %}selected{% endif %} value="pam">{{ _("Pampanga; Kapampangan") }}</option>
<option {% if selected=="pag" %}selected{% endif %} value="pag">{{ _("Pangasinan") }}</option>
<option {% if selected=="pan" %}selected{% endif %} value="pan">{{ _("Panjabi; Punjabi") }}</option>
<option {% if selected=="pap" %}selected{% endif %} value="pap">{{ _("Papiamento") }}</option>
<option {% if selected=="paa" %}selected{% endif %} value="paa">{{ _("Papuan languages") }}</option>
<option {% if selected=="nso" %}selected{% endif %} value="nso">{{ _("Pedi; Sepedi; Northern Sotho") }}</option>
<option {% if selected=="fas" %}selected{% endif %} value="fas">{{ _("Persian") }}</option>
<option {% if selected=="peo" %}selected{% endif %} value="peo">{{ _("Persian, Old (ca. 600-400 B.C.)") }}</option>
<option {% if selected=="phi" %}selected{% endif %} value="phi">{{ _("Philippine languages") }}</option>
<option {% if selected=="phn" %}selected{% endif %} value="phn">{{ _("Phoenician") }}</option>
<option {% if selected=="pon" %}selected{% endif %} value="pon">{{ _("Pohnpeian") }}</option>
<option {% if selected=="pol" %}selected{% endif %} value="pol">{{ _("Polish") }}</option>
<option {% if selected=="por" %}selected{% endif %} value="por">{{ _("Portuguese") }}</option>
<option {% if selected=="pra" %}selected{% endif %} value="pra">{{ _("Prakrit languages") }}</option>
<option {% if selected=="pro" %}selected{% endif %} value="pro">{{ _("Provençal, Old (to 1500); Occitan, Old (to 1500)") }}</option>
<option {% if selected=="pus" %}selected{% endif %} value="pus">{{ _("Pushto; Pashto") }}</option>
<option {% if selected=="que" %}selected{% endif %} value="que">{{ _("Quechua") }}</option>
<option {% if selected=="raj" %}selected{% endif %} value="raj">{{ _("Rajasthani") }}</option>
<option {% if selected=="rap" %}selected{% endif %} value="rap">{{ _("Rapanui") }}</option>
<option {% if selected=="rar" %}selected{% endif %} value="rar">{{ _("Rarotongan; Cook Islands Maori") }}</option>
<option {% if selected=="roa" %}selected{% endif %} value="roa">{{ _("Romance languages") }}</option>
<option {% if selected=="ron" %}selected{% endif %} value="ron">{{ _("Romanian") }}</option>
<option {% if selected=="roh" %}selected{% endif %} value="roh">{{ _("Romansh") }}</option>
<option {% if selected=="rom" %}selected{% endif %} value="rom">{{ _("Romany") }}</option>
<option {% if selected=="run" %}selected{% endif %} value="run">{{ _("Rundi") }}</option>
<option {% if selected=="rus" %}selected{% endif %} value="rus">{{ _("Russian") }}</option>
<option {% if selected=="sal" %}selected{% endif %} value="sal">{{ _("Salishan languages") }}</option>
<option {% if selected=="sam" %}selected{% endif %} value="sam">{{ _("Samaritan Aramaic") }}</option>
<option {% if selected=="smi" %}selected{% endif %} value="smi">{{ _("Sami languages") }}</option>
<option {% if selected=="smo" %}selected{% endif %} value="smo">{{ _("Samoan") }}</option>
<option {% if selected=="sad" %}selected{% endif %} value="sad">{{ _("Sandawe") }}</option>
<option {% if selected=="sag" %}selected{% endif %} value="sag">{{ _("Sango") }}</option>
<option {% if selected=="san" %}selected{% endif %} value="san">{{ _("Sanskrit") }}</option>
<option {% if selected=="sat" %}selected{% endif %} value="sat">{{ _("Santali") }}</option>
<option {% if selected=="srd" %}selected{% endif %} value="srd">{{ _("Sardinian") }}</option>
<option {% if selected=="sas" %}selected{% endif %} value="sas">{{ _("Sasak") }}</option>
<option {% if selected=="sco" %}selected{% endif %} value="sco">{{ _("Scots") }}</option>
<option {% if selected=="sel" %}selected{% endif %} value="sel">{{ _("Selkup") }}</option>
<option {% if selected=="sem" %}selected{% endif %} value="sem">{{ _("Semitic languages") }}</option>
<option {% if selected=="srp" %}selected{% endif %} value="srp">{{ _("Serbian") }}</option>
<option {% if selected=="srr" %}selected{% endif %} value="srr">{{ _("Serer") }}</option>
<option {% if selected=="shn" %}selected{% endif %} value="shn">{{ _("Shan") }}</option>
<option {% if selected=="sna" %}selected{% endif %} value="sna">{{ _("Shona") }}</option>
<option {% if selected=="iii" %}selected{% endif %} value="iii">{{ _("Sichuan Yi; Nuosu") }}</option>
<option {% if selected=="scn" %}selected{% endif %} value="scn">{{ _("Sicilian") }}</option>
<option {% if selected=="sid" %}selected{% endif %} value="sid">{{ _("Sidamo") }}</option>
<option {% if selected=="sgn" %}selected{% endif %} value="sgn">{{ _("Sign Languages") }}</option>
<option {% if selected=="bla" %}selected{% endif %} value="bla">{{ _("Siksika") }}</option>
<option {% if selected=="snd" %}selected{% endif %} value="snd">{{ _("Sindhi") }}</option>
<option {% if selected=="sin" %}selected{% endif %} value="sin">{{ _("Sinhala; Sinhalese") }}</option>
<option {% if selected=="sit" %}selected{% endif %} value="sit">{{ _("Sino-Tibetan languages") }}</option>
<option {% if selected=="sio" %}selected{% endif %} value="sio">{{ _("Siouan languages") }}</option>
<option {% if selected=="sms" %}selected{% endif %} value="sms">{{ _("Skolt Sami") }}</option>
<option {% if selected=="den" %}selected{% endif %} value="den">{{ _("Slave (Athapascan)") }}</option>
<option {% if selected=="sla" %}selected{% endif %} value="sla">{{ _("Slavic languages") }}</option>
<option {% if selected=="slk" %}selected{% endif %} value="slk">{{ _("Slovak") }}</option>
<option {% if selected=="slv" %}selected{% endif %} value="slv">{{ _("Slovenian") }}</option>
<option {% if selected=="sog" %}selected{% endif %} value="sog">{{ _("Sogdian") }}</option>
<option {% if selected=="som" %}selected{% endif %} value="som">{{ _("Somali") }}</option>
<option {% if selected=="son" %}selected{% endif %} value="son">{{ _("Songhai languages") }}</option>
<option {% if selected=="snk" %}selected{% endif %} value="snk">{{ _("Soninke") }}</option>
<option {% if selected=="wen" %}selected{% endif %} value="wen">{{ _("Sorbian languages") }}</option>
<option {% if selected=="sot" %}selected{% endif %} value="sot">{{ _("Sotho, Southern") }}</option>
<option {% if selected=="sai" %}selected{% endif %} value="sai">{{ _("South American Indian languages") }}</option>
<option {% if selected=="alt" %}selected{% endif %} value="alt">{{ _("Southern Altai") }}</option>
<option {% if selected=="sma" %}selected{% endif %} value="sma">{{ _("Southern Sami") }}</option>
<option {% if selected=="spa" %}selected{% endif %} value="spa">{{ _("Spanish; Castilian") }}</option>
<option {% if selected=="srn" %}selected{% endif %} value="srn">{{ _("Sranan Tongo") }}</option>
<option {% if selected=="zgh" %}selected{% endif %} value="zgh">{{ _("Standard Moroccan Tamazight") }}</option>
<option {% if selected=="suk" %}selected{% endif %} value="suk">{{ _("Sukuma") }}</option>
<option {% if selected=="sux" %}selected{% endif %} value="sux">{{ _("Sumerian") }}</option>
<option {% if selected=="sun" %}selected{% endif %} value="sun">{{ _("Sundanese") }}</option>
<option {% if selected=="sus" %}selected{% endif %} value="sus">{{ _("Susu") }}</option>
<option {% if selected=="swa" %}selected{% endif %} value="swa">{{ _("Swahili") }}</option>
<option {% if selected=="ssw" %}selected{% endif %} value="ssw">{{ _("Swati") }}</option>
<option {% if selected=="gsw" %}selected{% endif %} value="gsw">{{ _("Swiss German; Alemannic; Alsatian") }}</option>
<option {% if selected=="syr" %}selected{% endif %} value="syr">{{ _("Syriac") }}</option>
<option {% if selected=="tgl" %}selected{% endif %} value="tgl">{{ _("Tagalog") }}</option>
<option {% if selected=="tah" %}selected{% endif %} value="tah">{{ _("Tahitian") }}</option>
<option {% if selected=="tai" %}selected{% endif %} value="tai">{{ _("Tai languages") }}</option>
<option {% if selected=="tgk" %}selected{% endif %} value="tgk">{{ _("Tajik") }}</option>
<option {% if selected=="tmh" %}selected{% endif %} value="tmh">{{ _("Tamashek") }}</option>
<option {% if selected=="tam" %}selected{% endif %} value="tam">{{ _("Tamil") }}</option>
<option {% if selected=="tat" %}selected{% endif %} value="tat">{{ _("Tatar") }}</option>
<option {% if selected=="tel" %}selected{% endif %} value="tel">{{ _("Telugu") }}</option>
<option {% if selected=="ter" %}selected{% endif %} value="ter">{{ _("Tereno") }}</option>
<option {% if selected=="tet" %}selected{% endif %} value="tet">{{ _("Tetum") }}</option>
<option {% if selected=="tha" %}selected{% endif %} value="tha">{{ _("Thai") }}</option>
<option {% if selected=="bod" %}selected{% endif %} value="bod">{{ _("Tibetan") }}</option>
<option {% if selected=="tig" %}selected{% endif %} value="tig">{{ _("Tigre") }}</option>
<option {% if selected=="tir" %}selected{% endif %} value="tir">{{ _("Tigrinya") }}</option>
<option {% if selected=="tem" %}selected{% endif %} value="tem">{{ _("Timne") }}</option>
<option {% if selected=="tiv" %}selected{% endif %} value="tiv">{{ _("Tiv") }}</option>
<option {% if selected=="tli" %}selected{% endif %} value="tli">{{ _("Tlingit") }}</option>
<option {% if selected=="tpi" %}selected{% endif %} value="tpi">{{ _("Tok Pisin") }}</option>
<option {% if selected=="tkl" %}selected{% endif %} value="tkl">{{ _("Tokelau") }}</option>
<option {% if selected=="tog" %}selected{% endif %} value="tog">{{ _("Tonga (Nyasa)") }}</option>
<option {% if selected=="ton" %}selected{% endif %} value="ton">{{ _("Tonga (Tonga Islands)") }}</option>
<option {% if selected=="tsi" %}selected{% endif %} value="tsi">{{ _("Tsimshian") }}</option>
<option {% if selected=="tso" %}selected{% endif %} value="tso">{{ _("Tsonga") }}</option>
<option {% if selected=="tsn" %}selected{% endif %} value="tsn">{{ _("Tswana") }}</option>
<option {% if selected=="tum" %}selected{% endif %} value="tum">{{ _("Tumbuka") }}</option>
<option {% if selected=="tup" %}selected{% endif %} value="tup">{{ _("Tupi languages") }}</option>
<option {% if selected=="tur" %}selected{% endif %} value="tur">{{ _("Turkish") }}</option>
<option {% if selected=="ota" %}selected{% endif %} value="ota">{{ _("Turkish, Ottoman (1500-1928)") }}</option>
<option {% if selected=="tuk" %}selected{% endif %} value="tuk">{{ _("Turkmen") }}</option>
<option {% if selected=="tvl" %}selected{% endif %} value="tvl">{{ _("Tuvalu") }}</option>
<option {% if selected=="tyv" %}selected{% endif %} value="tyv">{{ _("Tuvinian") }}</option>
<option {% if selected=="twi" %}selected{% endif %} value="twi">{{ _("Twi") }}</option>
<option {% if selected=="udm" %}selected{% endif %} value="udm">{{ _("Udmurt") }}</option>
<option {% if selected=="uga" %}selected{% endif %} value="uga">{{ _("Ugaritic") }}</option>
<option {% if selected=="uig" %}selected{% endif %} value="uig">{{ _("Uighur; Uyghur") }}</option>
<option {% if selected=="ukr" %}selected{% endif %} value="ukr">{{ _("Ukrainian") }}</option>
<option {% if selected=="umb" %}selected{% endif %} value="umb">{{ _("Umbundu") }}</option>
<option {% if selected=="mis" %}selected{% endif %} value="mis">{{ _("Uncoded languages") }}</option>
<option {% if selected=="und" %}selected{% endif %} value="und">{{ _("Undetermined") }}</option>
<option {% if selected=="hsb" %}selected{% endif %} value="hsb">{{ _("Upper Sorbian") }}</option>
<option {% if selected=="urd" %}selected{% endif %} value="urd">{{ _("Urdu") }}</option>
<option {% if selected=="uzb" %}selected{% endif %} value="uzb">{{ _("Uzbek") }}</option>
<option {% if selected=="vai" %}selected{% endif %} value="vai">{{ _("Vai") }}</option>
<option {% if selected=="ven" %}selected{% endif %} value="ven">{{ _("Venda") }}</option>
<option {% if selected=="vie" %}selected{% endif %} value="vie">{{ _("Vietnamese") }}</option>
<option {% if selected=="vol" %}selected{% endif %} value="vol">{{ _("Volapük") }}</option>
<option {% if selected=="vot" %}selected{% endif %} value="vot">{{ _("Votic") }}</option>
<option {% if selected=="wak" %}selected{% endif %} value="wak">{{ _("Wakashan languages") }}</option>
<option {% if selected=="wln" %}selected{% endif %} value="wln">{{ _("Walloon") }}</option>
<option {% if selected=="war" %}selected{% endif %} value="war">{{ _("Waray") }}</option>
<option {% if selected=="was" %}selected{% endif %} value="was">{{ _("Washo") }}</option>
<option {% if selected=="cym" %}selected{% endif %} value="cym">{{ _("Welsh") }}</option>
<option {% if selected=="fry" %}selected{% endif %} value="fry">{{ _("Western Frisian") }}</option>
<option {% if selected=="wal" %}selected{% endif %} value="wal">{{ _("Wolaitta; Wolaytta") }}</option>
<option {% if selected=="wol" %}selected{% endif %} value="wol">{{ _("Wolof") }}</option>
<option {% if selected=="xho" %}selected{% endif %} value="xho">{{ _("Xhosa") }}</option>
<option {% if selected=="sah" %}selected{% endif %} value="sah">{{ _("Yakut") }}</option>
<option {% if selected=="yao" %}selected{% endif %} value="yao">{{ _("Yao") }}</option>
<option {% if selected=="yap" %}selected{% endif %} value="yap">{{ _("Yapese") }}</option>
<option {% if selected=="yid" %}selected{% endif %} value="yid">{{ _("Yiddish") }}</option>
<option {% if selected=="yor" %}selected{% endif %} value="yor">{{ _("Yoruba") }}</option>
<option {% if selected=="ypk" %}selected{% endif %} value="ypk">{{ _("Yupik languages") }}</option>
<option {% if selected=="znd" %}selected{% endif %} value="znd">{{ _("Zande languages") }}</option>
<option {% if selected=="zap" %}selected{% endif %} value="zap">{{ _("Zapotec") }}</option>
<option {% if selected=="zza" %}selected{% endif %} value="zza">{{ _("Zaza; Dimili; Dimli; Kirdki; Kirmanjki; Zazaki") }}</option>
<option {% if selected=="zen" %}selected{% endif %} value="zen">{{ _("Zenaga") }}</option>
<option {% if selected=="zha" %}selected{% endif %} value="zha">{{ _("Zhuang; Chuang") }}</option>
<option {% if selected=="zul" %}selected{% endif %} value="zul">{{ _("Zulu") }}</option>
<option {% if selected=="zun" %}selected{% endif %} value="zun">{{ _("Zuni") }}</option>
