<option>aa</option>
<option>ab</option>
<option>ae</option>
<option>af</option>
<option>ak</option>
<option>am</option>
<option>an</option>
<option>ar</option>
<option>as</option>
<option>av</option>
<option>ay</option>
<option>az</option>
<option>ba</option>
<option>be</option>
<option>bg</option>
<option>bh</option>
<option>bi</option>
<option>bm</option>
<option>bn</option>
<option>bo</option>
<option>br</option>
<option>bs</option>
<option>ca</option>
<option>ce</option>
<option>ch</option>
<option>co</option>
<option>cr</option>
<option>cs</option>
<option>cu</option>
<option>cv</option>
<option>cy</option>
<option>da</option>
<option>de</option>
<option>dv</option>
<option>dz</option>
<option>ee</option>
<option>el</option>
<option>en</option>
<option>eo</option>
<option>es</option>
<option>et</option>
<option>eu</option>
<option>fa</option>
<option>ff</option>
<option>fi</option>
<option>fj</option>
<option>fo</option>
<option>fr</option>
<option>fy</option>
<option>ga</option>
<option>gd</option>
<option>gl</option>
<option>gn</option>
<option>gu</option>
<option>gv</option>
<option>ha</option>
<option>he</option>
<option>hi</option>
<option>ho</option>
<option>hr</option>
<option>ht</option>
<option>hu</option>
<option>hy</option>
<option>hz</option>
<option>ia</option>
<option>id</option>
<option>ie</option>
<option>ig</option>
<option>ii</option>
<option>ik</option>
<option>io</option>
<option>is</option>
<option>it</option>
<option>iu</option>
<option>ja</option>
<option>jv</option>
<option>ka</option>
<option>kg</option>
<option>ki</option>
<option>kj</option>
<option>kk</option>
<option>kl</option>
<option>km</option>
<option>kn</option>
<option>ko</option>
<option>kr</option>
<option>ks</option>
<option>ku</option>
<option>kv</option>
<option>kw</option>
<option>ky</option>
<option>la</option>
<option>lb</option>
<option>lg</option>
<option>li</option>
<option>ln</option>
<option>lo</option>
<option>lt</option>
<option>lu</option>
<option>lv</option>
<option>mg</option>
<option>mh</option>
<option>mi</option>
<option>mk</option>
<option>ml</option>
<option>mn</option>
<option>mo</option>
<option>mr</option>
<option>ms</option>
<option>mt</option>
<option>my</option>
<option>na</option>
<option>nb</option>
<option>nd</option>
<option>ne</option>
<option>ng</option>
<option>nl</option>
<option>nn</option>
<option>no</option>
<option>nr</option>
<option>nv</option>
<option>ny</option>
<option>oc</option>
<option>oj</option>
<option>om</option>
<option>or</option>
<option>os</option>
<option>pa</option>
<option>pi</option>
<option>pl</option>
<option>ps</option>
<option>pt</option>
<option>qu</option>
<option>rm</option>
<option>rn</option>
<option>ro</option>
<option>ru</option>
<option>rw</option>
<option>sa</option>
<option>sc</option>
<option>sd</option>
<option>se</option>
<option>sg</option>
<option>si</option>
<option>sk</option>
<option>sl</option>
<option>sm</option>
<option>sn</option>
<option>so</option>
<option>sq</option>
<option>sr</option>
<option>ss</option>
<option>st</option>
<option>su</option>
<option>sv</option>
<option>sw</option>
<option>ta</option>
<option>te</option>
<option>tg</option>
<option>th</option>
<option>ti</option>
<option>tk</option>
<option>tl</option>
<option>tn</option>
<option>to</option>
<option>tr</option>
<option>ts</option>
<option>tt</option>
<option>tw</option>
<option>ty</option>
<option>ug</option>
<option>uk</option>
<option>ur</option>
<option>uz</option>
<option>ve</option>
<option>vi</option>
<option>vo</option>
<option>wa</option>
<option>wo</option>
<option>xh</option>
<option>yi</option>
<option>yo</option>
<option>za</option>
<option>zh</option>
<option>zu</option>
