<section class="module-content additional-info">
<h3>{{ _('Metadata information') }}</h3>
<table class="table table-striped table-bordered table-condensed">
     <tbody>
	{% if pkg_dict.language %}
	<tr>
		<th class="dataset-label">{{ _('Language') }}</th>
		<td class="dataset-details">{{pkg_dict.language}}</td>
	</tr>
	{% endif %}
	{% if pkg_dict.lastmod %}
	<tr>
		<th class="dataset-label">{{ _('Last modified') }}</th>
		<td class="dataset-details">{{pkg_dict.lastmod}}</td>
	</tr>
	{% endif %}
	{% if pkg_dict.project %}
	<tr>
		<th class="dataset-label">{{ _('Project') }}</th>
		<td class="dataset-details">{{pkg_dict.project}} </td>
	</tr>
	{% endif %}
	{% if pkg_dict.title_fi %}
	<tr>
		<th class="dataset-label">{{ _('Finnish title') }}</th>
		<td class="dataset-details">{{pkg_dict.title_fi}} </td>
	</tr>
	{% endif %}
	{% if pkg_dict.title_en %}
	<tr>
		<th class="dataset-label">{{ _('English title') }}</th>
		<td class="dataset-details">{{pkg_dict.title_en}} </td>
	</tr>
	{% endif %}
	</tbody>
</table>
</section>