{% set urn_url = h.get_dataset_permanent_address(pkg_dict) %}
{% set has_rights_to_dataset = h.check_access('package_update', {'id': pkg_dict['id']}) %} 
{% set primary_pid = h.get_primary_pid(pkg_dict) %} 
{% set external_id = h.get_external_id(pkg_dict) %} 
{% set permanent_url = h.full_current_url() %}
{% set lang = h.lang() %}
{% import 'macros/kata_form.html' as kata_form %}

<div class="dataset-section form-tab-content">

  <div class="form-row">
    <div class="form-label">{{ _('Dataset title') }}</div>
    <div class="form-content">
      <div class="etsin-multilang-display" data-module="etsin-multilang-display" data-module-currentlang="{{lang}}">

        <ul class="unstyled">
        {% for title in h.json_to_list(pkg_dict.title) %}
          {% set langvalue = h.get_language(title.lang) %}
          <li data-value="{{ title.lang }}"><a>{{ _(langvalue) }}</a></li>
        {% endfor %}
        </ul>
        {% for title in h.json_to_list(pkg_dict.title) %}
          <div class="multilang-field hidden" data-value="{{ title.lang}}">{{ title.value }}</div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Description') }}</div>
    <div class="form-content">
      {% if h.has_json_content(pkg_dict.notes) %}
        <div class="etsin-multilang-display" data-module="etsin-multilang-display" data-module-currentlang="{{ lang }}">

          <ul class="unstyled">
            {%- for description in h.json_to_list(pkg_dict.notes) -%}
            {% set langvalue = h.get_language(description.lang) %}
            <li data-value="{{ description.lang }}"><a>{{ _(langvalue) }}</a></li>
            {% endfor %}
          </ul>
          {%- for description in h.json_to_list(pkg_dict.notes) -%}
          <div class="multilang-field hidden" data-value="{{ description.lang }}">{{ h.render_markdown(description.value) }}</div>
          {% endfor %}

        </div>
      {% else %}
        <p>{{ _('No description') }}</p>
      {% endif%}
    </div>
  </div>

  {% if pkg_dict.language or pkg_dict.langdis %}
  <div class="form-row">
    <div class="form-label">{{ _('Language') }}</div>
    <div class="form-content">
        {% if pkg_dict.language %}{{ pkg_dict.language }}{% else %}{{ _('No language') }}{% endif%}
    </div>
  </div>
  {% endif %}


</div>
<div class="dataset-section form-tab-content">
  <!-- Keywords, Author, Distributor -->

  <div class="form-row">
    <div class="form-label">{{ _('Keywords') }}</div>
    <div class="form-content">
      {% snippet "package/snippets/tags.html", tags=pkg_dict.tags %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Field of science') }}</div>
    <div class="form-content">
      {{ h.disciplines_string_resolved(pkg_dict.discipline, 'okm-tieteenala') }}
    </div>
  </div>

</div>
<div class="dataset-section form-tab-content">

  <div class="form-row">
    <div class="form-label">{{ _('Author') }}</div>
    <div class="form-content">
      {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
        {% for agent in role.list if agent.role == 'author' %}
          {% if loop.index0 > 0 %}
            <br><br>
          {% endif %}
          {% if agent.name %}
            {{ agent.name }}
          {% endif %}
          {% if agent.organisation %}
            {% if agent.name %}
              <br>
            {% endif %}
            {{ agent.organisation }}
          {% endif %}
          {% if agent.URL %}
            {% if agent.name or agent.organisation %}
              <br>
            {% endif %}
            {{ agent.URL }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Distributor') }}</div>
    <div class="form-content">
      {% for contact in pkg_dict.contact %}
        {% if loop.index0 > 0 %}
          <br><br>
        {% endif %}
        {{ contact.name }}
        {% if contact.email %}
          <br>
          {% if contact.email == 'hidden' %}
            <a href="{{ h.url_for(controller='ckanext.kata.controllers:ContactController', action='render_contact_form', pkg_id=pkg_dict.name, recipient=loop.index0) }}">{{_('Send a message') }}</a>
          {% else %}
            {{ contact.email }}
          {% endif %}
        {% endif %}
        {% if contact.URL %}
          <br><a href="{{ contact.URL }}">{{ contact.URL }}</a>
        {% endif %}
        {% if contact.phone %}
          <br>{{ contact.phone }}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Owner') }}</div>
    <div class="form-content">
      {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
        {% for agent in role.list if agent.role == 'owner' %}
          {% if loop.index0 > 0 %}
            <br><br>
          {% endif %}
          {{ agent.name }}
          {% if agent.organisation %}
            <br>{{ agent.organisation }}
          {% endif %}
          {% if agent.URL %}
            <br>{{ agent.URL }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Organization') }}</div>
    <div class="form-content">
      {% if pkg_dict.get('organization') %}
          {% set org = pkg_dict.organization %}
          {% set root_nodes = h.get_parent_hierarchy(org) %}
          {% if not root_nodes.get('children') %}
            {% link_for org.title or org.name, controller='organization', action='about', id=org.name %}
          {% else %}
            <span class="compact">
              {% snippet 'organization/snippets/organization_tree.html', top_nodes=[root_nodes], show_empty=True %}
            </span>
          {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Contributor') }}</div>
    <div class="form-content">
      {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
        {% for agent in role.list if agent.role == 'contributor' %}
          {% if loop.index0 > 0 %}
            <br><br>
          {% endif %}
          {{ agent.name }}
          {% if agent.organisation %}
            <br>{{ agent.organisation }}
          {% endif %}
          {% if agent.URL %}
            <br>{{ agent.URL }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-label">{{ _('Other') }}</div>
    <div class="form-content">
      {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
        {% for agent in role.list if agent.role not in ['contributor', 'owner', 'distributor', 'author', 'funder'] %}
          {% if loop.index0 > 0 %}
            <br><br>
          {% endif %}
            <b>{{ h.resolve_agent_role(agent.role) }}</b><br>
          {{ agent.name }}
          {% if agent.organisation %}
            <br>{{ agent.organisation }}
          {% endif %}
          {% if agent.URL %}
            <br>{{ agent.URL }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>
<div class="dataset-section form-tab-content">
  <!-- License -->

  <div class="form-row">
    <div class="form-label">{{ _('Data availability') }}</div>
    <div class="form-content">
        {% if pkg_dict.availability == 'access_application_rems_ida' or pkg_dict.availability == 'access_application_rems_other' or pkg_dict.availability == 'access_application_other' %}<a href="{{ pkg_dict.access_application_URL }}" target="_blank" class="download">{{ _('Access this dataset via this access form.')}}</a> {% endif%}
        {% if pkg_dict.availability == 'direct_download' %}{% if pkg_dict.direct_download_URL %} <a href="{{pkg_dict.direct_download_URL}}" class="download">{{ _('Access this dataset freely.') }}</a> {% endif %} {% endif %}
        {% if pkg_dict.availability == 'access_request' %}{% if pkg_dict.access_request_URL %} <a href="{{pkg_dict.access_request_URL}}" class="download">{{ _('Access this dataset by logging in.') }}</a> {% endif %} {% endif %}
        {% if pkg_dict.availability == 'contact_owner' %}
            {% link_for _('Access this dataset by contacting the distributor.'), controller='ckanext.kata.controllers:ContactController', action='render_request_form', pkg_id=pkg_dict.name, class_='download' %}
        {% endif %}
        {% if not pkg_dict.availability %}{{ _(' available freely or availability is not specified') }}{% endif %}
    </div>
  </div>

  <!-- Resources -->
  <div class="form-row">
    <div class="form-label">{{ _('Supplements') }}</div>
    <div class="form-content" id="metadata-info-resource-list">
      <table class="form-inner-table">
        {% snippet "package/snippets/resources_list.html", pkg=pkg_dict, resources=pkg_dict.resources, user=user %}
      </table>
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('License') }}</div>
    <div class="form-content">
      <p>
        {% if 'license_url' in pkg_dict %}
          <a href="{{ pkg_dict.license_url }}" rel="dc:rights" target="_blank">{{ pkg_dict.license_title }}</a>
        {% else %}
          <span property="dc:rights">{{ pkg_dict.license_title }}</span>
        {% endif %}
      </p>
  </div>

    <div class="form-label">{{ _('Copyright notice') }}</div>
    <div class="form-content">
      {{ h.render_markdown(pkg_dict.license_URL) }}
    </div>

    <div class="form-label">{{ _('Citation') }}</div>
    <div class="form-content">
      {% if 'citation' in pkg_dict %}
        {{ h.render_markdown(pkg_dict.citation) }}
      {% else %}

        <!-- Title -->
        {{ h.get_title_in_lang(pkg_dict.title, lang) }},

        <!-- Last modified -->
        {{ h.extract_version_date(pkg_dict.version) }},

        <!-- Author -->
        {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
          {% for agent in role.list if agent.role == 'author' %}
            {% if agent.name %}
              {{ agent.name }} ({{ _('author') }}),
            {% endif %}
          {% endfor %}
        {% endfor %}

        <!-- Distributor -->
        {% for contact in pkg_dict.contact %}
          {% if contact.name %}
            {{ contact.name }} ({{ _('distributor') }}),
          {% endif %}
        {% endfor %}

        <!-- Etsin -->
        {{ _('Etsin research data finder')}},

        <!-- Current year -->
        {{ h.get_current_year() }}.

        <!-- Url -->
        {{ h.get_current_url() }}<br>

      {% endif %}

      <span class="fakelink" data-toggle="modal" data-target="#citations">{{_('Show more citation formats')}}</span>

      <div class="modal fade modal-content-block" id="citations" tabindex="-1" role="dialog" aria-labelledby="citationsLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title ui-widget" id="citationsLabel">{{ _('Citations') }}</div>
            </div>
            <div class="modal-body">
              {% if 'citation' in pkg_dict %}
                <b>{{ _('Provided by distributor') }}</b><br />
                {{ pkg_dict.citation }}
                <br><br>
              {% endif %}

              <b>{{ _('Etsin default citation (en)') }}</b><br>
              {{ h.get_title_in_lang(pkg_dict.title, 'en') }},
              {{ h.extract_version_date(pkg_dict.version) }},
              {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
                {% for agent in role.list if agent.role == 'author' %}
                  {% if agent.name %}
                    {{ agent.name }} (author),
                  {% endif %}
                {% endfor %}
              {% endfor %}
              {% for contact in pkg_dict.contact %}
                {% if contact.name %}
                  {{ contact.name }} (distributor),
                {% endif %}
              {% endfor %}
              Etsin research data finder,
              {{ h.get_current_year() }}.
              {{ h.get_current_url() }}
              <br><br>

              <b>{{ _('Etsin default citation (fi)') }}</b><br>
              {{ h.get_title_in_lang(pkg_dict.title, 'fi') }},
              {{ h.extract_version_date(pkg_dict.version) }},
              {% for role in pkg_dict.agent|groupby('role') if role.grouper != 'funder' %}
                {% for agent in role.list if agent.role == 'author' %}
                  {% if agent.name %}
                    {{ agent.name }} (tekijä),
                  {% endif %}
                {% endfor %}
              {% endfor %}
              {% for contact in pkg_dict.contact %}
                {% if contact.name %}
                  {{ contact.name }} (jakelija),
                {% endif %}
              {% endfor %}
              Etsin tutkimuksen tietoaineistojen hakupalvelu,
              {{ h.get_current_year() }}.
              {{ h.get_current_url() }}
              <br><br>

            </div>
            <div class="modal-footer ida-dialog">
              <button type="button" class="ui-button ui-button-text-only ui-widget btn btn-default" data-dismiss="modal"><span class="ui-button-text ui-widget">{{ _('Close') }}</span></button>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
<div class="dataset-section form-tab-content">
  <!-- Coverage -->

  <div class="form-row">
    <div class="form-label">{{ _('Geographical areas covered') }}</div>
    <div class="form-content">
      {{ pkg_dict.geographic_coverage }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-label">{{ _('Period of time covered') }}</div>
    <div class="form-content">
      <!-- TODO: format timestamps to human readable format -->

      {% set tc_begin = pkg_dict.temporal_coverage_begin %}
      {% set tc_end = pkg_dict.temporal_coverage_end %}
      {% if tc_begin and tc_end %}
        {{tc_begin}}{{_(' to ') }}{{tc_end}}
      {% endif %}
      {% if tc_begin and not tc_end %}
        {{_('Begin')}}: {{tc_begin}}
      {% endif %}
      {% if tc_end and not tc_begin %}
        {{_('End')}}: {{tc_end}}
      {% endif %}
    </div>
  </div>

</div>
<div class="dataset-section form-tab-content">
  <!-- Funding -->

  <div class="form-row">
    <div class="form-label">{{ _('Project and funding information') }}</div>
    <div class="form-content">
    {% set funders = h.get_funders(pkg_dict) %}
    {% if funders %}
      <table class="table table-bordered table-condensed">
        <colgroup>
          <col width="20%">
          <col width="25%">
          <col width="30%">
          <col width="25%">
        </colgroup>
        <tbody>
        <tr>
          <th>{{ _('Project name') }}</th>
          <th>{{ _('Funder') }}</th>
          <th>{{ _('URL') }}</th>
          <th>{{ _('Funding id') }}</th>
        </tr>
        {% for f in funders %}
          <tr>
            <td>{{ f.name }}</td>
            <td>{{ f.organisation }}</td>
            <td><a href="{{ f.URL }}">{{ f.URL }}</a></td>
            <td>{{ f['fundingid'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>{{ _('No funding information is available.') }}</p>
    {% endif %}
    </div>
  </div>

</div>
<div class="dataset-section form-tab-content">

  <!-- IDs -->

  {%- if urn_url -%}
  <div class="form-row">
    <div class="form-label">{{ _('Permanent address for this page') }}</div>
    <div class="form-content">
      <a href="{{ urn_url }}">{{ urn_url }}</a>
    </div>
  </div>
  {%- endif -%}

  <div class="form-row">
    <div class="form-label">{{ _('Identifier') }}</div>
    <div class="form-content">
      <table class="form-inner-table">
      <!--
        <tr>
          <th></th>
          <td><a href="{{ permanent_url }}">{{ permanent_url }}</a></td>
        </tr>-->
        <tr>
          {% if primary_pid %} 
            <td>{{ h.get_identifier_display_html(primary_pid) | safe }}</td> 
          {% else %} 
            <td>ERROR</td> 
          {% endif %}
          <td>{{ kata_form.tooltip(tooltip=_("<p>This is the permanent identifier (PID) for this dataset. Use it when citing this dataset. An identifier is unique and permanent. With identifiers you can unambiguously refer to a dataset. The permanent identifiers for digital systems are analogous to the ISBN for books. Examples of identifiers for data are URN, Handle and DOI, but many others exist.</p>")) }}</td>
        </tr>
      </table>
    </div>
  </div>

  {%- if has_rights_to_dataset and external_id -%}
  <div class="form-row">
    <div class="form-label">{{ _('External identifier') }}</div>
    <div class="form-content">{{ external_id }}</div>
  </div>
  {%- endif -%}

  {% set relation_pids = h.get_pids_by_type('relation', pkg_dict) %}
  {% if relation_pids %}
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="form-label">{{ _('Related data') }}</div>
      <div class="form-content" style="position: relative;">
        <table class="form-inner-table">
          {% for pid in relation_pids %}
            <tr>
              <td style="font-style: italic;">{{ h.get_relation_type_translation(pid.relation, lang) | safe }}</td>
            </tr>
            <tr>
              <td style="padding-bottom: 15px;">{{ pid.id | safe }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="form-row">
    </div>
  {% endif %}
</div>

<div class="dataset-section form-tab-content">
<!-- Dataset lifecycle events -->

  <div class="form-row">
    <div class="form-label">{{ _('Dataset lifecycle events') }}</div>
      <div class="form-content">
        <!--<table class="form-inner-table">-->
        {% if pkg_dict.event %}
        <table class="table table-bordered table-condensed">
          <colgroup>
            <col width="20%">
            <col width="25%">
            <col width="30%">
            <col width="25%">
          </colgroup>
          <tr>
            <th>{{ _('Event') }}</th>
            <th>{{ _('Who') }}</th>
            <th>{{ _('When') }}</th>
            <th>{{ _('Description') }}</th>
          </tr>
          {% for ev in pkg_dict.event %}<tr>
            <td class="dataset-details">{{ _(ev.get('type', ' ')) }}</td>
            <td class="dataset-details">{{ ev.get('who', ' ') }}</td>
            <td class="dataset-details">{{ ev.get('when', ' ') }}</td>
            <td class="dataset-details">{{ _(ev.get('descr', ' ')) }}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
  </div>
  <div class="form-row">
    <div class="form-label">{{ _('Most recent data modification date') }}</div>
    <div class="form-content">{{ pkg_dict.version }}</div>
  </div>
</div>
<div class="dataset-section form-tab-content">
    <!-- Additional information / technical information about the data file -->
    <div class="form-row">
      <div class="form-label">{{ _('Additional information') }}</div>
      <div class="form-content">
        <table class="form-inner-table">
          {% if pkg_dict.mimetype %}
            <tr>
              <th class="dataset-label">{{ _('File format: MIME type') }}</th>
              <td class="dataset-details">{{ pkg_dict.mimetype }}</td>
            </tr>
          {% endif %}
          {%  if pkg_dict.format %}
            <tr>
              <th class="dataset-label">{{ _('File format') }}</th>
              <td class="dataset-details">{{ pkg_dict.format }}</td>
            </tr>
          {% endif %}
          {% if pkg_dict.algorithm and pkg_dict.checksum %}
            <tr>
              <th class="dataset-label">{{ _('Checksum') }}</th>
              <td class="dataset-details">{{ pkg_dict.checksum }}</td>
            </tr>
            <tr>
              <th class="dataset-label">{{ _('Algorithm') }}</th>
              <td class="dataset-details">{{ pkg_dict.algorithm }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
</div>
{#
<div class="dataset-section form-tab-content">
  <!-- Additional info -->

</div>
 #}