{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% block package_basic_fields_org %}
{# if we have a default group then this wants remembering #}
{% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

<div data-module="dataset-visibility">

  {% if data.owner_org %}
    {% if data.organization and data.owner_org == data.organization.id %}
      {% set selected_org = data.organization.title %}
    {% else %}
      {% set selected_org = h.resolve_org_name(data.owner_org) %}
    {% endif %}
  {% endif %}
  {% set org_attrs = {'class': 'kata-input-license', 'data-module': 'autocomplete', 'data-module-tags': 'false', 'data-module-source': '/api/2/util/organization/autocomplete?incomplete=?', 'data-module-label': 'title', 'data-module-key': 'id'} %}
  <div class="kata-autocomplete error-block-autocomplete">
    {% call kata_form.input(
      'owner_org', id='field-organizations', label=_('Organisation')+" * ",
      placeholder=_('Choose an organisation...'), value=selected_org,
      control_classes=['kata-medium-input'], label_classes=['kata-input-comp'],
      attrs=org_attrs)
    %}
      <div class="form-instructions dropdown">
        <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
          <i class="icon-question-sign"></i>
        </a>
        <div class="dropdown-menu">
          {% trans %}
            Select an organization to link the dataset to the organization within this service. The service automatically gives suggestions of available organizations when you start typing on the field. Select the correct organization with a mouse click or by selecting the correct one and pressing enter. If you can not find your organization from the selection list, you can type down a new organization and it will be automatically created to the service when you save your dataset. <br /><br />Once the dataset is published it is visible in the organization page. Additionally, the organization's editors can also modify this dataset.
          {% endtrans %}
        </div>
      </div>
      {% if errors.owner_org %}
        <span class="error-block">
          {{ errors.owner_org[0] }}
        </span>
      {% endif %}
    {% endcall %}
  </div>

</div>

{% endblock %}
