{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kataform %}
{% set action = c.form_action or '' %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form class="dataset-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form">

{# 
  _ckan_phase was removed when integrating the ONKI selector
  Its existence lead to inconsistent functionalities when adding a new dataset
  or editing an old one. The problematic function can be found from:
  package._save_edit, tag_string lines within if '_ckan_phase'
  Though, the quick fix causes some problems, eg. the partial update brakes
 #}
  {#<input type="hidden" name="_ckan_phase" value="" />#}
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ kataform.kataerrors(error_summary) }}{% endblock %}

  {% block basic_fields %}
    {% snippet 'package/snippets/package_basic_fields.html', data=data, errors=errors, licences=c.licences, groups_available=c.groups_available, roles=c.roles, versionPID=c.versionPID, lastmod=c.lastmod, user=c.userobj %}
  {% endblock %}

  {% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors, roles=c.roles %}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under the Open Database
          License.
          {%- endtrans -%}
        </p>
      {% endblock %}
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id})  %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      {% block cancel_button %}
        <a class="btn" href="">{% block cancel_button_text %}{{ _('Cancel') }}{% endblock %}</a>
      {% endblock %}
      <button class="btn btn-primary" type="submit" value="finish" name="save">{% block save_button_text %}{{ _('Done') }}{% endblock %}</button>
    </div>
  {% endblock %}
</form>
