{% import 'macros/form.html' as form %}

{% set groups_available = h.groups_available() %}
{% if groups_available %}
  <div class="control-group">
    {% set groups = h.dict_list_reduce(data.groups, 'id') %}
    <label for="field-groups" class="control-label">{{ _('Add to Groups') }}</label>
    <div class="controls">
      <select id="field-groups" name="groups__{{ groups | count }}__id" data-module="autocomplete">
        <option value="">{{ _('Select a group...') }}</option>
        {% for group in groups_available %}
        <option value="{{ group.id }}" {% if group.id in groups %}selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

{{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}

{{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

{{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}

{% block custom_fields %}
  {% snippet 'package/snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock %}


{# TODO: Move to own template #}
<div data-module="custom-fields">
{% macro rolename(key) %}
	{{ key.split('_')[2] }}
{% endmacro %}

{% set lastrole = 1 %}

{% for extra in data.extras %}
	{% if extra.key.startswith('role') %}
		{% set lastrole = loop.index %}
		{% set role = rolename(extra.key) %}
		<div class="control-group control-custom">
		<label class="control-label" for="role__{{ loop.index }}__id">{{ _('Role') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<select class="role-select" name="role__{{ loop.index }}__key" id="role__{{ loop.index }}__id">
						{% for option in g.roles %}
						{% if option.lower() in extra.key %}
						<option value="{{ option.lower() }}" selected="selected">{{ _(option) }}</option>
						{% else %}
						<option value="{{ option.lower() }}">{{ _(option) }}</option>
						{% endif %}
						{% endfor %}
					</select>
					<label for="role__{{ loop.index }}__value_id" class="add-on">{{ _('Value') }}</label>
					<input type="text" id="role__{{ loop.index }}__value_id" name="role__{{ loop.index }}__value" value="{{ extra.value }}" />
					
					{# Check field as deleted #}
					<label class="checkbox btn btn-danger icon-remove" for="field-role-{{ loop.index }}-remove">
						<input type="checkbox" id="field-role-{{ loop.index }}-remove" name="role__{{ loop.index }}__deleted"> <span>Remove</span>
					</label>
			    </div>
			</div>
		</div>
	{% endif %}
{% endfor %}

  {% for extra in range(1, 2) %}
    {% set index = lastrole + extra + 10 %}
		<div class="control-group control-custom">
		<label class="control-label" for="role__{{ index }}__id">{{ _('Role') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<select class="role-select" name="role__{{ index }}__key" id="role__{{ index }}__id">
						{% for option in g.roles %}
						<option value="{{ option }}">{{ _(option) }}</option>
						{% endfor %}
					</select>
					<label for="role__{{ index }}__value_id" class="add-on">{{ _('Value') }}</label>
					<input type="text" id="role__{{ index }}__value_id" name="role__{{ index }}__value" value="" />
			    </div>
			</div>
		</div>
  {% endfor %}
</div>


