{% import 'macros/form.html' as form %}


{% if data.owner_org %}
  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
      <select id="field-private" name="private" data-module="autocomplete">
        {% for option in [(true, 'Private'), (false, 'Public')] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private%}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{% block custom_fields %}
{% endblock %}


{% block dataset_fields %}
{% endblock %}
