{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

<div class="tab-content-inner">

  <h3>{{ _('Authors') }}</h3>
  {% set authors = h.get_authors(data) %}
  {% if authors|length == 0 %}
    {% do authors.append(dict(role='author')) %}
  {% endif %}

    <div data-module="custom-fields-kata" data-module-id="agent" data-module-numfields="{{ authors|length }}" data-module-index="agent-index" id="agent">
    {% set author_errors = h.get_dict_errors(errors, '__extras', 'author') %}
    {% for agent in authors %}
      {% set index = agent_index.increase() %}

      <div class="control-group control-custom{{ " error" if author_errors }}">

        {% call kata_form.input(
          'agent__' ~ index ~ '__name', label=_('Author') + '*',
           id='agent__' ~ index ~ '__name_id', placeholder=_('Firstname Familyname'),
           value=agent.name, error=h.get_dict_field_errors(errors, 'agent', index, 'name'),
           label_classes=['kata-input-comp'], control_classes=['kata-medium'],
           attrs={'class': "kata-medium-input"})%}

          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("The person or organisation that originally created the dataset should be added as author. You can add more authors by pressing the '+' button and remove authors by leaving their fields empty. For each author you must give atleast a name or an organisation.")) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input(
          'agent__' ~ index ~ '__id', label=_('Identifier'),
          id='agent__' ~ index ~ '__id_id', placeholder=_('http://orcid.org/'),
          value=agent.id, error=h.get_dict_field_errors(errors, 'agent', index, 'id'),
          classes=['control-custom'],label_classes=['kata-input-comp'],
          control_classes=['kata-medium'], attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("You may provide an identifier (e.g. ORCID) for the author.")) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input(
          'agent__' ~ index ~ '__organisation', label=_('Organisation') + '*',
          id='agent__' ~ index ~ '__organisation_id', placeholder=_('University. Faculty. Department.'),
          value=agent.organisation, error=h.get_dict_field_errors(errors, 'agent', index, 'organisation'),
          classes=['control-custom'], label_classes=['kata-input-comp'],
          control_classes=['kata-medium'], attrs={'class': "kata-medium-input"})
        %}
        {% endcall %}

        {% if loop.index0 == 0 %}
          {{ kata_form.plusbutton(id="authors_add", text=_("Add author"), onclick="$(\'#obtn__" ~ index ~ "__value_id\').change();") }}
        {% endif %}

        <input  type="hidden" id="agent__{{ index }}__role" name="agent__{{ index }}__role" value="author" />
        <input style="display: none;" type="checkbox" id="obtn__{{ index }}__value_id" name="obtn__{{ index }}__value" class="btn btn-danger icon-plus-sign checkbox"/>
      </div>
    {% endfor %}
    {% if author_errors and author_errors is iterable %}<span class="error-block-kata">{{ author_errors|join('. ') }}</span>{% endif %}
    </div>


  <h3>{{ _('Contributors') }}</h3>
  {% set contributors = h.get_contributors(data) %}
  {% if contributors|length == 0 %}
    {% do contributors.append(dict(role='contributor')) %}
  {% endif %}

    <div data-module="custom-fields-kata" data-module-id="contributors" data-module-numfields="{{ contributors|length }}" data-module-index="agent-index" id="contributors">
    {% set contributor_errors = h.get_dict_errors(errors, '__extras', 'contributors') %}
    {% for agent in contributors %}
      <div class="control-group control-custom{{ " error" if contributor_errors }}">
      {% set index = agent_index.increase() %}
      {% set agent_prefix = "agent__" ~ index ~ "__" %}

        {% call kata_form.input(
          'agent__' ~ index ~ '__name', label=_('Name'),
          id='agent__' ~ index ~ '__name_id', placeholder=_('Firstname Familyname'),
          value=agent.name, error=h.get_dict_field_errors(errors, 'agent', index, 'name'),
          label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("Contributor is a person or an organisation who has contributed significantly to the dataset.<br /><br />Type names of contributors and organisations to the corresponding fields. You can add more contributors by pressing the '+' button and remove contributors by leaving their fields empty.")) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input(
          'agent__' ~ index ~ '__id', label=_('Identifier'),
          id='agent__' ~ index ~ '__id_id', placeholder=_('http://orcid.org/'),
          value=agent.id, error=h.get_dict_field_errors(errors, 'agent', index, 'id'),
          label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("You may provide an identifier (e.g. ORCID) for the contributor.")) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input(
          'agent__' ~ index ~ '__organisation', label=_('Organisation'),
          id='agent__' ~ index ~ '__organisation_id', placeholder=_('University. Faculty. Department.'),
          value=agent.organisation, error=h.get_dict_field_errors(errors, 'agent', index, 'organisation'),
          classes=['control-custom'], label_classes=['kata-input-comp'],
          control_classes=['kata-medium'], attrs={'class': "kata-medium-input"})
        %}
        {% endcall %}
        {% if loop.index0 == 0 %}
          {{ kata_form.plusbutton(id="contributors_add", text=_("Add contributor"), onclick="$(\'#obtn__" ~ index ~ "__value_id\').change();") }}
        {% endif %}

        <input type="hidden" id="{{ agent_prefix }}role" name="{{ agent_prefix }}role" value="contributor" />
        <input style="display: none;" type="checkbox" id="obtn__{{ index }}__value_id" name="obtn__{{ index }}__value" class="btn btn-danger icon-plus-sign checkbox"/>
      </div>
    {% endfor %}
    {% if owner_errors and owner_errors is iterable %}<span class="error-block-kata">{{ contributor_errors|join('. ') }}</span>{% endif %}
    </div>


  {% set distributor = h.get_distributor(data) %}
  {% if distributor or data.id %}
    <input type="hidden" name="agent__999__role" value="distributor" />
    <input type="hidden" name="agent__999__name" value="{{ distributor.name }}" />
    <input type="hidden" name="agent__999__organisation" value="{{ distributor.organisation or '' }}" />
  {% endif %}
  <h3>{{ _('Distributor') }}</h3>
  {% set contacts = h.get_contacts(data) %}
  {% if contacts|length == 0 %}
    {% do contacts.append(dict()) %}
  {% endif %}
    <div data-module="custom-fields-kata" data-module-id="contacts" data-module-numfields="{{ contacts|length }}" id="contacts">
    {% set distributor_errors = h.get_dict_errors(errors, '__extras', 'contact') %}

    {% for contact in contacts %}
      <div class="control-group control-custom{% if distributor_errors %} error{% endif %}">

        {% set index = loop.index0 %}
        {% call kata_form.input(
          'contact__' ~ index ~ '__name', label=_('Name') + '*',
          id='contact__' ~ index ~ '__name', placeholder=_('Firstname Familyname'), value=contact.name,
          error=h.get_dict_field_errors(errors, 'contact', index, 'name'),
          label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("Distributor is a person or an organisation who has the right to distribute the dataset or has published the dataset.")) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input('contact__' ~ index ~ '__phone', label=_('Phone'),
          id='contact__' ~ index ~ '__phone', placeholder=_('+35844122123'),
          value=contact.phone, error=h.get_dict_field_errors(errors, 'contact', index, 'phone'),
          label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_('The phone number must be in form "+35812341234" or "12341234".')) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input('contact__' ~ index ~ '__email',
          label=_('Email') + '*', id='contact__' ~ index ~ '__email',
          placeholder=_('john.doe@example.com'), value=contact.email,
          error=h.get_dict_field_errors(errors, 'contact', index, 'email'),
          type='email', label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_('The e-mail address is not shown publicly but it can be used to send e-mails in this service.')) }}
          {% endif %}
        {% endcall %}

        {% call kata_form.input('contact__' ~ index ~ '__URL', label=_('Homepage'),
          id='contact__' ~ index ~ '__URL', placeholder=_('http://johndoe.com/contact'),
          value=contact.URL, error=h.get_dict_field_errors(errors, 'contact', index, 'URL'),
          label_classes=['kata-input-comp'], control_classes=['kata-medium'],
          attrs={'class': "kata-medium-input"})
        %}
          {% if loop.index0 == 0 %}
            {{ kata_form.tooltip(tooltip=_("Type a valid web address to your web page. In case you don't have one, you could for example give an address to your research group's site or any site that could make it possible to contact the origin of the dataset in case of need.")) }}
          {% endif %}
        {% endcall %}
        {% if loop.index0 == 0 %}
          {{ kata_form.plusbutton(id="contacts_add", text=_("Add distributor"), onclick="$(\'#obtn__" ~ index ~ "__contact_id\').change();") }}
        {% endif %}
        <input style="display: none;" type="checkbox" id="obtn__{{ index }}__contact_id" name="obtn__{{ index }}__contact" class="btn btn-danger icon-plus-sign checkbox"/>
      </div>
    {% endfor %}

    {% if distributor_errors and distributor_errors is iterable %}
      <span class="error-block-kata">{{ distributor_errors|join('. ') }}</span>
    {% endif %}
    </div>


  <h3>{{ _('Project') }}</h3>
  <input id="projdis" type="checkbox" style="top: 0px;" name="projdis" onchange="$('#projdiv').toggle()" {% if h.get_funder(data) %}checked {% endif %}value="True" />
  <label for="projdis" class="kata-checkbox-label">{{ _('This dataset was produced in a project.') }} </label>

  <div id="projdiv"{% if not h.get_funder(data) %} style="display: none;"{% endif %}>
  {% set funders = h.get_funders(data) %}
  {% if funders|length == 0 %}
    {% do funders.append(dict(role='funder')) %}
  {% endif %}

    <div data-module="custom-fields-kata" data-module-id="funders" data-module-numfields="{{ funders|length }}" data-module-index="agent-index" id="funders" data-module-remove=".select2-container">
    {% set funder_errors = h.get_dict_errors(errors, '__extras', 'funder') %}

    {% for agent in funders %}
      <div class="control-group{{ " error" if funder_errors }}">
        {% set index = agent_index.increase() %}
        {% set agent_prefix = "agent__" ~ index ~ "__" %}

        {% if loop.index0 == 0 %}

          {% call kata_form.input(
            agent_prefix ~ 'name', label=_('Name') ~ '*', id=agent_prefix ~ 'name',
            placeholder=_('my project'), value=agent.name,
            error=h.get_dict_field_errors(errors, 'agent', index, 'name'),
            label_classes=['kata-input-comp'], control_classes=['kata-medium'],
            attrs={'class': "kata-medium-input"})
          %}
            {{ kata_form.tooltip(tooltip=_("Fill these fields if checkbox 'This dataset was produced in a project.' is checked. You can add more funders from the '+' button. Some automatic suggestions are given for funders when you start typing in the funder field, but you can also give a funder not found in the list.")) }}
          {% endcall %}

          {% call kata_form.input(
            agent_prefix ~ 'URL', label=_('Homepage') ~ '*', id=agent_prefix ~ 'URL',
            placeholder=_('http://myproject'), value=agent.URL,
            error=h.get_dict_field_errors(errors, 'agent', index, 'URL'),
            label_classes=['kata-input-comp'], control_classes=['kata-medium'],
            attrs={'class': "kata-medium-input"})
          %}
            {# { kata_form.tooltip(tooltip=_("Field is compulsory if checkbox 'This dataset was produced in a project.' is checked.")) }#}
          {% endcall %}
        {% endif %}

        <div class="control-custom">
          {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/funder_autocomplete?incomplete=?', 'class': "kata-medium-input kata-select2"} %}
          {% call kata_form.input(
            agent_prefix ~ 'organisation', label=_('Funder') ~ '*',
            id=agent_prefix ~ 'organisation', placeholder=_('my funder'),
            value=agent.organisation, error=h.get_dict_field_errors(errors, 'agent', index, 'organisation'),
            label_classes=['kata-input-comp'], control_classes=['kata-select2-error-control'],
            attrs=format_attrs)
          %}
            {# { kata_form.tooltip(tooltip=_("Field is compulsory if checkbox 'This dataset was produced in a project.' is checked.")) }#}
          {% endcall %}

          {% call kata_form.input(
            agent_prefix ~ 'fundingid', label=_('Funding id') ~ '*',
            id=agent_prefix ~ 'fundingid', placeholder=_('1234'), value=agent['fundingid'],
            error=h.get_dict_field_errors(errors, 'agent', index, 'fundingid'),
            label_classes=['kata-input-comp'], control_classes=['kata-medium'],
            attrs={'class': "kata-medium-input"})
          %}
            {# { kata_form.tooltip(tooltip=_("Field is compulsory if checkbox 'This dataset was produced in a project.' is checked.")) }#}
          {% endcall %}
          {% if loop.index0 == 0 %}
            {{ kata_form.plusbutton(id="funders_add", text=_("Add funder"), onclick="$(\'#obtn__" ~ index ~ "__value_id\').change();") }}
          {% endif %}

          <input type="hidden" id="{{ agent_prefix }}role" name="{{ agent_prefix }}role" value="funder" />
          <input style="display: none;" type="checkbox" id="obtn__{{ index }}__value_id" name="obtn__{{ index }}__value" class="btn btn-danger icon-plus-sign checkbox"/>
        </div>
      </div>
    {% endfor %}
    {% if funder_errors and funder_errors is iterable %}<span class="error-block-kata">{{ funder_errors|join('. ') }}</span>{% endif %}
    </div>
  </div>


  <h3>{{ _('Owner information') }}</h3>
  {% set owners = h.get_owners(data) %}
  {% if owners|length == 0 %}
    {% do owners.append(dict(role='owner')) %}
  {% endif %}

  <div data-module="custom-fields-kata" data-module-id="owner" data-module-numfields="{{ owners|length }}" data-module-index="agent-index" id="owner">
    {% set owner_errors = h.get_dict_errors(errors, '__extras', 'owner') %}

    {% for agent in owners %}
      <div class="control-group control-custom{{ " error" if owner_errors }}">
        {% set index = agent_index.increase() %}
        {% set agent_prefix = "agent__" ~ index ~ "__" %}

          {% call kata_form.input(
            'agent__' ~ index ~ '__name', label=_('Owner') + '*',
            id='agent__' ~ index ~ '__name_id', placeholder=_('name or ID such as ORCID'),
            value=agent.name, error=h.get_dict_field_errors(errors, 'agent', index, 'name'),
            label_classes=['kata-input-comp'], control_classes=['kata-medium'],
            attrs={'class': "kata-medium-input"})
          %}
            {% if loop.index0 == 0 %}
              {{ kata_form.tooltip(tooltip=_("Owner is a person or an organisation who decides upon the use of the dataset.<br /><br />Type the owner's name (firstname familyname) or ID, such as an ORCID identifier.")) }}
            {% endif %}
          {% endcall %}
          {% if loop.index0 == 0 %}
            {{ kata_form.plusbutton(id="owners_add", text=_("Add owner"), onclick="$(\'#obtn__" ~ index ~ "__value_id\').change();") }}
          {% endif %}

          <input type="hidden" id="{{ agent_prefix }}role" name="{{ agent_prefix }}role" value="owner" />

        <input style="display: none;" type="checkbox" id="obtn__{{ index }}__value_id" name="obtn__{{ index }}__value" class="btn btn-danger icon-plus-sign checkbox"/>

      </div>
    {% endfor %}
    {% if owner_errors and owner_errors is iterable %}
      <span class="error-block-kata">{{ owner_errors|join('. ') }}</span>
    {% endif %}
  </div>
  {% snippet 'package/snippets/package_organization.html', data=data, errors=errors, licences=licences, groups_available=groups_available, roles=roles, version_PID=version_PID, lastmod=lastmod, user=user %}

</div>