{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% set external_id = h.get_external_id(data) %}

<div class="tab-content-inner">

  <div class="alert alert-info" id="ida-pid-change-alert" style="display: none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ _('You changed availability. Please note that the access rights management and access to the dataset is still available in Reetta. Should you at any point wish to return to having the IDA-Reetta availability in Etsin, it is possible by setting the correct IDA PID to the field under "Manage access rights with Reetta service, dataset is stored in IDA".') }}
  </div>

  <div class="form-row">
    <label class="form-label">
      {{ _('Dataset is available for use by') ~ '*' -}}
    </label>
    <div class="control-group form-content">

      <label class="radio" for="direct_download">
        <input type="radio" name="availability" id="direct_download" value="direct_download" style="top: 4px" onclick="KATA.toggleAccess(this)" {% if data.availability == 'direct_download'%}checked{% endif %}>
        {{ _('direct download') }}
      </label>
      {# Somewhat dirty solution. The resource error is *somewhere* in array as some indices may be for metadata documents #}
      <div data-module="etsin-ida-prefill" id="urlDiv_direct_download" {% if (not data.direct_download_URL or data.direct_download_URL == 'http://') and not (errors.resources and data.availability == 'direct_download') %}style="display:none"{% endif %}>
        <a id="ida_direct_download_link" onclick="openIdaPopup(); event.returnValue=false;">{{ _('direct download from IDA') }}</a>
        {% if errors.resources and data.availability == 'direct_download' %}
          {{ form.input('direct_download_URL', label=_('Web address for downloading the dataset'), id="direct_download_URL", placeholder=_('http://mydata.com'), value=data.direct_download_URL, error=[_('Missing value')], classes=['control-medium'], control_classes=["kata-label-pluspad"], label_classes=['kata-input-comp']) }}
        {% else %}
          {{ form.input('direct_download_URL', label=_('Web address for downloading the dataset'), id="direct_download_URL", placeholder=_('http://mydata.com'), value=data.direct_download_URL, error='', classes=['control-medium'], control_classes=["kata-label-pluspad"], label_classes=['kata-input-comp']) }}
        {% endif %}
      </div>

      <label class="radio" for="access_request">
        <input type="radio" name="availability" id="access_request" value="access_request" style="top: 4px" onclick="KATA.toggleAccess(this)" {% if data.availability == 'access_request'%}checked{% endif %}>
        {{ _('download after registration or identification') }}
      </label>
      <div id="urlDiv_access_request" {% if not data.availability == 'access_request' and (not data.access_request_URL and not errors.access_request_URL) %}style="display:none"{% endif %}>
        {{ form.input('access_request_URL', label=_('Web address for downloading the dataset'), id="access_request_URL", placeholder=_('http://mydata.com'), value=data.access_request_URL, error=errors.access_request_URL, classes=['control-medium'], control_classes=["kata-label-pluspad"], label_classes=['kata-input-comp']) }}
      </div>

      <label class="radio" for="access_application">
        <input type="radio"  id="access_application" style="top: 4px" onclick="KATA.toggleAccess(this)" {{ "checked " if data.availability == 'access_application_rems_ida' or data.availability == 'access_application_rems_other' or data.availability == 'access_application_other'}}>
        {{ _('using access rights management service') }}
      </label>
      <div id="urlDiv_access_application" class="m-left" {% if data.availability != 'access_application_rems_ida' and data.availability != 'access_application_rems_other' and data.availability != 'access_application_other'%}style="display:none"{% endif %}>

        {% if data.availability == 'access_application_rems_ida' %}
          {% set access_application_rems_ida_option = true %}
          {% set access_application_rems_other_option = false %}
          {% set access_application_other_option = false %}
        {% endif %}
        {% if data.availability == 'access_application_rems_other' %}
          {% set access_application_rems_ida_option = false %}
          {% set access_application_rems_other_option = true %}
          {% set access_application_other_option = false %}
        {% endif %}
        {% if data.availability == 'access_application_other' %}
          {% set access_application_rems_ida_option = false %}
          {% set access_application_rems_other_option = false %}
          {% set access_application_other_option = true %}
        {% endif %}

        <label class="radio" for="access_application_rems_ida">
          <input type="radio" name="availability" id="access_application_rems_ida" style="top: 4px" value="access_application_rems_ida" onclick="KATA.toggleAccess(this)" onchange="" {% if access_application_rems_ida_option %}checked value="True"{% endif %}/>
          {{ _('Manage access rights with Reetta service, dataset is stored in IDA') }}
          {{ kata_form.tooltip(tooltip=_("If the dataset is in IDA storage service and you would like to use Reetta resource entitlement management system to manage access rights to the dataset, choose this option. IDA is linked to Reetta, so your dataset's IDA metadata PID (Identifier.series) is required to establish connection between Reetta and IDA. Applicants are able to access the application form via Etsin dataset page, and after the dataset distributor has accepted the applicant's application, the applicant will be notified of this automatically.")) }}
        </label>
        <div class="m-left" id="access_application_rems_ida_box" {% if not access_application_rems_ida_option %} style="display: none" {%endif%}>
          {{ form.input_unnamed('access_application_rems_ida_identifier', label=_("Enter IDA metadata identifier of the dataset"), placeholder=_('urn:nbn:fi:csc-ida...s'), value=external_id, error=errors.external_id, classes=['control-medium'], control_classes=["kata-label-pluspad"], label_classes=['kata-input-comp'])}}
        </div>

        <label class="radio" for="access_application_rems_other">
          <input type="radio" name="availability" id="access_application_rems_other" style="top: 4px" value="access_application_rems_other" onclick="KATA.toggleAccess(this)" {% if access_application_rems_other_option %}checked value="True"{% endif %}/>
          {{ _('Manage access rights using Reetta service, dataset is not stored in IDA.') }}
          {{ kata_form.tooltip(tooltip=_('If the dataset is not in IDA storage service and you would like to use Reetta resource entitlement management system for managing access rights to the dataset, choose this option. Applicants are able to access the application form via Etsin dataset page, but all communication after that is business between the dataset distributor and the applicant, Etsin is no longer involved.')) }}
        </label>

        <label class="radio" for="access_application_other">
          <input type="radio" name="availability" id="access_application_other" style="top: 4px" value="access_application_other" onclick="KATA.toggleAccess(this)" {% if access_application_other_option %}checked value="True"{% endif %}/>
          {{ _('Manage access rights using another service. ') }}
          {{ kata_form.tooltip(tooltip=_("If you are using another service than Reetta resource entitlement management system for managing the dataset's access rights, choose this option. In this case you need to input a link to that service's corresponsing dataset application form. Etsin users will be able to access the application form via Etsin dataset page, but all communication after that is business between the dataset distributor and the applicant, Etsin is no longer involved.")) }}
        </label>
        <div class="m-left" id="access_application_other_box" {% if not access_application_other_option %} style="display: none" {%endif%}>
          {{ form.input('access_application_URL', label=_("Enter the address for the dataset's existing access rights application form"), id='access_application_URL', placeholder=_('http://remsid/'), value=data.access_application_URL, error=errors.access_application_URL, classes=['control-medium'], control_classes=["kata-label-pluspad"], label_classes=['kata-input-comp'])}}
        </div>
      </div>

      <label class="radio" for="contact_owner">
        <input type="radio" name="availability" id="contact_owner" value="contact_owner" style="top: 4px" onclick="KATA.toggleAccess(this)" {% if data.availability == 'contact_owner'%}checked{% endif %}>
        {{ _('contacting the distributor') }}
      </label>

      <input id="external_id" type="hidden" name="external_id" value="{{ external_id | empty_and_escape }}" />

      {% if errors.availability %}
        <span class="error-block kata-error-non-input">{{ errors.availability[0] }}</span>
      {% endif %}
    </div>
    {{ kata_form.tooltip(tooltip=_("Choose how the data can be accessed. Type the URL information asked for depending on your choice. If the data is downloadable, choose the first or second option and provide the url. If the data is accessible after a person accepts terms and conditions in an external service, choose the third option. If the data can be accessed only by directly contacting the distributor, choose the last option. In this case data requests are sent by email to the address you provided in distributor section. Instructions on sharing files stored in IDA: ") ~ '<a href="' ~ _('http://openscience.fi/ida-browser-sharing') ~ '" target="_blank">' ~ _('http://openscience.fi/ida-browser-sharing') ~ '</a>') }}
  </div>

  {% set error = errors.license_id %}
  <div class="form-row">
    <label class="form-label" for="field-license">{{ _("License") }}</label>
    <div class="controls form-content">
      <select id="field-license" name="license_id" class="kata-input-license" data-module="autocomplete">
        {% for license_desc, license_id in licenses %}
          <option value="{{ license_id }}" {% if data.get('license_id', 'CC-BY-4.0') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
        {% endfor %}
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
      {{ kata_form.tooltip(tooltip=_('Choose a license from the given options. In addition to the chosen license, the relevant laws must be considered, e.g. Personal Data Act.') ~ '<br /><br />' ~ _('Information about licenses') ~ ': <a href="' ~ _('http://creativecommons.org/choose/?lang=en') ~ '" target="_blank">creativecommons.org</a>') }}
  </div>

  {% call kata_form.textarea('license_URL', id='license_URL', label=_('Copyright notice'), placeholder=_('e.g. additional information about the license'), value=data.license_URL, error=errors.license_URL, classes=['error-block-fullwidth']) %}
    {{ kata_form.tooltip(tooltip=_("Provide detailed information about copyright notice, use constraints, referencing etc. Note that the field is required if license is set to License Not Specified or any variant of Other.")) }}
  {% endcall %}

  {% call kata_form.textarea('citation', id='citation', label=_('Citation'), placeholder=_('e.g. Author, A.A.. (Year, Month Date of Publication). Dataset title. Retrieved from URL '), value=data.citation, error=errors.citation, classes=['error-block-fullwidth']) %}
    {{ kata_form.tooltip(tooltip=_("Provide a citation example for this dataset. If not specified, default citation format will be used.")) }}
  {% endcall %}

</div>
<div id="ida-prefill-modal">
  <div id="ida-prefill-description" class="modal-content-block">{{ _("Enter the dataset's IDA identifier in order to create download link") }}</div>
  <div class="modal-content-block">
    <fieldset>
      <legend></legend>
      <p id="ida-modal-tips" class="hide">{{ _('Input a valid IDA identifier') }}</p>
      <div class="form-input-block">
        <label id="ida-prefill-input-label" for="ida-prefill-input">{{ _("IDA identifier (Identifier.series in IDA's file metadata)") }}</label>
          <input type="text" name="ida-prefill-input" id="ida-prefill-input" placeholder="urn:nbn:fi:csc-ida..." class="text ui-widget-content ui-corner-all">
      </div>
    </fieldset>
    <p id="ida-preview-url"></p>
  </div>
</div>