{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% set index = h.create_loop_index() %}
{% set primary_pid = h.get_primary_pid(data, True) or dict(type='primary') %}
{% set lang = h.lang() %}

<div class="tab-content-inner">

  {# NOTE: Parameter "error" passed to kata_form.input macro needs to be corrected in all cases since it is same as in package_actors.html #}

  {% set pid_errors = h.get_dict_errors(errors, '__extras', 'pids') %}
  {% if pid_errors and pid_errors is iterable %}
    <span class="separate-error error-block error-block-margin">{{ pid_errors|join('. ') }}</span>
  {% endif %}

  {% set primary_pid_readonly = " readonly" if primary_pid.id and not errors.get('pids', [])[index.index]%}

  <label class="form-label kata-input-comp" for="pids__{{ index }}__id">{{ _('Primary identifier') }}</label>

  {% call kata_form.input(
    'pids__' ~ index ~ '__id', id='pids__' ~ index ~ '__id', placeholder='http://www.pid.com/1234',
     value=primary_pid.id, control_classes=['kata-medium'], hasLabel=False,
     attrs={'class': "kata-medium-input pid pids_" ~ index, primary_pid_readonly:''})%}

  {% if primary_pid.id %}
    <input style="margin: 3px; width: 20px; top: 6px" type="checkbox" id="pids__{{ index }}__modify" title="{{ _('Check this to correct errors in an existing PID') }}" onchange="$('input.pids_{{ index }}').prop('readonly',!$('input.pids_{{ index }}').prop('readonly'));" />
    <label class="control-label katalabel-pid2 hideclone" onclick="$('#pids__{{ index }}__modify').prop('checked', !$('#pids__{{ index }}__modify').prop('checked')); $('input.pids_{{ index }}').prop('readonly',!$('input.pids_{{ index }}').prop('readonly'));">{{ _('Edit') if primary_pid.id }}</label>
  {% endif %}

    <div class="form-double-instructions-container">
      {{ kata_form.tooltip(tooltip=_('<p>Primary identifier is the main identifier of a particular dataset. ....... Etsin will automatically create a primary metadata identifier for this dataset. The primary metadata identifier is the metadata identifier which refers to this dataset. It will be the variable "id" of the dataset and you will see this if you work with the Etsin API. You can also add additional metadata identifiers for example if you want to refer to this metadata using different identifier systems.</p><p>An identifier is unique and permanent. With identifiers you can unambiguously refer to for example a data file or a metadata record. The permanent identifiers for digital systems are analogous to the ISBN for books. Examples of identifiers for data are URN, Handle and DOI, but many others exist.</p>')) }}
    </div>

    <input type="hidden" name="pids__{{ index }}__type" value="primary" />

    {% if errors.pids and errors.pids[index.index] %}
      <span class="error-block kata-pid-field-error separate-error error-block-margin">{{ errors.pids[index.index].get('id')|join('. ') }}</span>
    {% endif %}
  {% endcall %}

  {% do index.increase() %}

  {% set additional_identifier_label = _('Other identifiers') %}
  <label class="form-label kata-input-comp" for="pids__{{ index }}__id">{{ additional_identifier_label }}</label>

  <div data-module="custom-fields-kata" data-module-id="pids-relation" id="pids-relation" data-module-index="pid-index" data-module-keep="type" data-module-hide=".hideclone" data-module-remove=".error-block" class="custom-fields-container">
    {% set pids = h.get_pids_by_type('relation', data) or [dict(type='relation')] %}
    {% for pid in pids %}
      {% set pid_readonly = " readonly" if pid.id and not errors.get('pids', [])[index.index] %}
      {% set pid_select_readonly = " readonly" if pid.id and not errors.get('pids', [])[index.index] %}
      <div class="control-custom">
        <div class="form-row">
          <div style="{{ 'margin-top: 5px !important' if loop.first }}" class="form-content kata-medium{{ ' error' if errors }}">
            <select id="pids__{{ index }}__relation" name="pids__{{ index }}__relation" class="pids_{{ index }} pid" {{ pid_readonly }}>
              {% for relation in h.get_relation_types() %}
                <option {% if pid.id and pid.relation == relation.id %} selected {% endif %} value="{{ relation.id }}">{{ relation[lang] }}</option>
              {% endfor %}
            </select>
            <input id="pids__{{ index }}__id" type="text" name="pids__{{ index }}__id" value="{{ pid.id | empty_and_escape }}" placeholder="http://www.pid.com/1234" class="kata-medium-input pid pids_{{ index }}" {{ pid_readonly }} />
          </div>
            {% if pid.id %}
              <input style="margin: 3px; width: 20px; top: 6px" type="checkbox" id="pids__{{ index }}__modify" title="{{ _('Check this to correct errors in an existing PID') }}" onchange="$('input.pids_{{ index }}').attr('readonly',!$('input.pids_{{ index }}').attr('readonly')); $('select.pids_{{ index }}').attr('readonly', !$('select.pids_{{ index }}').attr('readonly'));" />
              <label class="control-label katalabel-pid2 hideclone" onclick="$('#pids__{{ index }}__modify').prop('checked', !$('#pids__{{ index }}__modify').prop('checked')); $('input.pids_{{ index }}').attr('readonly',!$('input.pids_{{ index }}').attr('readonly')); $('select.pids_{{ index }}').attr('readonly', !$('select.pids_{{ index }}').attr('readonly'));">{{ _('Edit') if pid.id }}</label>
            {% endif %}

            {% if loop.first %}
              {{ kata_form.tooltip(tooltip=_('<p>Relation identifier is an identifier of the data this metadata record refers to. The primary data identifier is compulsory but it will be generated automatically if the field is left empty. Additional data identifiers can also be given, if for example you want to refer to the data using different identifier systems.</p><p>If your data is available by data access application form, for example REMS, the primary data identifier will be sent to this service and it must be recognised by the storage service.</p><p>An identifier is unique and permanent. With identifiers you can unambiguously refer to for example a data file or a metadata record. The permanent identifiers for digital systems are analogous to the ISBN for books. Examples of identifiers for data are URN, Handle and DOI, but many others exist.</p>')) }}
              <input style="display: none;" type="checkbox" id="pids__{{index}}__value" name="pids__{{index}}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
              {{ kata_form.plusbutton(id='pids_add-relation', text=_('Add'), onclick="$(\'#pid_btn__" ~ index ~ "__value_id\').change();") }}
              <input style="display: none;" type="checkbox" id="pid_btn__{{ index }}__value_id" name="pid_btn__{{ index }}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
            {% endif %}

            <input type="hidden" name="pids__{{ index }}__type" value="relation" />
            {% if errors.pids and errors.pids[index.index] %}
              <span class="error-block kata-pid-field-error separate-error error-block-margin">{{ errors.pids[index.index].get('id')|join('. ') }}</span>
            {% endif %}
        </div>
      </div>
    {% do index.increase() %}
    {% endfor %}
    </div>

  <input type="hidden" value="{{ index }}" id="pid-index" />

  <!--
  <div class="form-row">
    <label for="generate_version_pid" class="control-label kata-input-comp kata-wide-label">{{ _('Generate new version identifier') }}</label>
    <input id="generate_version_pid" type="checkbox" name="generate_version_pid" class="checkbox checkbox-generate" {{ 'checked' if not pids[0].id }} title='{{ _("Generate a new permanent identifier for the current data version.") }}'/>
    {{ kata_form.tooltip(tooltip=_('Generate a new permanent identifier for the current data version.')) }}
  </div>

  {% set lang = h.lang() %}

  <div class="form-row">
  {% call kata_form.input_block2("last_modified", _('Modification date'), error=errors.version, control_classes=['controls-row', 'controls-wide', 'modification-date-controls'], label_classes=['kata-input-comp', 'kata-wide-label'],
  extra_html=kata_form.tooltip(tooltip=_('Field is compulsory but an automatically generated date is provided.<br><br>The modification date tells when the data has last been modified. Click the calendar icon to open a calendar tool to choose the modification date for this dataset. Time can be entered if "use exact time" is chosen.'))) %}
    <div data-module="kata-datetimepicker"
         data-module-currentlang="{{ lang }}" data-module-name="version"
         data-module-value="{{data.version}}" data-module-defaultnow="true"
         data-module-disabled="false">

      <div class="kata-datetimepicker-parent"></div>

      <div class="kata-datepicker-error"></div>
    </div>
  {% endcall %}
  </div>
-->
</div>
