{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}
{% if errors %}
  <div data-module="kata-notification-tools" class="floating-error" id="kata-error-window">
    <i class="icon-info-sign">&nbsp;</i>{{ _('You have errors in your metadata. Please, make the requested corrections.') }}
  </div>
{% endif %}

<section class="module no-padding">
  <h2 class="module-heading-add-dataset tta-orange">{{ _('Required information') }}</h2>
  <div class="padded-module">

    {% snippet 'package/snippets/package_basic_information.html', data=data, errors=errors, licences=licences, groups_available=groups_available, roles=roles, version_PID=version_PID, lastmod=lastmod, user=user %}
    {% snippet 'package/snippets/package_actors.html', data=data, errors=errors, licences=licences, groups_available=groups_available, roles=roles, version_PID=version_PID, lastmod=lastmod, user=user %}

    {# If we have a default group then this wants remembering #}
    {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% snippet 'package/snippets/package_identification_info.html', data=data, errors=errors, licences=licences, groups_available=groups_available, roles=roles, version_PID=version_PID, lastmod=lastmod, user=user %}
    {% snippet 'package/snippets/package_usage_info.html', data=data, errors=errors, licences=licences, groups_available=groups_available, roles=roles, version_PID=version_PID, lastmod=lastmod, user=user %}

  </div>
</section>

{% snippet 'package/snippets/recommended_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
