{% import 'macros/form.html' as form %}

{% set groups_available = h.groups_available() %}
{% if groups_available %}
  <div class="control-group">
    {% set groups = h.dict_list_reduce(data.groups, 'id') %}
    <label for="field-groups" class="control-label">{{ _('Add to Groups') }}</label>
    <div class="controls">
      <select id="field-groups" name="groups__{{ groups | count }}__id" data-module="autocomplete">
        <option value="">{{ _('Select a group...') }}</option>
        {% for group in groups_available %}
        <option value="{{ group.id }}" {% if group.id in groups %}selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{% block custom_fields %}
  {% snippet 'package/snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock %}

{% include 'package/role_fields.html' %}

