{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% set currentlang = h.lang() %}

<div class="tab-content-inner">

  {% call kata_form.multilang_field('langtitle', _('Dataset title'), 'langtitle-language-selection2', "input", values=data.title, lang=currentlang, classes="", error=errors.langtitle, label_classes=['top-padding', 'center-align']) %}
    {{ kata_form.tooltip(class='top-padding', tooltip=_("Type an informative title for the research data. You can add several titles in different languages using the '+' button. You can remove a title field from 'x' if there are more than one fields inserted. If you leave an added title field empty it is discarded. However, at least the first title field must have a value.")) }}
  {% endcall %}

  {% snippet 'package/snippets/recommended_description.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}

  <div class="form-row">
    <label class="form-label center-align" for="language">{{ _('Languages') }}*</label>
    <div class="form-content">
      <input type="checkbox" style="top: 0px;" id="langdis" name="langdis" onchange="KATA.checkLang('#language')" {% if data.langdis != 'False' and data.langdis %}checked value="True"{% endif %}>
      <label for="langdis" class="kata-checkbox-label">{{ _('This dataset contains non-textual data') }}</label>

      <div id="langdiv" class="top-padding" {% if data.langdis != 'False' and data.langdis %} style="display: none" {% endif %}>
        {% set autocomplete_source = '/api/2/util/language/autocomplete?incomplete=?&language=' ~ currentlang  %}
        {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': 'true', 'data-module-source': autocomplete_source, 'data-module-key': 'key', 'data-module-label': 'label'} %}
        {{ form.input('language', id='language', label=_('Languages'), placeholder=_('eg. eng, fin, swe'), value=data.language, error=errors.language, classes=['control-medium'], control_classes=['error-block-autocomplete'], attrs=tag_attrs, label_classes=['hide']) }}

        <span class="ui-icon ui-icon-info kata-add-dataset-info"></span>
        <span class="add-dataset-infotext">
          {{ _('Find language codes from: ') }} <a target="_blank" href="http://www.loc.gov/standards/iso639-2/php/code_list.php">http://www.loc.gov/standards/iso639-2/php/code_list.php</a>
        </span>
      </div>
    </div>
    {{ kata_form.tooltip(class='top-padding', tooltip=_('Field is compulsory, if checkbox is unchecked.<br /><br />Add languages used in your data. Once you start typing, you will automatically get suggestions for matching languages. You can then select the appropriate suggestion with a mouse click, or you can enter your own languages. If you make a mistake, you can remove a keyword by clicking the \'x\' next to it.<br /><br />The suggestions are retrieved from the Finto vocabulary service (see <a href="http://finto.fi/en/" target="_blank">http://finto.fi/en/</a>). Note that you must have JavaScript enabled in your browser in order for the automatic suggestions to work. <br /><br /> If you decide to enter your own languages, they must be given in ISO 639-2 T format, for example \"eng, fin, swe\".')) }}
  </div>

  <div class="form-row">
    {% set autocomplete_source = '/api/2/util/tag/autocomplete?incomplete=?&language=' ~ h.lang()  %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': 'true', 'data-module-source': autocomplete_source, 'data-module-key': 'key', 'data-module-label': 'label'} %}
    {{ kata_form.tooltip(tooltip=_("Add keywords that describe your data. Once you start typing, you will automatically get suggestions for matching keywords. You can then select the appropriate suggestion with a mouse click, or you can enter your own keywords. If you make a mistake, you can remove a keyword by clicking the \'x\' next to it.<br /><br />The suggestions are retrieved from the Finto vocabulary service (see <a href=\"http://finto.fi/en/\" target=\"_blank\">http://finto.fi/en/</a>). Note that you must have JavaScript enabled in your browser in order for the automatic suggestions to work.")) }}
    {{ form.input('tag_string', id='field-tags', label=_('Keywords*'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tag_string, classes=['control-medium'], control_classes=['error-block-autocomplete'], attrs=tag_attrs, label_classes=['center-align']) }}
  </div>

  <div class="form-row">
    {% set autocomplete_source = '/api/2/util/discipline_autocomplete?incomplete=?&language=' ~ h.lang()  %}
    {% set disc_attrs = {'data-module': 'autocomplete', 'data-module-tags': 'true', 'data-module-source': autocomplete_source , 'data-module-key': 'key', 'data-module-label': 'label'} %}
    {{ kata_form.tooltip(tooltip=_("Enter the academic discipline or disciplines to which your dataset belongs.<br /><br />Type the name of the discipline in the search box below. Once you start typing, you will automatically get suggestions for matching discipline names. The disciplines you enter should be selected from the given suggestions. You can select the appropropriate discipline from the list of suggestions with a mouse click. If you make a mistake, you can remove a discipline by clicking the \'x\' next to it.<br /><br />The suggestions are retrieved from the Finto vocabulary service (see <a href=\"http://finto.fi/en/\" target=\"_blank\">http://finto.fi/en/</a>). Note that you must have JavaScript enabled in your browser in order for the automatic suggestions to work.")) }}
    {{ form.input('discipline', id='discipline_field', label=_('Disciplines'), placeholder=_('e.g. Mathematics'), value=data.discipline, error=errors.discipline, classes=['control-medium'], control_classes=['error-block-autocomplete'], attrs=disc_attrs, label_classes=['center-align']) }}
  </div>
</div>
