{% import 'macros/kata_form.html' as kata_form %}

<h3 class="module-heading-add-dataset">{{ _('Terms of use') }} {{ kata_form.required() }}</h3>
<div class="module-content">
    <p>
        {{ _('By submitting content, I agree to release this metadata contribution under the') }} <a href="{{ _('http://creativecommons.org/publicdomain/zero/1.0/') }}" target="_blank"> {{ _('Creative Commons CC0 license.') }}</a>
    </p>
    <p>
        {{ _('I have asked consent from all persons whose personal information I have added to this dataset and informed them of how they can get their personal data removed. Detailed information in:') }}
        <a href="{{ _('http://openscience.fi/documents/14273/17985/Etsin+Terms+of+Use') }}" target="_blank">{{ _('Terms of use') }}</a><br />
    </p>
    <div class="control-group control-custom">
      <label class="control-label kata-input-comp" for="accept-terms">{{ _('Check to accept') }}</label>
      <input type="checkbox" class="checkbox checkbox-generate" name="accept-terms" id="accept-terms" data-module="kata-terms-of-use">
    </div>
</div>
