{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% block package_basic_fields_org %}
{# if we have a default group then this wants remembering #}
{% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

<div data-module="dataset-visibility">

  {% if data.owner_org %}
    {% if data.organization and data.owner_org == data.organization.id %}
      {% set selected_org = data.organization.title %}
    {% else %}
      {% set selected_org = h.resolve_org_name(data.owner_org) %}
    {% endif %}
  {% endif %}

  {% set existing_org = data.owner_org or data.group_id %}
  {% set org_dict  = h.get_autocomplete_format_hierarchy(existing_org) %}

<div class="kata-autocomplete error-block-autocomplete">
  <div class="form-row">
    <label for="field-organizations" class="form-label kata-input-comp" for="field-organizations">{{ _('Organization') }}**</label>
    <div class="form-content">
      <input
        type="text"
        id="field-organizations"
        title="Organization**"
        class="kata-medium-input"
        name="owner_org"
        value="{{ org_dict }}"
        placeholder="Start typing ..."
        data-module-label="hierarchy"
        data-module="kata-autocomplete"
        data-module-source="/api/2/util/package_organizations?incomplete=?"
        data-module-interval="200"
        data-module-items="100"
        data-module-key="id"
        data-module-getlabels
      >

    </div>
    <div class="form-instructions dropdown">
      <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
        <i class="icon-question-sign"></i>
      </a>
      <div class="dropdown-menu">
        {{ _('Select an organisation to which this dataset will be linked. When you start typing, you will get suggestions for matching organisations. Select the correct organization with a mouse click. If you can not find your organisation from the selection list, please contact Etsin administration through our <a href=\"http://openscience.fi/contact-form\" target=\"_blank\">contact form</a>.') | safe }}
      </div>
    </div>
    {% if errors.owner_org %}
      <div class="error-block error-block-margin separate-error">
        {{ errors.owner_org[0] }}
      </div>
    {% endif %}

  </div>
</div>

</div>

{% endblock %}
