{% import 'macros/form.html' as form %}
<section class="module">
<h2 class="module-heading">{{ _('General information') }}</h2>
<div class="module-content">
<input type="hidden" name="name" value="{% if data.name%}{{data.name}}{%endif%}" />
{% set lastlang = 1%}
<div data-module="custom-fields-kata" data-module-id="lastlang" id="lastlang">
{% if data.langtitles %}
	{% for title, lang in data.langtitles %}
	{% set index = loop.index %}
	{% set lastlang = loop.index %}
	<div class="control-group control-custom">
		<label class="control-label" for="ltitle__{{ index }}__id">{{ _('Title') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<input type="text" id="ltitle__{{ index }}__value_id" name="ltitle__{{ index }}__value" value="{{title.value}}" />
			    </div>
			</div>
		<label class="control-label" for="lsel__{{index}}__id">{{ _('Language') }}</label>
			<div class="controls">
				<div class="input-prepend">
					<select name="lsel__{{index}}__value">
						<option {% if lang.value == 'fi'%}selected{% endif %}>fi</option>
						<option {% if lang.value == 'en'%}selected{% endif %}>en</option>
					</select>
				</div>
			</div>
	</div>
	{% endfor %}
{% endif%}
{% for extra in range(1,2) %}
	{% set index = lastlang + extra + 10 %}
	<div class="control-group control-custom">
		<label class="control-label" for="ltitle__{{ index }}__id">{{ _('Title') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<input type="text" id="ltitle__{{ index }}__value_id" name="ltitle__{{ index }}__value" value="" />
			    </div>
			</div>
		<label class="control-label" for="lsel__{{index}}__id">{{ _('Language') }}</label>
			<div class="controls">
				<div class="input-prepend">
					<select name="lsel__{{index}}__value">
						<option selected>fi</option>
						<option>en</option>
					</select>
				</div>
				<input type="button" class="btn checkbox" onclick="$('#lbtn__{{index}}__value_id').change();"/>
			<input style="display: none;" type="checkbox" id="lbtn__{{index}}__value_id" name="lbtn__{{index}}__value" class="btn btn-danger icon-plus-sign checkbox"/>
			</div>
	</div>
{% endfor %}
</div>
<div data-module="custom-fields-kata" data-module-id="orgauths" id="orgauths">
{% set lastrole = 1%}
{% if data.orgauths %}
	{% for auth, org in data.orgauths %}
	{% set lastrole = loop.index %}
	{% set index = loop.index %}
	<div class="control-group control-custom">
		<label class="control-label" for="author__{{ index }}__id">{{ _('Author') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<input type="text" id="author__{{ index }}__value_id" name="author__{{ index }}__value" value="{{auth.value}}" />
			    </div>
			</div>
		<label class="control-label" for="organization__{{ index }}__id">{{ _('Organisation') }}</label>
			<div class="controls editor" style="margin-top: 5px;">
			    <div class="input-prepend">
					<input type="text" id="organization__{{ index }}__value_id" name="organization__{{ index }}__value" value="{{org.value}}" />
			    </div>
			</div>
	</div>

	{% endfor %}
{% endif %}
{% for extra in range(1, 2) %}
	{% set index = lastrole + extra + 10 %}
		<div class="control-group control-custom">
		<label class="control-label" for="author__{{ index }}__id">{{ _('Author') }}</label>
			<div class="controls editor">
			    <div class="input-prepend">
					<input type="text" id="author__{{ index }}__value_id" name="author__{{ index }}__value" value="" />
			    </div>
			</div>
		<label class="control-label" for="organization__{{ index }}__id">{{ _('Organisation') }}</label>
			<div class="controls editor" style="margin-top: 5px;">
			    <div class="input-prepend">
					<input type="text" id="organization__{{ index }}__value_id" name="organization__{{ index }}__value" value="" />
			    </div>
			<input type="button" class="btn checkbox" onclick="$('#obtn__{{index}}__value_id').change();"/>
			<input style="display: none;"type="checkbox" id="obtn__{{index}}__value_id" name="obtn__{{index}}__value" class="btn btn-danger icon-plus-sign checkbox"/>
			</div>
		</div>
  {% endfor %}
</div>
{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-large'], attrs=tag_attrs) }}

<input type="checkbox" style="top: 0px;" name="langdis" onchange="$('#langdiv').toggle()" {% if data.langdis %}checked{% endif %}>{{ _('This dataset does not have a language') }}</input>
<div id="langdiv" {% if data.langdis %} style="display: none" {% endif %}>
{{ form.input('language', label=_('Languages'), id='language', placeholder=_('en'), value=data.language, error=errors.language, classes=['control-medium']) }}
</div>
</div>
</section>

<section class="module">
<h2 class="module-heading">{{ _('Actors and roles') }}</h2>
	<div class="module-content">
		<h3 class="module-heading">{{ _('Distributor / publisher contact information') }}</h2>
		<div class="module-content">
			{% set cont_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/contact_autocomplete?incomplete=?'} %}
			{% set contact_name = data.contact_name if not user.fullname else user.fullname %}
			{% set contact_email = data.contact_email if not user.email else user.email %}
			{{ form.input('contact_name', label=_('Name'), id='contact_name', placeholder=_('John Doe'), value=contact_name, error=errors.contact_name, classes=['control-medium'], attrs=cont_attrs) }}
			{{ form.input('contact_phone', label=_('Phone'), id='contact_phone', placeholder=_('+35844122123'), value=data.contact_phone, error=errors.contact_phone, classes=['control-medium']) }}
			{{ form.input('contact_email', label=_('Email'), id='contact_email', placeholder=_('john.doe@example.com'), value=contact_email, error=errors.contact_email, classes=['control-medium']) }}
			{{ form.input('contact_form', label=_('Contact form'), id='contact_form', placeholder=_('http://johndoe.com/contact'), value=data.contact_form, error=errors.contact_form, classes=['control-medium']) }}
		</div>
		<h3 class="module-heading">{{ _('Project that produced this dataset') }}</h2>
		<input type="checkbox" style="top: 0px;" name="projdis" onchange="$('#projdiv').toggle()" {% if data.projdis %}checked{% endif %}>{{ _('This dataset was not produced in a project.') }}</input>
		<div class="module-content" id="projdiv">
			{{ form.input('project_name', label=_('Name'), id='project_name', placeholder=_('my project'), value=data.project_name, error=errors.project_name, classes=['control-medium']) }}
			{{ form.input('project_funder', label=_('Funder'), id='project_funder', placeholder=_('my funder'), value=data.project_funder, error=errors.project_funder, classes=['control-medium']) }}
			{{ form.input('project_funding', label=_('Funding id'), id='project_funding', placeholder=_('1234'), value=data.project_funding, error=errors.project_funding, classes=['control-medium']) }}
			{{ form.input('project_homepage', label=_('Homepage'), id='project_homepage', placeholder=_('http://myproject'), value=data.project_homepage, error=errors.project_homepage, classes=['control-medium']) }}
		</div>
</section>
{# if we have a default group then this wants remembering #}
{% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}
<section class="module">
<h2 class="module-heading">{{ _('Identification information') }}</h2>
<div class="module-content">
{{ form.input('versionPID', id='field-pid', label=_('Permanent Identifier'), placeholder=_('eg. urn:nbn:fi:csc-kata2012093012345'), value=data.versionPID, error=errors.versionPID, classes=['control-medium']) }}
	<div data-module="dateselect-simple-kata">
		<label class="control-label" for="last modified">{{ _('Modification date') }}</label>
		<div class="controls">
			<input type="text" id="last_modified" name="version" value="{{data.version}}" />
		</div>
	</div>
</div>
</section>
<section class="module">
<h2 class="module-heading">{{ _('Usage information') }}</h2>
<div class="module-content">
<p>{% trans %}
	Dataset is avaiblable for use:
	{% endtrans %}
</p>
<div class="control-group">
	{% call form.input_block("access", "Select", error=errors.access) %}
	<input type="radio" name="access" value="form" style="top: 0px" onclick="$('#accessDiv').toggle()" {% if data.access == 'form'%}checked{% endif %} >{{ _('with data access application') }}</input><br />

	<div id="accessDiv" {% if not data.accessRights %}style="display:none"{% endif%}>
	{{ form.input('accessRights', label=_('Web address of access application'), id='accessRights', placeholder=_('http://remsid/'), value=data.accessRights, error=errors.accessRights, classes=['control-medium'] )}}
	{{ form.checkbox('newform', label=_('Create a new access request form'), id="newform") }}
	</div>
	<input type="radio" name="access" onclick="$('#urlDiv').toggle()" style="top: 0px" value="free" {% if data.access == 'free'%}checked{% endif %}>{{ _('directly downloadable') }}</input><br />
	<input type="radio" name="access" onclick="$('#urlDiv').toggle()" style="top: 0px" value="ident" {% if data.access == 'ident'%}checked{% endif %}>{{ _('downloadable after registration / identification') }}</input><br />
	<div id="urlDiv" {% if not data.accessURL %}style="display:none"{% endif%}>
	{{ form.input('accessURL', label=_('Web address for downloading the dataset'), id="accessURL", placeholder=_('http://mydata.com'), value=data.accessURL, error=errors.accessURL, classes=['control-medium'] ) }}
	</div> 
	<input type="radio" name="access" style="top: 0px" value="contact" {% if data.access == 'contact'%}checked{% endif %}>{{ _('only by contacting the distributor') }}</input><br />
	{% endcall %}
</div>
<div class="control-group">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license">{{ _("License") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" data-module="autocomplete">
      {% for licence_desc, licence_id in licences|sort if licence_desc  %}
        <option value="{{ licence_id }}" {% if data.get('license_id', 'notspecified') == licence_id %}selected="selected"{% endif %}>{{ licence_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    <span class="info-block info-inline">
      <i class="icon-large icon-info-sign"></i>
      {% trans %}
        License definitions and additional information can be found
        at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
  </div>
</div>
</div>
</section>
{% snippet 'package/snippets/recommended_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}