{% import 'macros/kata_form.html' as kata_form %}
{% set index = h.create_loop_index() %}
{% set primary_pid = h.get_primary_pid(data) or None %}
{% set lang = h.lang() %}

<div class="tab-content-inner">

  {# NOTE: Parameter "error" passed to kata_form.input macro needs to be corrected in all cases since it is same as in package_actors.html #}

  {% set pid_errors = h.get_dict_errors(errors, '__extras', 'pids') %}
  {% if pid_errors and pid_errors is iterable %}
    <span class="separate-error error-block error-block-margin">{{ pid_errors|join('. ') }}</span>
  {% endif %}

  {% set primary_pid_readonly = " readonly" if primary_pid and not errors.get('pids', [])[index.index]%}

  <label class="form-label kata-input-comp" for="pids__{{ index }}__id">{{ _('Identifier') }}</label>

  {% call kata_form.input(
    'pids__' ~ index ~ '__id', id='pids__' ~ index ~ '__id', placeholder='http://www.pid.com/1234',
     value=primary_pid, control_classes=['kata-medium'], hasLabel=False,
     attrs={'class': "kata-medium-input pid pids_" ~ index, primary_pid_readonly:''})%}

  {% if primary_pid %}
    <input style="margin: 3px; width: 20px; top: 6px" type="checkbox" id="pids__{{ index }}__modify" title="{{ _('Check this to correct errors in an existing PID') }}" onchange="$('input.pids_{{ index }}').prop('readonly',!$('input.pids_{{ index }}').prop('readonly'));" />
    <label class="control-label katalabel-pid2 hideclone" onclick="$('#pids__{{ index }}__modify').prop('checked', !$('#pids__{{ index }}__modify').prop('checked')); $('input.pids_{{ index }}').prop('readonly',!$('input.pids_{{ index }}').prop('readonly'));">{{ _('Edit') if primary_pid }}</label>
  {% endif %}

    <div class="form-double-instructions-container">
      {{ kata_form.tooltip(tooltip=_('<p>This is the permanent identifier (PID) for this dataset. It is used when citing this dataset. Use the identifier minted by your repository or data archive (URN, DOI, or similar). If you don\'t have a PID, Etsin will generate a URN for you. A PID should not be changed. If you create a new version of a dataset, create a new catalog entry and a new PID. You can also create entries for dataset parts and link them in the Related data field below.</p>')) }}
    </div>

    <input type="hidden" name="pids__{{ index }}__type" value="primary" />

    {% if errors.pids and errors.pids[index.index] %}
      <span class="error-block kata-pid-field-error separate-error error-block-margin">{{ errors.pids[index.index].get('id')|join('. ') }}</span>
    {% endif %}
  {% endcall %}

  {% do index.increase() %}

  {% set additional_identifier_label = _('Related data') %}
  <label class="form-label kata-input-comp" for="pids__{{ index }}__id">{{ additional_identifier_label }}</label>

  <div data-module="custom-fields-kata" data-module-id="pids-relation" id="pids-relation" data-module-index="pid-index" data-module-keep="type" data-module-hide=".hideclone" data-module-remove=".error-block" class="relations-container custom-fields-container">
    {% set pids = h.get_pids_by_type('relation', data) or [dict(type='relation')] %}
    {% for pid in pids %}
      {% set pid_readonly = " readonly" if pid.id and not errors.get('pids', [])[index.index] %}
      {% set pid_select_readonly = " readonly" if pid.id and not errors.get('pids', [])[index.index] %}
      <div class="control-custom">
        <div class="form-row">
          <div style="{{ 'margin-top: 5px !important' if loop.first }}" class=" form-content kata-medium{{ ' error' if errors }}">
            <select id="pids__{{ index }}__relation" name="pids__{{ index }}__relation" class="pids_{{ index }} pid" {{ pid_readonly }}>
              {% for relation in h.get_relation_types() %}
                <option {% if pid.id and pid.relation == relation.id %} selected {% endif %} value="{{ relation.id }}">{{ relation[lang] }}</option>
              {% endfor %}
            </select>
            <input id="pids__{{ index }}__id" type="text" name="pids__{{ index }}__id" value="{{ pid.id | empty_and_escape }}" placeholder="http://www.pid.com/1234" class="kata-medium-input pid pids_{{ index }}" {{ pid_readonly }} />
          </div>
            {% if pid.id %}
              <input style="margin: 3px; width: 20px; top: 6px" type="checkbox" id="pids__{{ index }}__modify" title="{{ _('Check this to correct errors in an existing PID') }}" onchange="$('input.pids_{{ index }}').attr('readonly',!$('input.pids_{{ index }}').attr('readonly')); $('select.pids_{{ index }}').attr('readonly', !$('select.pids_{{ index }}').attr('readonly'));" />
              <label class="control-label katalabel-pid2 hideclone" onclick="$('#pids__{{ index }}__modify').prop('checked', !$('#pids__{{ index }}__modify').prop('checked')); $('input.pids_{{ index }}').attr('readonly',!$('input.pids_{{ index }}').attr('readonly')); $('select.pids_{{ index }}').attr('readonly', !$('select.pids_{{ index }}').attr('readonly'));">{{ _('Edit') if pid.id }}</label>
            {% endif %}

            {% if loop.first %}
              {{ kata_form.tooltip(tooltip=_('<p>Use identifiers minted by your repository or data archive (URN, DOI, or similar). When you create a new version of a dataset you should create a new catalog entry and add relations between them in both directions, i. e. register them in both entries. Also the relations between part and larger entity should be both ways and registered in all relevant entries. Always consider the most complete metadata as primary.</p>')) }}
              <input style="display: none;" type="checkbox" id="pids__{{index}}__value" name="pids__{{index}}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
              {{ kata_form.plusbutton(id='pids_add-relation', text=_('Add'), onclick="$(\'#pid_btn__" ~ index ~ "__value_id\').change();") }}
              <input style="display: none;" type="checkbox" id="pid_btn__{{ index }}__value_id" name="pid_btn__{{ index }}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
            {% endif %}

            <input type="hidden" name="pids__{{ index }}__type" value="relation" />
            {% if errors.pids and errors.pids[index.index] %}
              <span class="error-block kata-pid-field-error separate-error error-block-margin">{{ errors.pids[index.index].get('id')|join('. ') }}</span>
            {% endif %}
        </div>
      </div>
    {% do index.increase() %}
    {% endfor %}
    </div>

  <input type="hidden" value="{{ index }}" id="pid-index" />
</div>
