{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}
{% set currentlang = h.lang() %}

  <h3>{{ _('Dataset lifecycle events') }}</h3>
  <div class="form-row">
    <div class="form-table" data-module="custom-fields-kata" data-module-id="lifecycle" id="lifecycle">
      <ul class="kata">
        <label class="control-label katalabel1"><span>{{ _('event') }}</span></label>
        <label class="control-label katalabel"><span>{{ _('by whom') }}</span></label>
        <label class="control-label katalabel"><span>{{ _('when') }}</span></label>
        <label class="control-label katalabel"><span>{{ _('description') }}</span></label>
      </ul>

      {% set lastevent = 0 %}
      {% if data.event %}
        {# Case we have events. Display them + an empty field with '+' button #}
        {% for ev in data.event %}
          <ul class="kata">
            {% set index = loop.index %}
            {% if ev['type'] and (ev['who']|length>0 or ev['when']|length>0 or ev['descr']|length>0) %}
              {% set lastevent = loop.index %}

              <div class="control-group control-custom">
                <li class="kata">
                  <div class="input-prepend">
                    <select name="event__{{index}}__type" style="width: 110px;">
                      <option value="collection" {% if ev['type']=='collection'%}selected{% endif %}>{{ _('collection') }}</option>
                      <option value="creation" {% if ev['type']=='creation'%}selected{% endif %}>{{ _('creation') }}</option>
                      <option value="checked" {% if ev['type']=='checked'%}selected{% endif %}>{{ _('checked') }}</option>
                      <option value="extended" {% if ev['type']=='extended'%}selected{% endif %}>{{ _('extended') }}</option>
                      <option value="changed" {% if ev['type']=='changed'%}selected{% endif %}>{{ _('changed') }}</option>
                      <option value="removed" {% if ev['type']=='removed'%}selected{% endif %}>{{ _('removed') }}</option>
                      <option value="published" {% if ev['type']=='published'%}selected{% endif %}>{{ _('published') }}</option>
                      <option value="sent" {% if ev['type']=='sent'%}selected{% endif %}>{{ _('sent') }}</option>
                      <option value="received" {% if ev['type']=='received'%}selected{% endif %}>{{ _('received') }}</option>
                      <option value="modified" {% if ev['type']=='modified'%}selected{% endif %}>{{ _('modified') }}</option>
                      <option value="used" {% if ev['type']=='used'%}selected{% endif %}>{{ _('used') }}</option>
                    </select>
                  </div>
                </li>
                <li class="kata">
                  <div class="input-prepend">
                    <input class="kata-lifecycle-input" type="text" id="event_{{ index }}__who_id" name="event__{{ index }}__who" value="{{ev['who']}}" />
                  </div>
                </li>
                <li class="kata">
                  <div class="input-prepend">
                    <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__when_id" name="event__{{ index }}__when" value="{{ev['when']}}" placeholder="1111-11-11T11:11:11/1111-11-11T11:11:11" />
                  </div>
                </li>
                <li class="kata">
                  <div class="input-prepend">
                    <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__descr_id" name="event__{{ index }}__descr" value="{{ev['descr']}}" />
                  </div>
                </li>
              </div>
              <li colspan="4">
                {% if errors and errors.event and errors.event[index-1] %}
                    <span class="separate-error error-block-kata">
                  {% if errors.event[index-1]['type'] %}
                      <p>
                        {{ errors.event[index-1]['type']|join('. ') }}
                      </p>
                  {% endif %}
                  {% if errors.event[index-1]['who'] %}
                      <p>
                        {{ errors.event[index-1]['who']|join('. ') }}
                      </p>
                  {% endif %}
                  {% if errors.event[index-1]['when'] %}
                      <p>
                        {{ errors.event[index-1]['when']|join('. ') }}
                      </p>
                  {% endif %}
                  {% if errors.event[index-1]['descr'] %}
                      <p>
                        {{ errors.event[index-1]['descr']|join('. ') }}
                      </p>
                  {% endif %}
                  </span>
                {% endif %}
              </li>
            {% endif %}
          </ul>
        {% endfor %}
        {% set lastevent = data.event|length + 1 %}
        {% set index = lastevent %}
        <ul class="kata">
          <div class="control-group control-custom">
            <li class="kata">
              <div class="input-prepend">
                <select name="event__{{index}}__type" style="width: 110px;">
                  <option value="collection" selected>{{ _('collection') }}</option>
                  <option value="creation">{{ _('creation') }}</option>
                  <option value="checked">{{ _('checked') }}</option>
                  <option value="extended">{{ _('extended') }}</option>
                  <option value="changed">{{ _('changed') }}</option>
                  <option value="removed">{{ _('removed') }}</option>
                  <option value="published">{{ _('published') }}</option>
                  <option value="sent">{{ _('sent') }}</option>
                  <option value="received">{{ _('received') }}</option>
                  <option value="modified">{{ _('modified') }}</option>
                  <option value="used">{{ _('used') }}</option>
                </select>
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event_{{ index }}__who_id" name="event__{{ index }}__who" value="" />
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__when_id" name="event__{{ index }}__when" value="" placeholder="1111-11-11T11:11:11/1111-11-11T11:11:11" />
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__descr_id" name="event__{{ index }}__descr" value="" />
              </div>
            </li>
            <li class="kata">
              {{ kata_form.plusbutton(onclick="$(\'#evbtn__" ~ index ~ "__value_id\').change();") }}
            </li>
            <li class="kata">
              {{ kata_form.tooltip(tooltip=_('Describe the lifecycle of your data by adding important events related to the data. A single event consists of four fields: event, by whom, when and description. Fill all four fields when adding an event.<br /><br />You can add more events by first adding a new set of fields by clicking the \'+\' button.<br /><br />To remove an event, delete its contents from the three text fields.')) }}
              <input style="display: none;" type="checkbox" id="evbtn__{{index}}__value_id" name="evbtn__{{index}}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
            </li>
          </div>
        </ul>
      {% else %}
      {# Case no events, that is a new blank form #}
              
        {% set index = 1 %}
        <ul class="kata">
          <div class="control-group control-custom">
            <li class="kata">
              <div class="input-prepend">
                <select name="event__{{index}}__type" style="width: 110px;">
                  <option value="collection" selected>{{ _('collection') }}</option>
                  <option value="creation">{{ _('creation') }}</option>
                  <option value="checked">{{ _('checked') }}</option>
                  <option value="extended">{{ _('extended') }}</option>
                  <option value="changed">{{ _('changed') }}</option>
                  <option value="removed">{{ _('removed') }}</option>
                  <option value="published">{{ _('published') }}</option>
                  <option value="sent">{{ _('sent') }}</option>
                  <option value="received">{{ _('received') }}</option>
                  <option value="modified">{{ _('modified') }}</option>
                  <option value="used">{{ _('used') }}</option>
                </select>
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event_{{ index }}__who_id" name="event__{{ index }}__who" value="" />
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__when_id" name="event__{{ index }}__when" value="" placeholder="1111-11-11T11:11:11/1111-11-11T11:11:11" />
              </div>
            </li>
            <li class="kata">
              <div class="input-prepend">
                <input class="kata-lifecycle-input" type="text" id="event__{{ index }}__descr_id" name="event__{{ index }}__descr" value="" />
              </div>
            </li>
            <li class="kata">
              {{ kata_form.plusbutton(onclick="$(\'#evbtn__" ~ index ~ "__value_id\').change();") }}
            </li>
            <li class="kata">
              {{ kata_form.tooltip(tooltip=_('Describe the lifecycle of your data by adding important events related to the data. A single event consists of four fields: event, by whom, when and description. Fill all four fields when adding an event.<br /><br />You can add more events by first adding a new set of fields by clicking the \'+\' button.<br /><br />To remove an event, delete its contents from the three text fields.')) }}
              <input style="display: none;" type="checkbox" id="evbtn__{{index}}__value_id" name="evbtn__{{index}}__value" class="btn btn-danger kata-plus-btn icon-plus-sign checkbox"/>
            </li>
          </div>
        </ul>
      {% endif %}
    </div>
  </div>

  {% call kata_form.input_block2("last_modified", _('Most recent data modification date'), error=errors.version, control_classes=['controls-row', 'controls-wide', 'modification-date-controls'], label_classes=['control-label', 'center-align'],
  extra_html=kata_form.tooltip(tooltip=_('Field is compulsory but an automatically generated date is provided.<br><br>The modification date tells when the data has last been modified. Click the calendar icon to open a calendar tool to choose the modification date for this dataset. Time can be entered if "use exact time" is chosen.'))) %}
    <div data-module="kata-datetimepicker"
         data-module-currentlang="{{ currentlang }}" data-module-name="version"
         data-module-value="{{data.version}}" data-module-defaultnow="true"
         data-module-disabled="false">

      <div class="kata-datetimepicker-parent"></div>

      <div class="kata-datepicker-error"></div>
    </div>
  {% endcall %}
