{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set lastevent = 1 %}

<div>
  <div>
    {% snippet 'package/snippets/recommended_coverage.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_file_information.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_lifecycle_events.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
  </div>
</div>
