{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}


<div class="form-row">

  <h3>{{ _('Spatial coverage') }}</h3>
  {# Autocomplete for spatial data #}
  <div class="kata-autocomplete autocomplete-input-container">

    {# {{ _('Search location from location name database, select locations with enter or mouse click.') }} #}
    {% set tag_attrs = {'class': 'kata-input-license', 'data-module': 'autocomplete', 'data-module-tags': 'true', 'data-module-source': '/api/2/util/location_autocomplete?incomplete=?'} %}
    {% call kata_form.input(
      'geographic_coverage', id='geographic_coverage_field',
      label=_('Locations'), placeholder=_('e.g. Finland'),
      value=data.geographic_coverage, error=errors.geographic_coverage,
      classes=['control-medium'], control_classes=['error-block-autocomplete error-block-fullwidth'],
      attrs=tag_attrs)
    %}
    {{ kata_form.tooltip(tooltip=_("Specify the geographical areas or locations that your dataset pertains to.<br /><br />When you start typing, you will get suggestions for matching geographical names. You can select a suggested location with a mouse click, or you can write a location name and press enter to add it. You can remove a location by clicking the 'x' next to it.")) }}
    {% endcall %}

  </div>
</div>

<div class="form-row">
  <h3>{{ _('Temporal coverage') }}</h3>
  {% set lang = h.lang() %}
  <div data-module="kata-temporal-coverage" data-module-currentlang="{{ lang }}">
    <div id="temporal_coverage">

      <label class="control-label kata-input-comp{% if errors and errors.temporal_coverage_begin %} error{% endif %}" for="temporal_coverage_begin">{{ _('Begin') }}</label>
      <div class="controls controls-row modification-date-controls" data-module="kata-datetimepicker"
           data-module-currentlang="{{ lang }}" data-module-name="temporal_coverage_begin"
           data-module-value="{{data.temporal_coverage_begin}}">

        <div class="kata-datetimepicker-parent"></div>

        {% if errors.temporal_coverage_begin %}
          <span class="error-block kata-medium-error">{{ errors.temporal_coverage_begin[0] }}</span>
        {% endif %}
      </div>
      {{ kata_form.tooltip(tooltip=_("You can add the beginning and ending times of the dataset's temporal coverage. You can use a date picker by clicking the calendar icon next to a date field, or you can write the date to the date field (e.g. 2015 or 2015-12).")) }}
      <label class="control-label kata-input-comp{% if errors and errors.temporal_coverage_end %} error{% endif %}" for="temporal_coverage_end">{{ _('End') }}</label>
      <div class="controls controls-row modification-date-controls" data-module="kata-datetimepicker"
           data-module-currentlang="{{ lang }}" data-module-name="temporal_coverage_end"
           data-module-value="{{data.temporal_coverage_end}}">


        <div class="kata-datetimepicker-parent"></div>

        {% if errors.temporal_coverage_end %}
          <span class="error-block kata-medium-error">{{ errors.temporal_coverage_end[0] }}</span>
        {% endif %}
        <div class="kata-datepicker-error"></div>
      </div>
    </div>
  </div>
</div>
