{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %} 
 
<section class="module">
  <h2 class="module-heading-add-dataset optional">{{ _('Relations') }} {{ kata_form.optional() }}</h2>
  <div class="module-content">

    {% if data.groups and 'title' in data.groups.0 %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
          <div class="controls">
            {% for group in data.groups %}
              <label class="checkbox" for="field-group-{{ loop.index0 }}">
              {% if group.title %}
                <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
                {{ group.title }}
              </label>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    {% endif %}
{#
  {% set group_name = 'groups__%s__name' % data.groups|length %}
  {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'class': "kata-medium-input"} %}
        {% call form.input(group_name, label=_('Dataset belongs to collection/series'), id="field-group", value=data[group_name], classes=['control-medium'], label_classes=['kata-input-comp'], attrs=group_attrs) %}
          {{ kata_form.tooltip(tooltip=_('You can add your dataset to an existing group in this service by typing the group name and accepting it with the enter key. When you start typing the group, the service will search existing groups and will give suggestions of existing ones. Pick a group of your choice by clicking it or selecting it and then pressing the enter key.')) }}
        {% endcall %}
#}

    <br />
  </div>
</section>