{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set lastevent = 1 %}

<section class="module" id="recmod">
<h2 class="module-heading">{{ _('Recommended information') }}
<a class="module-link" href="#recmod" onclick="$('#recommended').toggle()">{{ _('Hide/show') }}</a>
</h2>
<div class="module-content" style="display: none;" id="recommended">

<section class="module">
<h2 class="module-heading">{{ _('Coverage') }}</h2>
<div class="module-content">
{{ form.input('geographic_coverage', label=_('Geographic coverage'), id='geographic_coverage', placeholder=_('eg. places'), value=data.geographic_coverage, error=errors.geographic_coverage, classes=['control-medium']) }}
{{ form.input('temporal_coverage', label=_('Temporal coverage'), id='temporal_coverage', placeholder=_('eg. dates and times'), value=data.temporal_coverage, error=errors.temporal_coverage, classes=['control-medium']) }}
</div>
</section>
<section class="module">
<h2 class="module-heading">{{ _('Relations') }}</h2>
<div class="module-content">
{{ form.input('publications', label=_('Publications based on this data'), id='publications', placeholder=_(''), value=data.publications, error=errors.publications, classes=['control-medium']) }}
{{ form.input('collections', label=_('Dataset belongs to collection/series'), id='collections', placeholder=_(''), value=data.collections, error=errors.collections, classes=['control-medium']) }}
{{ form.input('related', label=_('Other related datasets'), id='related', placeholder=_(''), value=data.related, error=errors.related, classes=['control-medium']) }}
{{ form.input('discipline', label=_('Discipline/branch of science'), id='discipline', placeholder=_(''), value=data.discipline, error=errors.discipline, classes=['control-medium']) }}
</div>
</section>

<section class="module">
<h2 class="module-heading">{{ _('File information') }}</h2>
<div class="module-content">
{{ form.input('fformat', label=_('File format'), id='fformat', placeholder=_(''), value=data.fformat, error=errors.fformat, classes=['control-medium']) }}
{{ form.input('checksum', label=_('Checksum'), id='checksum', placeholder=_(''), value=data.checksum, error=errors.checksum, classes=['control-medium']) }}
{{ form.input('algorithm', label=_('Algorithm'), id='algorithm', placeholder=_(''), value=data.algorithm, error=errors.algorithm, classes=['control-medium']) }}
</div>
</section>

<section class="module">
<h2 class="module-heading">{{ _('Dataset lifecycle events') }}</h2>
<div class="module-content">
<div data-module="custom-fields-kata" data-module-id="lastlang" id="lastlang">
<span class="kata-lifecycle-span">{{ _('event') }}</span>
<span class="kata-lifecycle-span who">{{ _('by whom') }}</span>
<span class="kata-lifecycle-span when">{{ _('when') }}</span>
<span class="kata-lifecycle-span description">{{ _('description') }}</span>
{% for extra in range(1,2) %}
	{% set index = lastevent + extra + 10 %}
		<div class="control-group control-custom">
				<div class="input-prepend">
					<select name="evtype__{{index}}__value" style="width: 95px;">
						<option selected>---</option>
						<option>{{ _('collection') }}</option>
						<option>{{ _('creation') }}</option>
						<option>{{ _('checked') }}</option>
						<option>{{ _('extended') }}</option>
						<option>{{ _('changed') }}</option>
						<option>{{ _('removed') }}</option>
						<option>{{ _('published') }}</option>
						<option>{{ _('sent') }}</option>
						<option>{{ _('received') }}</option>
						<option>{{ _('modified') }}</option>
						<option>{{ _('used') }}</option>
					</select>
				</div>
				<div class="input-prepend">
					<input class="kata-lifecycle-input" type="text" id="evwho_{{ index }}__value_id" name="ev_who__{{ index }}__value" value="" />
				</div>
				<div class="input-prepend">
					<input class="kata-lifecycle-input" type="text" id="evwhen__{{ index }}__value_id" name="ev_when__{{ index }}__value" value="" />
				</div>
				<div class="input-prepend">
					<input class="kata-lifecycle-input" type="text" id="evdescr__{{ index }}__value_id" name="ev_descr__{{ index }}__value" value="" />
				</div>
				<input type="checkbox" id="ev_btn__{{index}}__value_id" name="evbtn__{{index}}__value" class="btn btn-danger icon-plus-sign checkbox"/>
		</div>
{% endfor %}
</div>
</div>
</section>

<section class="module">
<h2 class="module-heading">{{ _('Free description') }}</h2>
<div class="module-content">
{{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('a freeform description'), value=data.notes, error=errors.notes) }}
</div>
</section>

</div>
</section>