{% import 'macros/form.html' as form %}
{% import 'macros/kata_form.html' as kata_form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set lastevent = 1 %}

<section class="module module-grey" id="recmod">
  <h2 class="module-heading-add-dataset tta-orange accordion-toggle" onclick="$('#recommended').toggle()">{{ _('Recommended information') }}&nbsp;&nbsp;
    <i class="icon-chevron-down tta-orange"></i>
    &nbsp;&nbsp;<span class="module-link">
    {{ _('Click to show/hide recommended fields') }}</span>
  </h2>
  <div class="module-content" style="display: none;" id="recommended">
    {% snippet 'package/snippets/recommended_coverage.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_relations.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_file_information.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_lifecycle_events.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
    {% snippet 'package/snippets/recommended_description.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name %}
  </div>
</section>
