.role-select {
	margin: 0;
	height: 36px;
}
.kata-lifecycle-input {
	margin-left: 10px;
	width: 110px !important;
}
.kata-lifecycle-span {
	font-style: bold;
	margin-left: 30px;
}
.who {
	margin-left: 80px;
}
.when {
	margin-left: 106px;
}
.description {
	margin-left: 98px;
}
.module-link {
	float: right;
}