.role-select {
	margin: 0;
	height: 36px;
}
.kata-lifecycle-input {
	margin-left: 10px;
	width: 110px !important;
}
.events {
	font-style: bold;
	margin-left: 30px;
}
li.kata {
	float: left !important;
}
li.kata label {
	float: right !important;
}
.form-horizontal .control-label span {
}
.form-horizontal .katalabel1 {
	width: 95px !important;
	text-align: center;
	float: left;
}
.form-horizontal .katalabel {
	width: 145px !important;
	float: left;
	text-align: center !important;

}
.form-horizontal .katalabel::after {
	content: '' !important;
}
ul.kata {
	list-style: none !important;
	margin: 0px !important;
}
.kata-plus-btn {
	margin: 0 !important;
    border-radius: 15px 15px 15px 15px !important;
    height: 3px !important;
    left: 5px !important;
    padding: 3px 8px !important;
    position: relative;
    top: 0;
}
.kata-btn-span {
	display: inline !important;
	left: -4px;
	top: -4px;
	position: relative;
	width: 0 !important;
	margin-left: 0px !important;
}
.kata-input-org {
	width: 200px !important;
}
.kata-medium-input {
	width: 330px !important;
}
.kata-label-pluspad {
	padding-top: 9px !important;
}
.kata-multi-padding {
	margin-left: 67px !important;
}
.kata-multi-label {
	width: 453px !important;
	text-align: left !important;
	margin-left: 28px !important;
	margin-bottom: 15px;
}
.kata-auth-padding {
	margin-left: 72px !important;
}
.kata-auth-label {
	width: 453px !important;
	text-align: left !important;
	margin-left: 28px !important;
	margin-bottom: 15px;
}
.module-link {
	float: right;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div .ui_tpicker_timezone_label { margin-bottom: -10px; }
.ui_tpicker_timezone select { margin-top: 5px !important; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div .ui_tpicker_timezone { margin: 0 10px 10px 10px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
/* overwriting min.main*/
html, body {
	min-width: 970px;
}
a {
    color: #5A9DC2;
    text-decoration: none;
}
a:hover, a:focus {
    color: #437692;
    text-decoration: underline;
}
a.download {
	color: #dc3620;
	font-weight: bold;
	font-size: 14px;
}
body {
	background-color: #FFF !important;
	background: none !important;
	font-family: Arial, Tahoma, sans-serif;
}
header.masthead a.logo img {
	height: 87px !important;
}
header.masthead a.logo img {
	padding-top: 10px;
}
header.masthead {
	background-color: #FFF !important;
	background-image: none !important;
	margin-bottom: 10px;
	height: 200px !important;
	width: 970px;
	margin: auto;
}
header.masthead .content {
	margin-top: 30px !important;
}
header.masthead .container {
	height: 120px !important;
	background-image: none !important;
	background-size: 100% !important;
	width: 971px;
	padding-top: 5px;
}
header.masthead .content a,
header.masthead .account a,
header.masthead .user-dropdown-menu a{
/* Overwrite profile drop down menu color in main.css */
	color: #FFF;
}
header.masthead .account {
	-moz-box-shadow: 0 0 0 0 #fff;
	-webkit-box-shadow: 0 0 0 0 #fff;
	box-shadow: 0 0 0 0 #fff !important;
	background-color: transparent !important;

}
header.masthead .account .button {
	-moz-box-shadow: 0 0 0 0 #70c4f3;
	-webkit-box-shadow: 0 0 0 0 #70c4f3;
	box-shadow: 0 0 0 0 #70c4f3;
	background-color: rgba(112,196,243,0.9) !important;
	border: 0px;
	color: #000 !important;
	margin: 2px 5px 2px 0;
	padding: 4px 8px 3px;
	text-shadow: none !important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: block;
	text-decoration: none;
}
header.masthead .account .button:hover {
	background-color: rgba(82,166,203,0.8) !important;
}
header.masthead .account .dropdown.open .button,
header.masthead .account .dropdown .button:hover {
/* Overwrite profile section buttons shadow color in main.css */
    box-shadow: 0 1px 0 #52A6CD inset;
}
header.masthead .dropup, header.masthead .dropdown {
	display: inline-block;
}
header.masthead .user-dropdown-menu a {
	color: #000 !important;
}
header.masthead .user-dropdown-menu a:hover {
	color: #fff !important;
}
header.masthead .account .image img {
	border-right-color: #209D82;
	opacity: 0.9;
}
header.masthead .section.account {
/* Overwrite profile avatar section alignment in main.css */
    float: right;
}
header.masthead .site-search {
/* Overwrite search field alignment in main.css */
    margin-right: 17px;
}
header.masthead .not-authed a {
	padding: 10px;
	font-weight: bold;
	color: black;
}
#help_navi {
	color: #000;
	margin-bottom: 5px;
	float: right;
	margin-right: 17px;
}
#help_navi a {
	color: black;
}
.tta-orange {
	color: #E24632;
}
.tta-dblue {
	color: #03263E;
}
.tta-lblue {
	color: #063A5A;
}
.tta-green {
	color: #209D82;
}
.tta-blue {
	color: #70c4f3;
}
.tta-dgrey {
	color: #454545;
}
.tta-lgrey {
	color: #f2f2f2;
}
.tta-redorange {
	color: #dc3620;
}
[role="main"], .main {
	padding-bottom: 25px;
	padding-top: 25px;
	width: 970px !important;
	margin: auto auto 10px auto;
	background-color: #FFF;
	border: 1px solid;
	border-color: #000;
	-webkit-box-shadow: rgba(66, 66, 66, 0.8) 0 0 10px !important;
	box-shadow: rgba(66, 66, 66, 0.8) 0 0 10px !important;
	-moz-box-shadow: rgba(66, 66, 66, 0.8) 0 0 10px !important;
	background: none !important;
}
[role="main"] .primary {
	float: left;
	margin-right: 0px !important;
	width: 700px;
	margin-right: auto;
}
[role="main"] .secondary {
	float: right;
	margin-left: auto;
	width: 220px;
	margin-right: 0px;
}
.box {
	border: 0px !important;
}
.main:after, .main:before, [role="main"]:after, [role="main"]:before {
	border: 0;
}
.editing [role="main"], .editing .main {
	background: none;
}
.hero {
	background-image: none;
}
.hero .module-dark {
	padding: 0px;
}
.hero .module-dark .module-content {
	background-color: #dc3620 !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.hero .module-popup {
	margin-top: 0px !important;
	float: left !important;
}
.hero-secondary {
	position: relative;
	float: right !important;
}
.hero-primary, .hero-secondary {
        width: 450px !important;
}
.hero:after {
	background-image: none !important;
	border: 0;
}
.module {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	background-color: #FFF;
	border: 1px solid;
	border-color: #000;
    border-radius: 0px 0 0 0 !important;
    border-top-width: 1 !important;
}
.module .module {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.module-heading {
  /* CKAN style override */
  *zoom: 1;
  margin: 0;
  padding: 7px 25px;
  font-size: 14px;
  line-height: 1.3;
  background-color: #454545;
  border-top: 0px !important;
  border-bottom: 0px !important;
  color: #fff;
}
.module:first-child .module-heading {
	border-radius: 0 !important;
}
.module-heading-add-dataset {
  *zoom: 1;
  margin: 0;
  padding: 7px 25px;
  font-size: 14px;
  line-height: 1.3;
  background-color: #454545;
  border-top: 0px !important;
  border-bottom: 0px !important;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #454545, #666);
  background-image: -moz-linear-gradient(top, #454545, #666);
  background-image: -o-linear-gradient(top, #454545, #666);
  background-image: -ms-linear-gradient(top, #454545, #666);
  background-repeat: repeat no-repeat;  
}
.module-grey {
	background-color: #70c4f3;
}
.module-heading a.action {
  color: #fff !important;
}
.padded-module {
	padding: 15px 5px 5px 5px;
	background-color: #70c4f3 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.no-padding {
	padding: 0px 0px 0px 0px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.navbar-search .search-query {
	font-family: Arial, Tahoma, sans-serif;
}
.tag {
	color: #139CEC;
}
.add_action li {
	display: inline-block;
}
a.tag:hover {
	background-color: #053A5A !important;
	border: 1px solid #063A5A !important;
	box-shadow: rgba(6, 58, 90, 1) inset !important;
	-webkit-box-shadow: rgba(6, 58, 90, 1) inset !important;
	-moz-box-shadow: rgba(6, 58, 90, 1) inset !important;
}
.wrapper {
	background: none !important;
	background-color: #fff !important;
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.site-footer {
	background-color: #f2f2f2;
	background-image: none;
	padding: 20px 0;
	background-image:-webkit-linear-gradient(bottom, #f2f2f2, #eeeeee);
	background-image:-moz-linear-gradient(bottom, #f2f2f2, #eeeeee);
	background-image:-o-linear-gradient(bottom, #f2f2f2, #eeeeee);
	background-image:-ms-linear-gradient(bottom, #f2f2f2, #eeeeee);
	background-repeat:repeat no-repeat;
	min-height: 75px;
	height: auto;
	margin-bottom: 0px;
}
.site-footer a {
	color: #70c4f3 !important;
}
.site-footer {
	font-size: 90%;
}
.site-footer p {
	color: black;
}
.site-footer h1 {
	font-size: 14px;
}
.footer-data {
	display: block;
}
.footer-data a {
	color: #70c4f3;
}
.footer-first {
	margin: 0px;
	float: left;
	background-image: none;
	background-position: 0 0;
	background-repeat: no-repeat no-repeat;
	padding-left: 200px;
	background: none;
}
.footer-second {
	margin: 0px;
	float: left;
	background-image: none;
	background-position: 0 0;
	background-repeat: no-repeat no-repeat;
	padding-left: 55px;
	background: none;
}
.footer-third {
	margin: 0px;
	float: right;
	background-image: none !important;
	background-position: 0 0;
	background-repeat: no-repeat no-repeat;
 	padding-left: 55px;
	background: none;
}
.footer-third img {
	width: 90px;
}
.index-additional-info {
	padding: 10px;
	margin-top: 20px;
}
.tta-info {
	margin-top: 50px;
}
.tta-info img {
	height: 60px !important;
}
input, button, select, textarea {
	font-family: Arial, Tahoma, sans-serif;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background-color: #dc3520;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #70c4f3;
    background-image: linear-gradient(to bottom, #70c4f3, #60b4ff);
}
.btn {
	border: 1px solid #666;
}
.btn-primary {
	background-color: #17735F !important;
	background-image: -webkit-linear-gradient(top, #209D82, #17725F);
	background-image: -moz-linear-gradient(top, #209D82, #17725F);
	background-image: -ms-linear-gradient(top, #209D82, #17725F);
	background-image: -o-linear-gradient(top, #209D82, #17725F);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #17725F !important;
	background-image: -webkit-linear-gradient(top, #209D82, #17725F);
	background-image: -moz-linear-gradient(top, #209D82, #17725F);
	background-image: -ms-linear-gradient(top, #209D82, #17725F);
	background-image: -o-linear-gradient(top, #209D82, #17725F);
}
.toolbar .btn-primary {
	background-color: #17725F !important;
	background-image: -webkit-linear-gradient(top, #209D82, #17725F);
	background-image: -moz-linear-gradient(top, #209D82, #17725F);
	background-image: -ms-linear-gradient(top, #209D82, #17725F);
	background-image: -o-linear-gradient(top, #209D82, #17725F);
}
.toolbar .btn-primary:hover, .toolbar .btn-primary:active, .toolbar .btn-primary.active, .toolbar .btn-primary.disabled, .toolbar .btn-primary[disabled] {
	background-color: #17725F !important;
	background-image: -webkit-linear-gradient(top, #209D82, #17725F);
	background-image: -moz-linear-gradient(top, #209D82, #17725F);
	background-image: -ms-linear-gradient(top, #209D82, #17725F);
	background-image: -o-linear-gradient(top, #209D82, #17725F);
}
.control-custom.disabled .checkbox.btn {
	background-color: #17725F !important;
	background-image: -webkit-linear-gradient(top, #209D82, #17725F);
	background-image: -moz-linear-gradient(top, #209D82, #17725F);
	background-image: -ms-linear-gradient(top, #209D82, #17725F);
	background-image: -o-linear-gradient(top, #209D82, #17725F);
}
#language-wrapper {
	float: right;
}
#main-nav {
	background-color: #063A5A !important;
	color: #fff;
	padding-left: 4px;
	overflow: hidden !important;
}
#main-nav label {
 	color: #fff;
	font-size: 12px;
	margin-top: 2px;
}
#main-nav form {
	margin: 4px 4px 0 0 !important;
}
#kata_header {
	position: absolute;
	left: 300px;
	top: 45px;
}
.pp-body h1 {
	font-size: 16px;
}
.pp-body {
	display: table;
}
.pp-header {
	float: left;
	width: 200px;
	padding-right: 30px;
	font-weight: bold;
}
.pp-fi {
	float: left;
	width: 325px;
}
.pp-en {
	float: right;
	width: 325px;
}
.pp-row {
	padding-bottom: 25px;
	display: table-row;
}
.pp-header, .pp-fi, .pp-en {
	display: table-cell;
	padding-right: 25px;
	margin-bottom: 25px;
}
#pp-data {
	display:block;
}
#about_fi, #about_en {
	padding-left: 5px;
	font-size: 120%;
	color: #DC3620;
	font-style: italic;
	padding-bottom: 25px;
}
#about_en {
	padding-top: 25px;
}
#nav_wrapper {
	color: #454545;
	background-color: #454545;
}
#kata_navigation {
	background-color: #454545;
}
#kata_navigation li.selected a {
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}
#kata_navigation li.selected a {
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px inset;
	box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px inset;
}

#kata_navigation ul li a {
	color: white;
	font-weight: 500;
	letter-spacing: 0.05em;
	margin: 0;
	min-height: 28px;
	padding: 7px 5px 0px 5px;
	text-transform: uppercase;
}
#kata_navigation a {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 1px;
/*  padding: 3px 5px;*/
	text-decoration: none;
}
#kata_navigation .selected a, #kata_navigation li.hover a, #kata_navigation a:hover, #kata_navigation a:focus {
	background-color: #dc3620;
	background-position: initial initial;
	background-repeat: initial initial;
	color: #FFFFFF;
	outline: 0;
}

#kata_navigation li, #kata_navigation a {
	display: inline-block;
	line-height: 18px;
}

#kata_navigation {
	background-color: transparent;
	background-image: none;
	background-position: initial initial;
	background-repeat: initial initial;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	clear: both;
	height: 100%;
	margin: 0 0 0 0;
	max-width: 820px;
	padding: 0 0 0 5px;
	position: relative;
	z-index: 1;
}
#kata_navigation ul li {
	border-style: solid;
}
#kata_navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#kata_navigation .icon-home {
	width: 18px;
	font-size: 18px;
	color: #36A78E;
}
#nav_wrapper {
	-webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 5px;
	background-position: initial initial;
	background-repeat: repeat no-repeat;
	box-shadow: rgba(0, 0, 0, 0) 0 0 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0) 0 0 5px;
	letter-spacing: 0.01em;
	margin-bottom: 10px;
	min-height: 40px;
	position: relative;
}
#language-wrapper {
	position: absolute;
	right: 10px;
	top: 7px;
	z-index: 200;
}
#language-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
#language-wrapper select {
	width: 150px;
}
.site-footer {
	filter: 0 !important;
}
header.masthead {
	filter: 0 !important;
}
.debug, #debug  {
    /* Overwrite main.css white font and .site-footer font-size upwards */
    color: rgba(0, 0, 0, 1) !important;
    font-size: 12px !important;
}
#debug-toggle  {
    /* Overwrite .site-footer font-size upwards and inline style */
    color: #FFFF80 !important;
    font-size: 12px !important;
    opacity: 1 !important;
}
.hidden {
  display: none;
}
.kata-search-relation {
  margin-left: 10px;
  width: 70px !important;
}

.kata-search-button {
    margin-right: 10px;
    float: right !important;
}
/* Multi inputs in add dataset */
.kata-multi-input {
	border: 1px solid;
	border-color: #DDD;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.kata-multi-heading {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
#orgauths {
	padding-top: 15px;
}
#lastlang {
	padding-top: 15px;
}
#temporal_coverage {
	padding-top: 15px;
}
#temporal_coverage label {
	margin: 0 !important;
}
/* ONKI selector */
.onki-area {
	border: 1px solid;
	border-color: #DDD;
	padding: 5px;
}
.onki-heading {
	font-size: 14px;
	font-weight: bold;
}
.onkiLangs {
	width: 100px !important;
}
.onkiAutocomplete .control-medium {
	width: 300px !important;
}
.kata-add-dataset-info {
	float:left;
	margin-right: 5px;
}
/* FAQ and help */

.faq-helpdesk {
	color: #555;
	font-size: 13px;
}
.faq-helpdesk p {
	padding-top: 10px;
}
h3.question {
	color: #139CEC;
	font-size: 15px;
	font-weight: bold;
}
.faq-toc {
	padding: 0px;
	margin: 0px;
}
.faq-toc ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
	
}
.faq-toc li {
	background-color: #fafafa;
	padding: 2px;
	margin: 2px;
	width: auto;
	border: 1px solid #139CEC;
}
.faq-toc li a {
	display: inline-block;
	color: #444;
	display: block;
	text-decoration: none;
	padding: 2px;
	width: 100%;	
}
.help-toc {
	padding: 0px;
	margin: 0px;
}
.help-toc ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.help-toc li {
	background-color: #fafafa;
	padding: 2px;
	margin: 2px;
	width: auto;
	border: 1px solid #139CEC;
}
.help-toc li a {
	display: inline-block;
	color: #444;
	display: block;
	text-decoration: none;
	padding: 2px;
	width: 100%;	
}
.help-toc li a.toc-sub {
	display: inline-block;
    width: 100%;
	color: #444;
	display: block;
	text-decoration: none;
	padding: 4px;
	padding-left: 20px;
}
.example {
	background-color: #EEE;
	border: 1px solid #139CEC;
	padding: 5px;
	margin: 5px;
}

/* Fonts */
.onkiAutocomplete .onkiFinder {
	font-family: Arial, sans-serif !important;
}
.onkiAutocomplete .onkiCollector .remove-fetched-concept {
	font-family: Arial, Sans-Serif !important;
}
.ui-widget {
    font-family: Arial,Verdana,sans-serif !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,Verdana,sans-serif !important;
}
p {
    font-family: Arial,Tahoma,sans-serif;
}
body {
    font-family: Arial,Tahoma,sans-serif;
}
.navbar-search .search-query {
    font-family: Arial,Tahoma,sans-serif;
}
input, button, select, textarea {
    font-family: Arial,Tahoma,sans-serif;
}