{% extends "page.html" %}

{% set pkg = c.pkg_dict %}
{% set res = c.resource %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{% link_for h.dataset_display_name(c.package)|truncate(15), controller='package', action='read', id=c.package.get('name') %}</li>
  <li class="active"><a href="">{{ h.resource_display_name(res)|truncate(30) }}</a></li>
{% endblock %}

{% block subtitle %}{{ _('Data mining') }}{% endblock %}
{% block actions_content %}
  {% snippet 'package/snippets/back_to_package_action.html', pkg=pkg %}
{% endblock %}

{% block primary_content %}
<section class="module">
<h2 class="module-heading">{{ _('Data mining results') }}</h2>
<div class="module-content">
<table class="table table-striped table-bordered table-condensed">
<tbody>
{% for k, v in c.data_tags %}
<tr>
<td>{{k}}</td><td>{{v}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</section>
{% endblock %}