{% ckan_extends %}
{# Kata static files #}
{% block styles %}
  {{super()}}
  {% resource 'kata-resources/css/jquery-ui-1.9.2.custom.css' %}
  {% resource 'kata-resources/javascript/bootstrap-datepicker/bootstrap-datepicker.css' %}
  {% resource 'kata-resources/css/kata.css' %}
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock%}
{% block scripts %}
  {{ super() }}
  {% block kata_scripts %}
    {% resource 'kata-resources/javascript/bootstrap-datepicker/bootstrap-datepicker.js' %}
    {% resource 'kata-resources/javascript/bootstrap-datepicker/bootstrap-datepicker.fi.js' %}
    {% resource 'kata-resources/javascript/jquerytimepicker/jquery-ui-timepicker-addon.js' %}
    {% resource 'kata-resources/javascript/jqueryui/jquery-ui-main.js' %}
    {% resource 'kata-resources/javascript/moment/moment.js' %}
    {% resource 'kata-resources/javascript/lodash/lodash.js' %}
    {% resource 'kata-resources/javascript/advanced-search-kata.js' %}
    {% resource 'kata-resources/javascript/custom-fields-kata.js' %}
    {% resource 'kata-resources/javascript/languages.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-multilang-field.js' %}
    {% resource 'kata-resources/javascript/jquerytimepicker/jquery-ui-timepicker-addon.js' %}
    {% resource 'kata-resources/javascript/kata-modules/dateselect-modules-kata.js' %}
    {% resource 'kata-resources/javascript/kata-modules/etsin-multilang-display.js' %}
    {% resource 'kata-resources/javascript/kata-modules/etsin-dataset-form.js' %}
    {% resource 'kata-resources/javascript/kata-modules/etsin-multilang-input.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-language-selection.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-leave-info.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-multilang-field.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-notification-tools.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-save-tools.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-terms-of-use.js' %}
    {% resource 'kata-resources/javascript/kata-modules/kata-widgets.js' %}
  {% endblock kata_scripts %}
{% endblock scripts %}

{% block links %}
  {{ super() }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ h.get_ga_id() }}', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
