<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      
      <div class="footer-first">
        {% block footer_left %}
          &nbsp;
        {% endblock %}
      </div>
      <div class="footer-second">
        {% block footer_contact %}
        <p>
          {{ _('Etsin is part of the ') }}<a href="{{ _('http://openscience.fi') }}">{{ _('Open science and research initiative\'s (ATT)') }}</a>{{ _(' services') }}
        </p>
        <p>
          {{ _('Service is provided by ') }}<a href="{{ _('http://www.csc.fi/') }}">{{ _('CSC - IT Center for Science Ltd') }}</a>
        </p>
        {% endblock %}
      </div>
      <div class="footer-third">
        {% block footer_logo %}
          <a href="{{ _('http://openscience.fi') }}"><img src="/base/images/ATT_pos_vaaka_RGB.png" alt="TTA"></a>&nbsp;<a href="{{ _('http://www.csc.fi/') }}"><img src="/base/images/csc-logo-transp80.png"></a>
        {% endblock %}
      </div>
      
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>

