<header class="masthead{% if c.userobj %} authenticated{% endif %}">
  {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %}
  <div class="container-fluid">

    <div class="container">
      <div class="branding">
        <a class="logo" href="{{ h.url('home') }}">
          <img src="{{ h.url_for_static(g.site_logo) }}" alt="{{ _('Etsin') }}" title="{{ _('Etsin') }}" />
        </a>
        <div class="branding-description">{{ _('Research data finder') }}</div>
      </div>
    </div>

    {% set current_url = request.environ.CKAN_CURRENT_URL %}
    {% set current_lang = request.environ.CKAN_LANG %}

    <div class="navigation-wrapper">
      <div class="container">

        <div class="small-display-menu-navi">
          <a class="hamburger" data-toggle="collapse" href="#main-navi-small">
            <i class="icon-align-justify"></i>
          </a>
          <div id="main-navi-small" class="collapse">
            <ul role="menu">
                {{ h.kata_build_nav_main(
                  ('home', _('Home')),
                  ('search', _('Datasets')),
                  ('organizations_index', _('Organizations')),
                  ('about', _('Help & About'))
                )}}
            </ul>
          </div>
        </div>

        <ul class="secondary-navigation etsin-navigation">

          <li class="add-dataset-button">
            <div class="button-wrapper">
              {# show add dataset button also to not logged in viewers #}
              {# if h.check_access('package_create') #}
                {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary' %}
              {# endif #}
            </div>
          </li>

          <li class="secnav">
            {% if current_lang == 'en' %}
              <a href="{% url_for current_url, locale='fi' %}">FI</a>
            {% elif current_lang == 'fi' %}
              <a href="{% url_for current_url, locale='en' %}">EN</a>
            {% endif  %}
          </li>

          {% if not c.userobj %}
            <li class="secnav">
              <a href="{{ h.url_for(controller='user', action='login') }}">{{ _('Log in') }}</a>
            </li>
          {% endif %}

          {% if c.userobj %}
            <li class="secnav">
              <div class="logged-in-actions" data-module="me">

                <div class="dropdown">
                  <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
                    {{ c.userobj.fullname or c.userobj.name }}
                    <i class="icon-chevron-down"></i>
                  </a>
                  <ul class="user-dropdown-menu dropdown-menu pull-right" role="menu">
                    <li>
                      <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">{{ _('My Datasets') }}</a>
                    </li>
                    <li>
                      <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}">{{ _('Edit Profile') }}</a>
                    </li>
                    <li>
                      {% link_for _('Activity Stream'), controller='user', action='activity', id=c.userobj.name %}
                    </li>
                  </ul>
                </div>

              </div>

            </li>
            <li class="secnav">
              <a href="{{ h.url_for('/user/_logout') }}">{{ _('Log out') }}</a>
            </li>
          {% endif %}

        </ul>
        <ul class="primary-navigation etsin-navigation">
          {{ h.kata_build_nav_main(
            ('home', _('Home')),
            ('search', _('Datasets')),
            ('organizations_index', _('Organizations')),
            ('about', _('Help & About'))
          )}}
        </ul>


      </div>

    </div>

    <div class="small-display-menu-user">
      <div class="dropdown">
        <a class="usericon dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><i class="icon-chevron-down"></i></a>
        <ul class="dropdown-menu pull-right" role="menu">
          {% if not c.userobj %}
            <li>
              <a href="{{ h.url_for(controller='user', action='login') }}">{{ _('Log in') }}</a>
            </li>
          {% endif %}
          {% if c.userobj %}
            <li><div class="username">{{ c.userobj.fullname or c.userobj.name }}</div></li>
            <li class="divider"></li>
            <li>
              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">{{ _('My Datasets') }}</a>
            </li>
            <li>
              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}">{{ _('Edit Profile') }}</a>
            </li>
            <li>
              {% link_for _('Activity Stream'), controller='user', action='activity', id=c.userobj.name %}
            </li>
            <li>
              <a href="{{ h.url_for('/user/_logout') }}">{{ _('Log out') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="small-display-language-selector">
      <div class="language-selector-box">
        {% if current_lang == 'en' %}
          <a class="lang-code" href="{% url_for current_url, locale='fi' %}">FI</a>|<span class="lang-code">EN</span>
        {% elif current_lang == 'fi' %}
          <span class="lang-code">FI</span>|<a class="lang-code" href="{% url_for current_url, locale='en' %}">EN</a>
        {% endif  %}
      </div>
    </div>

  </div>
</header>
