<header class="masthead{% if c.userobj %} authenticated{% endif %}">
  {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %}
  <div class="container">
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="{{ g.header_class }}">

      {% if c.userobj %}
        <div class="section account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
          <div class="dropdown">
            <a href="{{ h.url_for(controller='user', action='dashboard') }}" class="button notifications{% if c.new_activities > 0 %} notifications-important{% endif %}" title="{{ c.new_activities }} {{ _('new notifications') }}">
              <i class="icon-envelope-alt"></i>
              {{ _('Notifications') }} {{ c.new_activities }}
            </a>
          </div>
          <div class="dropdown">
            <a class="button" href="{{ h.url_for('/user/_logout') }}">
              <i class="icon-signout"></i>
              {{ _('Log out') }}
            </a>
          </div>
          <div class="dropdown">
            <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i>
              {{ c.userobj.fullname or c.userobj.name }}
              <i class="icon-chevron-down"></i>
            </a>
            <ul class="user-dropdown-menu dropdown-menu pull-right" role="menu">
              <li>
                <a href="{{ h.url_for(controller='user', action='dashboard') }}">
                  <i class="icon-dashboard"></i>
                  {{ _('Dashboard') }}
                </a>
              </li>
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">
                  <i class="icon-user"></i>
                  {{ _('My Profile') }}
                </a>
              </li>
              <li>
                <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}">
                  <i class="icon-wrench"></i>
                  {{ _('Edit Profile') }}
                </a>
              </li>
              <li>
                <a href="{{ h.url_for('/user/_logout') }}">
                  <i class="icon-signout"></i>
                  {{ _('Log out') }}
                </a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <a class="button" href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">
              <i class="icon-sitemap"></i>
              {{ _('My Datasets') }}
            </a>
          </div>
          {% if c.userobj.sysadmin %}
            <div class="dropdown">
              <a class="button" href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                <i class="icon-legal"></i>
                {{ _('Sysadmin settings') }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if g.site_logo %}
        <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static(g.site_logo) }}" alt="{{ _('Etsin') }}" title="{{ _('Etsin') }}" /></a>
      {% else %}
        <h1>
          <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
      {% endif %}
    </hgroup>
    <div class="content">
      <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
        <div class="field">
          <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
          <input id="field-sitewide-search" name="q" placeholder="{{ _('Search') }}" />
          <button class="btn-search" type="submit">{{ _('Search') }}</button>
        </div>
      </form>
    </div>

  </div>
  <div id="help_navi">
      <i class="icon-large icon-info-sign"></i>
      <a href="{{ h.url_for(controller='ckanext.kata.controllers:KataInfoController', action='render_help') }}">
      {{ _('Help') }}
      </a>

      <i class="icon-large icon-question-sign "></i>
      <a href="{{ h.url_for(controller='ckanext.kata.controllers:KataInfoController', action='render_faq') }}">
      {{ _('FAQ') }}
      </a>

      <i class="icon-large icon-tasks"></i>
      <a href="{{ h.url_for(controller='ckanext.stats.controller:StatsController', action='index') }}">
      {{ _('Stats') }}
      </a>
      {% if not c.userobj %}
      <i class="icon-large icon-signin"></i>
      <a class="button" href="{{ h.url_for(controller='user', action='login') }}">
        {{ _('Log in') }}
      </a>
      {% endif %}
  </div>
  <div id="nav_wrapper"> 
    <ul id="kata_navigation">
      <li>
      <a href={{ h.url('home') }}>
        <i class="icon-home"></i>
      </a>
      </li>
      {{ h.build_nav_main(
        ('search', _('Search Datasets')),
        ('add dataset', _('Add Dataset')),
        ('organizations_index', _('Organizations')),
        ('about', _('About Etsin')),
      )}}
      <div id="language-wrapper">
        <ul>
          <li>
            {% snippet "snippets/language_selector.html" %}
          </li>
        </ul>
      </div>
    </ul>
  </div>
</header>
