<header class="masthead{% if c.userobj %} authenticated{% endif %}">
  {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %}
  <div class="container-fluid">

    <div class="container">
      <div class="branding">
        <a class="logo" href="{{ h.url('home') }}">
          <img src="{{ h.url_for_static(g.site_logo) }}" alt="{{ _('Etsin') }}" title="{{ _('Etsin') }}">
        </a>
        <div class="branding-description">{{ _('Research dataset catalog') }}</div>
      </div>
    </div>

    <div class="navigation-wrapper">
      <div class="container">

        <ul class="secondary-navigation etsin-navigation">

          <li>
            <div class="button-wrapper">
              {% if h.check_access('package_create') %}
                {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary' %}
              {% endif %}
            </div>
          </li>

          {% set current_url = request.environ.CKAN_CURRENT_URL %}
          {% set current_lang = request.environ.CKAN_LANG %}

          <li>
            {% if current_lang == 'en' %}
              <a href="{% url_for current_url, locale='fi' %}">suomeksi</a>
            {% elif current_lang == 'fi' %}
              <a href="{% url_for current_url, locale='en' %}">in English</a>
            {% endif  %}
          </li>

          {% if not c.userobj %}
            <li>
              <a class="button" href="{{ h.url_for(controller='user', action='login') }}">{{ _('Log in') }}</a>
            </li>
          {% endif %}

          {% if c.userobj %}
            <li>
              <div class="logged-in-actions" data-module="me">

                <div class="dropdown">
                  <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
                    {{ c.userobj.fullname or c.userobj.name }}
                    <i class="icon-chevron-down"></i>
                  </a>
                  <ul class="user-dropdown-menu dropdown-menu pull-right" role="menu">
                    <li>
                      <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">{{ _('My Datasets') }}</a>
                    </li>
                    <li>
                      <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">{{ _('My Profile') }}</a>
                    </li>
                    <li>
                      {% link_for _('Activity Stream'), controller='user', action='activity', id=c.userobj.name %}
                    </li>
                  </ul>
                </div>

              </div>

            </li>
            <li>
              <a href="{{ h.url_for('/user/_logout') }}">{{ _('Log out') }}</a>
            </li>
          {% endif %}

        </ul>
        <ul class="primary-navigation etsin-navigation">
          <li class="active">
            <a href={{ h.url('home') }}>{{ _('Home') }}</a>
          </li>
          {{ h.build_nav_main(
            ('search', _('Search Datasets')),
            ('organizations_index', _('Organizations')),
            ('about', _('About Etsin')),
          )}}
        </ul>


      </div>

    </div>

  </div>
</header>
