{% extends "page.html" %}
{% block subtitle %}{{ _('Tietosuojaseloste / Privacy Policy') }}{% endblock %}

{% block primary %}
  <div class="pp-body">
    <h1>Kata-metatietokatalogin tietosuojaseloste</h1>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Henkilörekisterin rekisterinpitäjä</span>
        <span id="pp-data">ja yhteyshenkilö.</span>
        <span id="pp-data">Controller of the personal</span> 
        <span id="pp-data">data file and a contact 
        person.</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">CSC – Tieteen tietotekniikan keskus Oy</span>
        <span id="pp-data">kata-admin@listat.csc.fi</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">CSC – IT center for science Ltd.</span>
        <span id="pp-data">kata-admin@listat.csc.fi</span>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Henkilötietojen käyttötarkoitus</span>
        <span id="pp-data">The purpose of the processing</span>
        <span id="pp-data">of personal data</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Kerättäviä henkilötietoja käytetään:</span>
        <ul>
        <span id="pp-data"><li>Katan käyttöoikeuksien hallintaan</li></span>
        <span id="pp-data"><li>Käyttäjätietojen luomiseen Kata-palveluun</li></span>
        </ul>
        <span id="pp-data">Palvelun käytöstä lokiin kertyviä henkilötietoja käytetään:</span>
        <ul>
        <span id="pp-data"><li>Teknisten ongelmien ja väärinkäytösten selvittämiseen</li></span>
        <span id="pp-data"><li>Käyttökapasiteetin seurantaan</li></span>
        </ul>
      </div>
      <div class="pp-en">
        <span id="pp-data">Personal data is used for:</span>
        <ul>
        <span id="pp-data"><li>Authorization management in Kata</li></span>
        <span id="pp-data"><li>Creation of user profile</li></span>
        </ul>
        <span id="pp-data">Personal data in the log files of the server is used for:</span>
        <ul>
        <span id="pp-data"><li>Working out technical problems and investigating abuse of the service</li></span>
        <span id="pp-data"><li>Monitoring the load and capacity of the service</li></span>
        </ul>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Käsiteltävät henkilötiedot</span>
        <span id="pp-data">Personal data processed</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Seuraavat tiedot noudetaan kotiorganisaatiostasi suostumuksellasi aina, kun kirjaudut palveluun:</span>
        <ul>
        <span id="pp-data"><li>sähköpostiosoite, nimi, puhelinnumero, käyttäjätunnus (eduPersonPrincipalName), organisaatio</li></span>
        </ul>
      </div>
      <div class="pp-en">
        <span id="pp-data">Following information is fetched from your home organisation on your consent every time you log in to the service:</span>
        <ul>
        <span id="pp-data"><li>name, mail address, phone number, login (eduPersonPrincipalName), organization</li></span>
        </ul>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Henkilötietojen säilytysaika</span>
        <span id="pp-data">Storage period of personal data</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Henkilötietoja säilytetään palvelussa palvelun 
koko voimassaoloajan</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">Your personal data is stored for all the lifetime of the service</span>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Henkilötietojen suojaamisen periaatteet</span>
        <span id="pp-data">Principles of protecting personal data</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Tietoverkossa siirrettäessä henkilötiedot on suojattu SSL-tekniikalla.
Henkilötiedoista palvelimelle syntyvä henkilörekisteri on suojattu rajoittamalla pääsy ylläpitotunnuksille</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">In the network SSL technology is used to protect personal data. In the service the personal data file
is protected by access restrictions to maintenance accounts</span>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Henkilötietojen säännönmukainen luovuttaminen</span>
        <span id="pp-data">Regular transfer of personal data to third parties</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Henkilötietoja ei luovuteta kolmansille osapuolille</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">Personal data is not transferred to third parties</span>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Rekisteröidyn tarkistusoikeus</span>
        <span id="pp-data">Right of access personal data on him/her</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Tarkistaaksesi, mitä henkilötietoja sinusta on kerätty palvelimeen, ota yhteys em. yhteyshenkilöön</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">To check what personal data is stored in the service concerning yourself, contact aforementioned contact person</span>
      </div>
    </div>
    <div class="pp-row">
      <div class="pp-header">
        <span id="pp-data">Virheellisten tietojen oikaisu</span>
        <span id="pp-data">Rectification</span>
      </div>
      <div class="pp-fi">
        <span id="pp-data">Ota yhteys kotiorganisaatioosi, jos kotiorganisaatiostasi 
noudettavissa henkilötiedoissa on virheitä. Palvelun 
sinulta itseltäsi keräämät henkilötiedot oikaistaan 
kirjautumalla Kata-palveluun ja tekemällä muutokset 
”muokkaa profiilia” toiminnon kautta.</span>
      </div>
      <div class="pp-en">
        <span id="pp-data">Contact your home organisation to correct the personal data that is fetched from there.
The information gathered from yourself can be corrected logging in to Kata service
and modifying the information using the link ”modify profile”.</span>
      </div>
    </div>
  </div>

{% endblock %}
{% block sidebar %}{% endblock %}
