{% extends "page.html" %}

{# To automatically add certain strings to translations and to
test the translation easily, use this file #}

{% block primary_content %}

  {# maintenance break #}

  {{ _('There is a maintenance break in service') }}<br />
  {{ _('You can not add or edit data during maintenance break') }}<br />

  {# harvested datasets #}

  {{ _('Original metadata record') }}<br />
  {{ _('Event automatically created at import.') }}<br />

  {# error summary #}
  {{ _('Tag string') }}<br />
  {{ _('Availability') }}<br />
  {{ _('Agent') }}<br />
  {{ _('Event') }}<br />
  {{ _('Geographic coverage') }}<br />
  {{ _('Title + language') }}<br />
  {{ _('Description + language') }}<br />
  {{ _('Access request URL') }}<br />

  {# search page #}
  {{ _('Discipline') }}<br />
  {{ _('All fields') }}<br />

  {# overwriting CKAN spelling error #}
  {{ _('Start typing…') }}<br />

  {# View dataset #}
  {{ _('Data identifier') }}
  {{ _('Version identifier') }}
  {{ _('Metadata identifier') }}

  {# Error message for missing organization #}
  {{ _('Owner org') }}
  {{ _('Temporal coverage begin') }}
  {{ _('Temporal coverage end') }}

  {# Translated in 2.2 #}
  {% trans %}
    <p>Organizations act like publishing departments for datasets (for
      example, the Department of Health). This means that datasets can be
      published by and belong to a department instead of an individual
      user.</p>
    <p>Within organizations, admins can assign roles and authorisation its
      members, giving individual users the right to publish datasets from
      that particular organisation (e.g. Office of National Statistics).</p>
  {% endtrans %}

{% endblock %}
