{% extends "page.html" %}

{% block subtitle %}{{ _("Kata FAQ") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('FAQ'), controller='ckanext.kata.controllers:KataInfoController', action='render_faq', highlight_actions = 'new
  index') }}
{% endblock %}

{% block primary_content %}
  <section class="faq" id="kata_faq">
   <section class="module"><h2 class="module-heading"><a id="faq-kata-metadata">{{ _('Kata and metadata') }}</a></h2>
     <div class="module-content">
      <h3 class="question">{{ _('What is Kata?') }}</h3>
      <p>{{ _('Kata is a metadata catalogue service of TTA (Finnish National Research Data Initiative). 
      TTA is a data effort of Ministry of Education and Culture.') }}</p>
      <h3 class="question">{{ _('What kind of data Kata contains?') }}</h3>
      <p>{{ _('Kata contains metadata of research data, from various branches of science.') }}</p>
     </div>
   </section>
   <section class="module"><h2 class="module-heading"><a id="faq-add-dataset">{{ _('Add dataset page') }}</a></h2>
     <div class="module-content">
       <h3 class="question">{{ _('Why can\'t I add any keywords?') }}</h3>
       <p>{{ _('Most likely the script files haven\'t loaded because of your browsers security features. 
       The script files are loaded via an unencrypted connection which causes a warning. 
       You must permit this content from your browser. 
       Usually you can do this temporarily from a button in the address bar or from a tab on the bottom of the page, 
       depending on the browser you are using.') }}</p>
       <h3 class="question">{{ _('I added extra fields for titles/authors I do not want to fill. How do I remove these?') }}</h3>
       <p>{{ _('You don\'t need to remove them. Leave them empty and Kata will ignore them.') }}
     </div>
   </section>
   <section class="module"><h2 class="module-heading"><a id="faq-search">{{ _('Search: page and features') }}</a></h2>
     <div class="module-content">
       <h3 class="question">{{ _('There are two search fields, why?') }}</h3>
       <p>{{ _('The search field in the upmost part makes it easier to search for data from anywhere in the site. 
       You can use any search field you prefer.') }}</p>
       <h3 class="question">{{ _('I can\'t make a search query I want from advanced search') }}</h3>
       <p>{{ _('You can make more complex search queries by using Solr query syntax. See more in: ') }}
       <a href="http://wiki.apache.org/solr/SolrQuerySyntax">{{ _('Solr query syntax') }}</a>
     </div>
   </section>
  </section>
{% endblock %}
{% block secondary_content %}
<div class="module faq-right">
    <h2 class="module-heading">
      <i class="icon-large icon-info-sign"></i>
      {{ _('FAQ') }}
    </h2>
    <div class="module-content">
      
      <div class="faq-toc">
        <ul>
        <li>
          <a href="#faq-kata-metadata">{{ _('Kata and metadata') }}</a>
        </li>
        <li>
          <a href="#faq-add-dataset">{{ _('Add dataset page') }}</a>
        </li>
        <li>
          <a href="#faq-search">{{ _('Search: page and features') }}</a>
        </li>
        </ul>
      </div>
      <div class="faq-helpdesk">
        <p>
          {{ _('Didn\'t find the question and answer you were looking for? You can submit additional questions to: ') }}<br />
          <b><i>kata-help at postit.csc.fi</i></b>
        </p>
      </div>
    </div>
</div>
{% endblock %}
 