{#
Displays a single related item.

related - The related item dict.
pkg_id  - The id of the owner package. If present the edit button will be
          displayed.

Example:



#}

<li class="etsin-related-item">
  <div class="related-content">
  <a target="_blank" href="{{ related.url }}"><h3 class="media-heading">{{ related.title }}</h3></a>
  {% if related.description %}
    <div class="prose">{{ h.render_markdown(related.description) }}</div>
  {% else %}
    <p class="empty">{{ _('This item has no description') }}</p>
  {% endif %}
  {% if pkg_id and h.check_access('related_update', {'id':related.id}) %}
    {{ h.nav_link(_('Edit'), controller='related', action='edit', id=pkg_id, related_id=related.id, class_='btn btn-primary btn-small media-edit') }}
  {% endif %}
  </div>
</li>
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
