html,
body {
  min-width: 300px;
}
a {
  color: #3fa9f5;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0f93f2;
  text-decoration: underline;
}
body {
  background: #ffffff;
}
.form-actions .action-info-kata {
  float: left;
  line-height: 2;
  margin: 0;
  text-align: left;
  width: 50%;
}
.form-actions .action-info-kata.small {
  font-size: 12px;
  line-height: 1.2;
}
.metadata-source {
  font-weight: bold;
  padding: 0px 0px 30px 0px;
  font-size: 18px;
}
.strong {
  font-weight: bold;
}
.btn {
  border: 1px solid #666;
}
.btn-primary {
  background-color: #53cc61 !important;
  background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #53cc61 !important;
  background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.toolbar .btn-primary {
  background-color: #53cc61 !important;
  background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.toolbar .btn-primary:hover,
.toolbar .btn-primary:active,
.toolbar .btn-primary.active,
.toolbar .btn-primary.disabled,
.toolbar .btn-primary[disabled] {
  background-color: #53cc61 !important;
  background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.control-custom.disabled .checkbox.btn {
  background-color: #53cc61 !important;
  background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.nav-simple .nav-item a {
  color: #3fa9f5;
}
.nav-simple .nav-item.active a {
  color: white;
}
i.chevron-alt {
  color: #d0eafd;
}
#etsin-main {
  width: 100%;
}
.etsin-container {
  background-color: transparent;
}
.etsin-container .container {
  max-width: 700px;
}
.etsin-container .container-wide {
  max-width: 1100px;
  width: 1100px;
}
.etsin-container .container-medium {
  max-width: 920px;
  width: 920px;
}
@media (max-width: 971px) {
  .etsin-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .etsin-container .container {
    width: auto;
  }
}
@media (min-width: 971px) and (max-width: 1115px) {
  .etsin-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1100px) {
  .etsin-container .container-wide {
    max-width: auto;
    width: auto;
  }
}
/* koko sivun levyinen container, eri taustaväri */
.etsin-container-bg {
  background-color: #f7f7f7;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.etsin-secondary-title {
  font-size: 17px;
}
.action-link {
  cursor: pointer;
}
.pagination ul {
  box-shadow: none;
}
.pagination ul > li.active > a {
  background: transparent;
  color: black;
}
.pagination ul > li a {
  padding: 4px 8px;
  font-size: 17px;
  font-weight: 700;
  background: transparent;
  border: none;
}
.pagination ul > li a:hover,
.pagination ul > li a:focus {
  background: transparent;
}
.container-divider {
  border-top: 1px solid #c9c9c9;
}
.index-additional-info {
  padding: 10px;
  width: 90%;
  border: 1px solid;
  border-color: #6ccff6;
  background-color: #fff;
  margin: 20px;
  padding: 0px;
  float: left;
}
.btn {
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
}
.btn.btn-primary {
  background-color: #3fa9f5 !important;
  background-image: none;
}
.btn.btn-default,
.btn.btn-success,
.btn.btn-danger {
  background-image: none;
  border-color: #3fa9f5;
  color: #3fa9f5;
  background-color: white;
}
.btn .icon-chevron-down {
  margin-left: 5px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #3fa9f5;
}
.btn-group.open .btn.dropdown-toggle {
  background-color: white;
}
.kata-package-editor {
  border-bottom: 1px solid !important;
  padding-bottom: 25px !important;
}
#kata-data-model {
  width: 1100px !important;
  margin-left: -550px !important;
}
#kata-data-model {
  max-height: 525px;
}
#kata-data-model table {
  margin-top: 10px;
}
/* Overwrite selector in main.css */
.info-block [class^="icon-"],
.info-block [class*=" icon-"] {
  display: inline;
  float: none;
  font-size: 14px;
}
.checkbox-generate {
  margin-bottom: 10px !important;
  width: 15px !important;
}
.main.homepage {
  border-top: 1px solid #000 !important;
}
.site-footer {
  background-color: #ebebec;
  background-image: none;
  padding: 10px 0;
  background-repeat: repeat no-repeat;
  min-height: 75px;
  height: auto;
  margin-bottom: 0px;
  font-size: 90%;
  -webkit-filter: 0 !important;
          filter: 0 !important;
  border-bottom: 1px solid #c9c9c9;
}
.site-footer a {
  color: #3fa9f5 !important;
}
.site-footer a:hover,
.site-footer a:focus {
  color: #0f93f2 !important;
}
.site-footer p {
  color: black;
}
.site-footer h1 {
  font-size: 14px;
}
.site-footer .etsin-container .container {
  max-width: 1200px;
}
.footer-data {
  display: block;
}
.footer-data a {
  color: #3fa9f5;
}
.footer-first {
  margin: 0px;
  float: left;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
  padding-left: 80px;
  background: none;
  display: none;
}
.footer-second {
  margin: 0px;
  float: left;
  padding-top: 44px;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
  padding-left: 32px;
  background: none;
  width: 50%;
}
.footer-third {
  margin: 0px;
  float: right;
  padding-right: 32px;
  background-image: none !important;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
  /*padding-left: 20px;*/
  background: none;
}
.footer-third .img-container img {
  /*text-align: center;*/
  margin: 24px auto;
  max-height: 80px;
}
@media (max-width: 900px) {
  .footer-second,
  .footer-third {
    float: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.kata-captcha-fix table {
  table-layout: auto !important;
}
.kata-accordion .accordion-heading {
  font-weight: 700;
  position: relative;
}
.kata-accordion .accordion-heading .accordion-toggle:after {
  position: absolute;
  top: 5px;
  right: 10px;
  content: "\f077";
  font-family: FontAwesome;
  text-decoration: none;
}
.kata-accordion .accordion-heading .accordion-toggle.collapsed:after {
  content: "\f078";
}
.kata-accordion .accordion-heading .accordion-toggle:focus,
.kata-accordion .accordion-heading .accordion-toggle:active {
  outline: 0;
  text-decoration: none;
}
.kata-accordion .accordion-inner {
  border-top: none;
}
.kata-datepicker-container .time-details {
  display: inline-block;
  margin-left: 10px;
}
.kata-datepicker-error {
  margin-top: 20px;
}
.kata-datepicker-date {
  width: 12ex;
}
.kata-datepicker-time {
  width: 10ex;
}
.kata-datepicker-tz {
  width: 11ex;
}
.kata-datepicker-enabler {
  margin-top: 3px;
  display: block;
}
.kata-datepicker-enabler input {
  top: 5px;
}
.role-select {
  margin: 0;
  height: 36px;
}
.kata-lifecycle-input {
  margin-left: 10px;
  width: 110px !important;
}
.kata-pid-input {
  margin-left: 10px;
  width: 110px !important;
}
.kata-pid-input-wide {
  margin-left: 10px;
  width: 393px !important;
}
.events {
  font-style: bold;
  margin-left: 30px;
}
li.kata {
  float: left !important;
}
li.kata label {
  float: right !important;
}
.form-horizontal .katalabel1 {
  width: 95px !important;
  text-align: center;
  float: left;
}
.form-horizontal .katalabel {
  width: 145px !important;
  float: left;
  text-align: center !important;
}
.form-horizontal .katalabel::after {
  content: '' !important;
}
.form-horizontal .katalabel-pid1 {
  width: 95px !important;
  text-align: center;
  float: left;
}
.form-horizontal .katalabel-pid1::after {
  content: '' !important;
}
.form-horizontal .katalabel-pid2 {
  width: 50px !important;
  font-size: x-small;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none !important;
  white-space: normal !important;
  position: relative;
  top: 9px;
  text-align: left;
  line-height: 0 !important;
}
.form-horizontal .katalabel-pid2::after {
  content: '' !important;
}
.form-horizontal .katalabel-pid-wide {
  width: 380px !important;
  float: left;
  text-align: center !important;
}
.form-horizontal .katalabel-pid-wide::after {
  content: '' !important;
}
ul.kata {
  list-style: none !important;
  margin: 0px !important;
}
.kata-warning-btn {
  margin-left: 4px !important;
  background: white !important;
  color: red !important;
}
.kata-btn-warn-span {
  padding-left: 2px !important;
}
.kata-btn-span {
  display: inline !important;
  left: -4px;
  top: -4px;
  position: relative;
  width: 0 !important;
  margin-left: 0px !important;
}
.kata-input-org {
  width: 200px !important;
}
.kata-input-license {
  width: 475px !important;
}
.kata-medium-input {
  width: 334px !important;
  font-size: 14px;
}
.kata-label-pluspad {
  padding-top: 9px !important;
}
.kata-multi-padding {
  margin-left: 67px !important;
}
.kata-multi-label {
  width: 453px !important;
  text-align: left !important;
  margin-left: 28px !important;
  margin-bottom: 15px;
}
.kata-auth-padding {
  margin-left: 72px !important;
}
.kata-auth-label {
  width: 453px !important;
  text-align: left !important;
  margin-left: 28px !important;
  margin-bottom: 15px;
}
.module-link {
  float: right;
}
input[id="xmlfile"] {
  width: 190px !important;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div .ui_tpicker_timezone_label {
  margin-bottom: -10px;
}
.ui_tpicker_timezone select {
  margin-top: 5px !important;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div .ui_tpicker_timezone {
  margin: 0 10px 10px 10px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-timepicker-rtl {
  direction: rtl;
}
.ui-timepicker-rtl dl {
  text-align: right;
}
.ui-timepicker-rtl dl dd {
  margin: 0 65px 10px 10px;
}
.error-block-kata {
  background: none repeat scroll 0 0 #C6898B;
  border-radius: 0 0 0px 0px;
  color: #FFFFFF;
  display: block;
  margin: -3px 0 0 0;
  padding: 6px 8px 6px;
  width: 100%;
  border-radius: 6px;
}
#temporal_coverage {
  padding-top: 15px;
}
#temporal_coverage .controls-row:not(:first-of-type) {
  margin-top: 15px;
}
#temporal_coverage .control-label:not(:first-of-type) {
  padding-top: 20px;
}
.form-tab-content {
  padding: 20px;
  /* stack form label and content on small display */
}
.form-tab-content .form-row {
  margin-bottom: 40px;
}
.form-tab-content .form-row .form-label {
  float: left;
  font-weight: 700;
  width: 30%;
}
.form-tab-content .form-row .form-content {
  min-height: 16px;
  position: relative;
  margin-left: 30%;
  width: 65%;
  padding-right: 5%;
}
.form-tab-content .form-row .kata-tooltip {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 700px) {
  .form-tab-content .form-row .form-label {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .form-tab-content .form-row .form-content {
    width: 91%;
    margin-left: 7%;
  }
}
header.masthead {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: #ffffff;
  margin-bottom: 45px;
}
header.masthead .button-wrapper .btn-primary {
  background-color: #3fa9f5 !important;
  background-image: none !important;
  border-color: #3fa9f5 !important;
  box-shadow: none;
  text-shadow: none;
  font-size: 13px;
}
header.masthead .button-wrapper .btn-primary:hover {
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2);
}
header.masthead .branding {
  margin-left: 23px;
  /* align logo with first navi item left side */
  margin-top: 10px;
  height: 43.5px;
}
header.masthead .branding .logo {
  display: inline-block;
  width: 63.5px;
  height: 43.5px;
}
header.masthead .branding .logo img {
  width: 63.5px;
  height: 43.5px;
}
header.masthead .branding .branding-description {
  display: inline-block;
  vertical-align: bottom;
  color: #3fa9f5;
}
@media (max-width: 1000px) {
  header.masthead .branding {
    margin-left: 2px;
  }
}
header.masthead .container {
  width: 971px;
}
@media (max-width: 971px) {
  header.masthead .container {
    width: auto;
  }
}
header.masthead .content a,
header.masthead .account a {
  /* Overwrite profile drop down menu color in main.css */
  color: #FFF;
  font-size: 85%;
}
header.masthead .account {
  box-shadow: 0 0 0 0 #fff !important;
  background-color: #f8f8f8 !important;
  width: 100%;
}
header.masthead .account .image img {
  border-right-color: #53cc61;
  opacity: 0.9;
}
header.masthead .account .button {
  border: 0px;
  color: #000 !important;
  margin: 2px 5px 2px 0;
  padding: 4px 8px 3px;
  text-shadow: none !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  text-decoration: none;
}
header.masthead .account .button:hover {
  background-color: rgba(108, 207, 246, 0.7) !important;
}
header.masthead .account .dropdown.open .button,
header.masthead .account .dropdown .button:hover {
  /* Overwrite profile section buttons shadow color in main.css */
  box-shadow: 0 1px 0 #f2f2f2 inset;
}
header.masthead .user-dropdown-menu {
  margin-top: 5px;
}
header.masthead .user-dropdown-menu a {
  color: #000 !important;
}
header.masthead .user-dropdown-menu a:hover {
  color: #fff !important;
}
header.masthead .dropdown .dropdown-toggle .icon-chevron-down {
  margin-left: 3px;
}
header.masthead .dropdown .dropdown-toggle:hover {
  color: #3fa9f5;
}
header.masthead .dropdown.open .icon-chevron-down {
  color: #3fa9f5;
}
header.masthead .section.account {
  /* Overwrite profile avatar section alignment in main.css */
  float: right;
}
header.masthead .site-search {
  /* Overwrite search field alignment in main.css */
  margin-right: 17px;
}
header.masthead .site-search input {
  width: 240px;
}
header.masthead .not-authed a {
  padding: 10px;
  font-weight: bold;
  color: black;
}
#help_navi {
  margin-bottom: 5px;
  float: right;
  margin-right: 17px;
}
#help_navi a {
  display: inline-block;
  margin-left: 18px;
  color: #3fa9f5;
}
#help_navi a:focus,
#help_navi a:active,
#help_navi a:hover {
  text-decoration: none;
}
#help_navi a .linktext:focus,
#help_navi a .linktext:active,
#help_navi a .linktext:hover {
  text-decoration: underline;
}
#help_navi a .icon-large {
  margin-right: 8px;
}
.navigation-wrapper {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 4px solid #d9d9d9;
}
.etsin-navigation {
  display: inline-block;
  list-style: none;
  font-size: 0;
}
.etsin-navigation > li {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
}
.etsin-navigation > li > a {
  color: #80898b;
  background: transparent;
  padding: 6px 15px;
}
.etsin-navigation > li > a:hover {
  color: #3fa9f5;
  background: transparent;
}
.etsin-navigation > li > a:focus,
.etsin-navigation > li > a:active,
.etsin-navigation > li > a:hover {
  text-decoration: none !important;
}
.primary-navigation {
  position: relative;
  bottom: -4px;
  margin: 20px 0 0 0;
  padding: 0 10px;
  /*width: 100%;
  float: left;
  margin: 0 0 20px 0;
  background-color: #5a5a5c;
  border: none*/
  border-bottom: 4px solid #d9d9d9;
}
.primary-navigation > li {
  position: relative;
  bottom: -4px;
}
.primary-navigation > li > a {
  display: inline-block;
  height: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #d9d9d9;
  transition: border-bottom-color 0.3s, color 0.3s;
}
.primary-navigation > li > a:hover,
.primary-navigation > li > a:active {
  color: #3fa9f5;
  background: transparent;
}
.primary-navigation > li.active > a {
  border-bottom-color: #3fa9f5;
  color: #3fa9f5;
}
.secondary-navigation {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 23px;
}
.secondary-navigation > li {
  font-size: 13px;
}
.secondary-navigation > a {
  text-transform: none !important;
}
.logged-in-actions {
  color: #80898b;
}
.logged-in-actions a {
  color: #80898b;
}
.logged-in-actions a[data-toggle]:hover,
.logged-in-actions a[data-toggle]:active,
.logged-in-actions a[data-toggle]:focus {
  text-decoration: none;
}
.small-display-menu-navi {
  display: none;
}
.small-display-menu-navi .hamburger {
  z-index: 100;
  position: absolute;
  right: 0px;
  top: -6px;
  cursor: pointer;
  display: block;
  height: 42px;
  width: 42px;
  color: white;
  font-size: 56px;
  text-align: center;
  background: #3fa9f5;
}
.small-display-menu-navi .hamburger .icon-align-justify {
  font-size: 22px;
  width: 22px;
}
.small-display-menu-navi .hamburger:hover,
.small-display-menu-navi .hamburger:active,
.small-display-menu-navi .hamburger:focus {
  outline: 0;
  text-decoration: none;
  color: white !important;
}
.small-display-menu-navi #main-navi-small {
  text-transform: uppercase;
  font-weight: 700;
}
.small-display-menu-navi #main-navi-small li > a {
  display: block;
  margin-bottom: 7px;
  color: #80898b;
}
.small-display-menu-navi #main-navi-small li > a:hover,
.small-display-menu-navi #main-navi-small li > a:active,
.small-display-menu-navi #main-navi-small li > a:focus {
  outline: 0;
  text-decoration: none;
  color: #3fa9f5;
}
.small-display-menu-navi #main-navi-small .active > a {
  color: #3fa9f5;
}
.small-display-menu-user {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.small-display-menu-user .dropdown.open .icon-chevron-down {
  color: white !important;
}
.small-display-menu-user .usericon {
  z-index: 100;
  cursor: pointer;
  display: block;
  height: 42px;
  width: 42px;
  color: white;
  font-size: 46px;
  text-align: center;
  background: #3fa9f5;
}
.small-display-menu-user .usericon .icon-user,
.small-display-menu-user .usericon .icon-chevron-down {
  margin: 0;
}
.small-display-menu-user .usericon:hover,
.small-display-menu-user .usericon:active,
.small-display-menu-user .usericon:focus {
  outline: 0;
  text-decoration: none;
  color: white !important;
}
.small-display-menu-user .dropdown .dropdown-menu {
  margin-top: 0;
}
.small-display-menu-user .dropdown .username {
  color: #80898b;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  white-space: nowrap;
}
.small-display-language-selector {
  position: absolute;
  top: 11px;
  right: 56px;
  display: none;
  color: #80898b;
}
.small-display-language-selector .language-selector-box {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  font-weight: 700;
}
.small-display-language-selector .language-selector-box a {
  color: #3fa9f5;
}
.small-display-language-selector .language-selector-box .lang-code {
  padding: 3px;
}
.small-display-menu-navi {
  display: none;
}
/* smaller screen size: user menu + other secondaries to upper corner */
@media (max-width: 900px) {
  .small-display-language-selector {
    display: block;
  }
  .small-display-menu-user {
    display: block;
  }
  .secondary-navigation {
    float: none;
    position: absolute;
    top: -46px;
    right: 120px;
  }
  .secondary-navigation .secnav {
    display: none;
  }
}
/* the smallest screen size: main navigation becomes a burger */
@media (max-width: 600px) {
  .primary-navigation {
    display: none;
  }
  .secondary-navigation {
    display: none;
  }
  .small-display-menu-navi {
    margin-top: 36px;
    display: block;
  }
  .branding-description {
    display: none !important;
  }
}
.tta-orange {
  color: #f1592a;
}
.tta-dblue {
  color: #03263E;
}
.tta-lblue {
  color: #063A5A;
}
.tta-green {
  color: #209D82;
}
.tta-blue {
  color: #6ccff6;
}
.tta-dgrey {
  color: #5a5a5c;
}
.tta-lgrey {
  color: #fefefe;
}
.tta-redorange {
  color: #f1592a;
}
.tta-link {
  color: #0c8bbe;
}
.tta-link-hover {
  color: #09688e;
}
.tta-green-main {
  color: #53cc61;
}
.tta-green-hover {
  color: #3ac34a;
}
[role="main"],
.main {
  padding-bottom: 25px;
  padding-top: 10px;
  width: 970px !important;
  margin: auto auto 10px auto;
  background-color: #FFF;
  border: 1px solid;
  border-color: #000;
  box-shadow: rgba(66, 66, 66, 0.8) 0 0 10px !important;
  background: none !important;
}
.box {
  border: 0px !important;
}
.main:after,
.main:before,
[role="main"]:after,
[role="main"]:before {
  border: 0;
}
.editing [role="main"],
.editing .main {
  background: none;
}
.hero {
  background-image: none;
}
.hero .module-popup {
  margin-top: 0px !important;
  float: left !important;
}
.hero-secondary {
  position: relative;
  float: right !important;
}
.hero-primary,
.hero-secondary {
  width: 450px !important;
}
.hero:after {
  background-image: none !important;
  border: 0;
}
.hero-secondary-inner .module {
  margin-top: 0;
}
.kata-autocomplete .select2-input {
  width: 316px !important;
}
.module {
  box-shadow: none !important;
  background-color: #FFF;
  border: 1px solid;
  border-color: #000;
  border-radius: 0px 0 0 0 !important;
  border-top-width: 1 !important;
}
.module .module {
  box-shadow: none !important;
}
.module-heading {
  /* CKAN style override */
  *zoom: 1;
  margin: 0;
  padding: 7px 25px;
  font-size: 14px;
  line-height: 1.3;
  background-color: #5a5a5c;
  border-top: 0px !important;
  border-bottom: 0px !important;
  color: #fff;
}
.module:first-child .module-heading {
  border-radius: 0 !important;
}
.module-heading-add-dataset.optional {
  border-bottom: 0px !important;
}
.module-heading-add-dataset,
.module-heading-box {
  *zoom: 1;
  margin: 0;
  padding: 7px 25px;
  font-size: 14px;
  line-height: 1.3;
  background-color: #5a5a5c;
  border-top: 0px !important;
  border-bottom: 3px solid #6ccff6 !important;
  color: #ffffff;
  background-repeat: repeat no-repeat;
}
.module-grey {
  background-color: #ebebec;
}
.module-heading a.action {
  color: #fff !important;
}
.padded-module {
  padding: 15px 5px 5px 5px;
  background-color: #6ccff6 !important;
  box-shadow: none !important;
}
.no-padding {
  padding: 0px 0px 0px 0px;
  box-shadow: none !important;
}
.navbar-search .search-query {
  font-family: Arial, Tahoma, sans-serif;
}
.tag {
  color: #3fa9f5;
}
.add_action li {
  display: inline-block;
}
a.tag:hover {
  background-color: #3fa9f5 !important;
  border: 1px solid #0f93f2 !important;
  box-shadow: #0c5e8b inset !important;
}
.wrapper {
  background: none !important;
  background-color: #fff !important;
  border: 0 !important;
  box-shadow: none !important;
}
.tta-info {
  margin-top: 50px;
}
.tta-info img {
  height: 60px !important;
}
input,
button,
select,
textarea {
  font-family: Arial, Tahoma, sans-serif;
}
#main-nav {
  background-color: #5a5a5c !important;
  color: #fff;
  padding-left: 4px;
  overflow: hidden !important;
}
#main-nav label {
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
}
#main-nav form {
  margin: 4px 4px 0 0 !important;
}
#kata_header {
  position: absolute;
  left: 300px;
  top: 45px;
}
.pp-body h1 {
  font-size: 16px;
}
.pp-body {
  display: table;
}
.pp-header {
  float: left;
  width: 200px;
  padding-right: 30px;
  font-weight: bold;
}
.pp-fi {
  float: left;
  width: 325px;
}
.pp-en {
  float: right;
  width: 325px;
}
.pp-row {
  padding-bottom: 25px;
  display: table-row;
}
.pp-header,
.pp-fi,
.pp-en {
  display: table-cell;
  padding-right: 25px;
  margin-bottom: 25px;
}
#pp-data {
  display: block;
}
#language-wrapper {
  z-index: 200 !important;
}
.ie #language-wrapper {
  position: absolute;
  right: 10px;
}
#language-wrapper .lang-select:before,
#language-wrapper .lang-select:after {
  display: none !important;
}
#language-wrapper ul li {
  margin-top: 0;
  margin-left: 0;
  margin-top: 5px;
  margin-right: 5px;
  list-style: none outside none;
  float: right !important;
}
#language-wrapper li a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #000;
  padding-left: 5px !important;
  padding-right: 10px !important;
  text-transform: none !important;
  float: none !important;
}
#language-wrapper li a:hover {
  color: #5e5e5c;
}
#language-wrapper select {
  width: 150px;
}
header.masthead {
  -webkit-filter: 0 !important;
          filter: 0 !important;
}
.debug,
#debug {
  /* Overwrite main.css white font and .site-footer font-size upwards */
  color: #000000 !important;
  font-size: 12px !important;
}
#debug-toggle {
  /* Overwrite .site-footer font-size upwards and inline style */
  color: #FF00FF !important;
  font-size: 12px !important;
  opacity: 1 !important;
}
.hidden {
  display: none;
}
.kata-search-relation {
  margin-left: 3px;
  width: 100px !important;
  text-align: left !important;
}
.kata-search-button {
  margin-right: 10px;
  float: right !important;
}
/* Multi inputs in add dataset */
.kata-multi-input {
  border: 1px solid;
  border-color: #DDD;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.kata-multi-heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
#orgauths {
  padding-top: 15px;
}
/* ONKI selector */
.onki-area {
  border: 1px solid;
  border-color: #DDD;
  padding: 5px;
}
.onki-heading {
  font-size: 14px;
  font-weight: bold;
}
.onkiLangs {
  width: 100px !important;
}
.onkiAutocomplete .control-medium {
  width: 300px !important;
}
.kata-add-dataset-info {
  float: left;
  margin-right: 5px;
}
/* FAQ and help */
.faq-help-secondary {
  padding: 0px !important;
  margin-top: 0px !important;
}
.faq-helpdesk {
  color: #555;
  font-size: 13px;
  padding: 15px;
}
.faq-helpdesk p {
  padding-top: 10px;
}
h3.question {
  font-size: 15px;
  font-weight: bold;
}
.help-toc {
  padding: 0px;
  margin: 0px;
}
.help-toc ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.help-toc ul li {
  width: auto;
  padding: 7px 15px;
  border-bottom: 1px dotted #6ccff6;
}
.help-toc ul li:hover {
  background-color: #eeeeee;
}
.help-toc ul li a {
  display: block;
  text-decoration: none;
  padding: 2px;
  width: 100%;
}
.help-toc ul li a.toc-sub {
  padding: 4px;
  padding-left: 20px;
}
.example {
  background-color: #EEE;
  border: 1px solid #6ccff6;
  padding: 5px;
  margin: 5px;
}
.help .module-heading a,
.faq .module-heading a {
  color: #6ccff6 !important;
}
.help .module-heading a:hover,
.help .module-heading a:focus,
.faq .module-heading a:hover,
.faq .module-heading a:focus {
  text-decoration: none !important;
}
#about .centered-container {
  text-align: center;
  margin: 24px auto;
}
#about .link-list li {
  display: inline;
  list-style-type: none;
}
#about {
  text-align: justify;
  padding-bottom: 20px;
}
#about .img-short img {
  max-height: 48px;
  max-width: 160px;
  padding: 0px 16px;
}
#about .img-tall img {
  max-height: 80px;
  max-width: 200px;
  padding: 0px 16px;
}
.onkiAutocomplete .onkiFinder {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.onkiAutocomplete .onkiCollector .remove-fetched-concept {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.ui-widget {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
p {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.navbar-search .search-query {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
input,
button,
select,
textarea {
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.new-dataset {
  border: none !important;
  padding: 15px !important;
  background-color: #5a5a5c !important;
  color: white !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border-radius: 3px;
}
.new-dataset h3,
.new-dataset a {
  color: white !important;
}
.floating-error {
  position: fixed;
  width: 614px;
  top: 0em;
  vertical-align: middle;
  border: 1px solid;
  border-color: #6ccff6;
  background-color: #6ccff6;
  color: #333;
  padding: 8px 35px 8px 14px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  opacity: 0.9;
  z-index: 10000;
  cursor: pointer;
}
#field-license {
  width: 300px !important;
}
.search-infotext {
  font-size: 12px;
}
.edit-user-form-infotext {
  padding: 20px;
  font-size: 12px;
}
.rating-container {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.rating {
  font-size: 20px;
  margin-left: 10px;
  color: #e0cb55;
}
.rating-text {
  font-size: small;
  color: #ababab;
  margin-left: 20px;
  float: right;
}
.rating-bottom {
  font-size: small;
  color: #ababab;
  margin-top: 10px;
}
/* Disable tab selection effects on the resource type selector / upload link */
.dataset-form-resource-types input[type=radio]:checked + label:after {
  background-image: none !important;
}
label.error {
  color: #b55457;
}
/* Make the text in the resource type selector / upload link always bold */
.dataset-form-resource-types label {
  font-weight: normal !important;
}
#resource-upload-btn {
  padding-bottom: 8px;
}
h2.optional,
h3.optional {
  background-color: #efefef;
  background-image: none;
  color: black;
}
.optionality-indicator {
  float: right;
  font-size: 75%;
}
h3.optional {
  margin-bottom: 6px;
}
.separate-error {
  border-radius: 2px;
  margin-bottom: 18px;
  padding: 7px 15px;
  width: 584px;
}
.select2-result-label {
  white-space: nowrap;
}
.kata-select2 {
  width: 347px !important;
}
.kata-select2-error,
.kata-select2-error-control .error-block {
  position: relative;
  top: -3px;
  width: 331px !important;
  display: inline-block;
}
.error-block-autocomplete .error-block {
  margin: -7px 0 0;
}
.kata-error-non-input {
  border-radius: 3px;
  margin: 4px 0;
  padding: 3px 13px;
  width: 330px;
}
.kata-medium .error-block,
.error-block.kata-medium-error {
  width: 331px !important;
  display: inline-block;
}
.kata-checkbox-label {
  display: inline-block;
}
.kata-checkbox-label:after,
.kata-blank-label:after {
  content: "";
}
.kata-tooltip,
.kata-add,
.kata-action {
  float: right;
  font-size: 18px;
  margin-left: 12px;
  margin-right: 6px;
  position: relative;
  top: 6px;
  /*
    width: 0.7em;
    height: 0.7em;
    line-height: 0.8em;
    background-color: #6ccff6;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    */
}
.kata-tooltip {
  cursor: default;
}
.kata-add,
.kata-action {
  cursor: pointer;
}
label.control-label.kata-wide-label {
  width: 210px;
}
.form-horizontal .controls-wide {
  margin-left: 215px;
}
.kata-tooltip.kata-tooltip-near {
  margin-right: 180px;
}
.kata-tooltip.kata-tooltip-inline,
.kata-add.kata-tooltip-inline,
.kata-action.kata-tooltip-inline {
  float: none;
  top: 3px;
}
.kata-action,
.kata-action:hover {
  color: #444444;
  text-decoration: none;
}
.ui-tooltip-content {
  font-size: 80%;
}
.ui-tooltip {
  padding-top: 4px;
  padding-bottom: 4px;
}
.error-block.kata-pid-field-error {
  margin: 0 0 0 10px;
  width: 390px;
}
.kata-field-title {
  padding-top: 15px;
}
.control-label.kata-input-comp.kata-field-title-language {
  padding-top: 10px;
}
.kata-input-comp.kata-field-title-language {
  padding-top: 5px;
}
.kata-search-module {
  padding: 0;
}
a.download {
  color: #f1592a;
  font-weight: bold;
  font-size: 14px;
}
.dataset-view-header {
  width: 100%;
}
.dataset-view-header .uses-and-followers {
  margin-right: 300px;
}
.dataset-view-header .uses-and-followers > table td {
  padding-right: 15px;
}
.dataset-view-header .social-share {
  margin-top: 15px;
}
.dataset-view-header .social-share > * {
  display: inline-block;
  vertical-align: middle;
}
.dataset-view-header .social-share .social-item {
  margin-left: 5px;
}
.dataset-view-header .social-share .social-item i {
  font-size: 28px;
  width: 28px;
}
.dataset-view-header .actions-and-ratings {
  float: right;
  max-width: 300px;
  text-align: right;
}
@media (max-width: 500px) {
  .dataset-view-header .button-container > .btn,
  .dataset-view-header .button-container > .btn-group {
    display: block;
    margin-bottom: 5px;
  }
}
.completeness {
  display: inline-block;
  margin: 10px 0;
  width: 100px;
  height: 100px;
}
.completeness .meter {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 1px #3fa9f5 inset;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  /* these aren't accurate if we mask this with a circle */
}
.completeness .meter > span {
  display: block;
  height: 100%;
  background-color: #3fa9f5;
}
.completeness .meter > .rating0 {
  width: 0%;
}
.completeness .meter > .rating1 {
  width: 20%;
}
.completeness .meter > .rating2 {
  width: 40%;
}
.completeness .meter > .rating3 {
  width: 60%;
}
.completeness .meter > .rating4 {
  width: 80%;
}
.completeness .meter > .rating5 {
  width: 100%;
}
.completeness .meter > p {
  position: absolute;
  line-height: 1.2em;
  top: 20%;
  color: #333;
  font-size: 12px;
  text-align: center;
}
.completeness .meter > p > .number {
  line-height: 1.5em;
  font-size: 20px;
}
.page-title {
  margin-bottom: 20px;
}
.read-base-container {
  padding-bottom: 60px;
  border-bottom: 1px solid #c9c9c9;
}
.dataset-view-content {
  margin-top: 20px;
}
.dataset-section {
  border: 1px solid #c9c9c9;
  background: white;
}
.dataset-section + .dataset-section {
  margin-top: -1px;
}
.etsin-multilang-display > ul {
  height: 32px;
}
.etsin-multilang-display > ul > li {
  display: inline-block;
  height: 32px;
}
.etsin-multilang-display > ul > li > a {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  border: 1px solid #c9c9c9;
}
.etsin-multilang-display > ul > li > a:hover {
  text-decoration: none;
}
.etsin-multilang-display > ul > li.active a {
  font-weight: 700;
  color: #444444;
  border-bottom-color: white;
}
.etsin-multilang-display .multilang-field {
  padding: 12px;
  margin-top: -1px;
  border: 1px solid #c9c9c9;
}
.form-content .tags .tag-list {
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
}
.form-content .tags .tag-list li .tag {
  background-color: transparent;
  color: #3fa9f5;
  border-color: #3fa9f5;
  box-shadow: none;
  border-radius: 4px;
}
.form-content .tags .tag-list li .tag:hover {
  background: #3fa9f5;
  color: white;
}
.form-inner-table td,
.form-inner-table th {
  vertical-align: top;
  padding: 5px;
}
.form-inner-table th {
  text-align: left;
}
.dataset-heading a {
  color: #3fa9f5;
}
.nav-facet .nav-item a {
  color: #3fa9f5;
}
.nav-facet .nav-item.active a {
  color: white;
}
#search-results-kata {
  margin-top: 20px;
}
#search-results-kata .error {
  color: #b55457;
  font-size: 120%;
  margin-bottom: 20px;
}
#search-results-kata .number-of-results {
  font-size: 160%;
  font-weight: 700;
}
.search-form {
  border-bottom: none;
  padding-bottom: 0;
}
.search-form .search-terms .search-input {
  margin-bottom: 15px;
}
.search-form .search-extras {
  margin-bottom: 10px;
}
.search-form .search-extras .since-year {
  padding: 4px;
  height: 16px;
  line-height: 16px;
  width: 6ex;
  margin-left: 5px;
}
.search-form .search-extras label {
  font-weight: normal;
}
.search-form .search-extras label:first-child {
  margin-right: 15px;
}
.search-form .search-extras label input[type=checkbox] {
  top: 4px;
}
.search-results-list {
  margin-top: 20px;
  margin-bottom: 50px;
}
.search-results-list .dataset-list .dataset-heading {
  font-size: 17px;
}
.search-results-list .dataset-list .dataset-item {
  border: 1px solid #c9c9c9;
  padding: 15px;
  background: white;
}
.search-results-list .dataset-list .dataset-item.numbered .dataset-content {
  margin-left: 35px;
}
.search-results-list .dataset-list .dataset-item.numbered .tag-list {
  padding-left: 0;
  margin-left: 35px;
}
.search-results-list .dataset-list .dataset-item.numbered .tag-list .tag {
  color: #3fa9f5;
  background-color: white;
  border: 1px solid #3fa9f5;
  border-radius: 4px;
}
.search-results-list .dataset-list .dataset-item.numbered .tag-list .tag:hover {
  color: white;
  border: 1px solid #3fa9f5;
  box-shadow: none;
}
.search-results-list .dataset-order-number {
  float: left;
  width: 30px;
  font-size: 17px;
  font-weight: 700;
}
.search-results-tools {
  margin-top: 10px;
}
#search-results-tools .accordion-heading {
  font-size: 17px;
}
#search-results-tools .accordion-group {
  border: 2px solid #c4c7c8;
  background: white;
}
#etsin-facet-list-toggle {
  display: block;
  margin-top: 15px;
}
.etsin-facet-list .facet-title {
  font-size: 14px;
  margin-bottom: 4px;
}
.etsin-facet-list .facet-pills > li {
  display: inline-block;
}
.etsin-facet-list .facet-pills .facet-pill {
  margin-bottom: 4px;
}
.etsin-facet-list .facet-pills .facet-pill .pill {
  color: #3fa9f5;
  background-color: white;
  border: 1px solid #3fa9f5;
  border-radius: 4px;
}
.etsin-facet-list .facet-pills .facet-pill.active .pill {
  color: white;
  background-color: #3fa9f5;
}
.etsin-facet-list .facet-pills .facet-pill.active .pill a {
  color: white;
}
.organization-item-wrapper {
  overflow: hidden;
}
.organization-item-left {
  float: left;
  width: 80%;
  padding-right: 10px;
  border-right: 1px solid #c9c9c9;
}
.organization-item-right {
  float: right;
  padding-left: 10px;
}
.organization-item-right .count {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.search-results-list {
  margin-top: 20px;
  margin-bottom: 50px;
}
.search-results-list .organization-list .organization-heading {
  font-size: 17px;
}
.search-results-list .organization-list .organization-item {
  border: 1px solid #c9c9c9;
  padding: 15px;
  background: white;
  margin-bottom: 20px;
}
.search-results-list .organization-list > li:first-child {
  margin-top: 20px;
}
.etsin-organization-page {
  text-align: center;
}
.search-results-list {
  margin-top: 20px;
}
.search-results-list .number-of-results {
  font-size: 160%;
  font-weight: 700;
}
.organization-view-header {
  width: 100%;
  margin-bottom: 20px;
}
.organization-view-header .uses-and-followers > table td {
  padding-right: 15px;
}
.organization-view-header .actions-and-ratings {
  float: right;
  max-width: 300px;
  text-align: right;
}
.organization-view-content {
  margin-top: 20px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin-bottom: 60px;
}
.organization-about-wrapper {
  overflow: hidden;
}
.organization-about-wrapper .organization-about-left {
  float: left;
  width: 60%;
  padding-right: 10px;
}
.organization-about-wrapper .organization-about-right {
  float: right;
  padding-left: 10px;
  padding-top: 20px;
}
.organization-about-wrapper .organization-about-right .image img {
  display: block;
}
.organization-actions {
  overflow: hidden;
  padding-left: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
}
