{#
Kata form element extensions.
#}

{#
Create a tooltip for input element.

tooltip - Tooltip help text to be displayed on the question mark icon.
#}

{% macro tooltip(id='', tooltip='', attrs={}, class='') %}
  <i class="icon-question-sign kata-plus-btn kata-tooltip{% if class %} {{ class }}{% endif %}" title="{{ tooltip }}"></i>
{% endmacro %}

{#
Create a warning tooltip for input element.

tooltip - Tooltip help text to be displayed on the exclamation mark icon.
#}
{% macro warning_tooltip(tooltip='', id='', class='') %}
  <i class="icon-exclamation-sign kata-plus-btn kata-tooltip{% if class %} {{ class }}{% endif %}" title="{{ tooltip }}"></i>
{% endmacro %}

{#
Create a button for adding more elements.

onclick     - Javascript content for onclick element.
#}
{% macro plusbutton(onclick='', id='', class='') %}
  <i class="icon-plus-sign kata-plus-btn kata-add{% if class %} {{ class }}{% endif %}" onclick="{{ onclick }}" title="{{ _('Add') }}"{% if id %} id="{{ id }}"{% endif %}></i>
{% endmacro %}

{#
Builds a list of errors for the current form.

errors  - A dict of field/message pairs.
type    - The alert-* class that should be applied (default: "error")
classes - A list of classes to apply to the wrapper (default: [])

Example:

  {% import 'macros/form.html' as form %}
  {{ form.errors(error_summary, type="warning") }}

#}
{% macro kataerrors(errors={}, h=False, type="error", classes=[]) %}
  {% if errors %}
    <div class="error-explanation alert alert-{{ type }}{{ " " ~ classes | join(' ') }}" data-module="kata-leave-info" data-module-message="{{ _("You have unsaved changes. Make sure to click 'Save Changes' below before leaving this page.") }}">
      <p>{{ _('The form contains invalid entries:') }}</p>
      <ul>
        {# Awful hack for error messages. 'errors' is a summary and has only
           one (first) error message for 'error'. So showing different Agents
           is not possible. #}
        {% set errors = h.modify_error_summary(errors) %}
        {% for key, error in errors.items() %}
          {% if key == _("  extras") %}
              {% if not error.index %}
                  {% set error = [error] %}
              {% endif %}
              {% for error_item in error %}
              <li data-field-label="{{ key }}">
              {% if error_item.key %}
                {{ error_item.value }}
              {% else %}
                {{ error_item }}
              {% endif %}
              </li>
              {% endfor %}
          {% else %}
            <li data-field-label="{{ key }}">{% if key %}{{ _(key) }}{% endif %}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <br />
      <p>{{ _('See further information about the error(s) from the field in question. Note, that errors in resource url may be in resource related data, like file type and algorithm.') }}</p>
    </div>
  {% endif %}
{% endmacro %}

{% macro optional() -%}
    <span class="optionality-indicator">{{ _("Optional") }}</span>
{%- endmacro %}

{% macro required() -%}
    <span class="optionality-indicator">{{ _("Required") }}</span>
{%- endmacro %}

{#
Copied from CKAN form.html. Uses input_block2.
#}
{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], control_classes=[], label_classes=[], attrs={}, instructions="") %}
  {%- set extra_html = caller() if caller -%}

  {% call input_block2(id or name, label or name, error, extra_html=extra_html, control_classes=control_classes, label_classes=label_classes, instructions=instructions) %}
    <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
  {% endcall %}
{% endmacro %}

{#
Copied from CKAN form.html. Uses input_block2.
#}
{% macro textarea(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}) %}
  {% set classes = (classes|list) %}
{#  {% do classes.append('control-full') %}#}

  {%- set extra_html = caller() if caller -%}
  {% call input_block2(id or name, label or name, error, classes, extra_html=extra_html) %}
    <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
  {% endcall %}
{% endmacro %}

{#
Copied from CKAN form.html. Removed a wrapping 'control-group' class. Renamed
classes to form-*. 'error' class moved to 'form-content'. Removed input parameter
'classes'.
#}
{% macro input_block2(for, label="", error="", control_classes=[], label_classes=[], extra_html="", instructions="") %}
  <div class="form-row">
    <label class="form-label{{ " " ~ label_classes | join(' ') }}" for="{{ for }}">{{ label or _('Custom') }}</label>
    <div class="form-content{{ " " ~ control_classes | join(' ') }}{{ " error" if error }}">
      {{ caller() }}
      {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
    </div>
    {{ extra_html }}
  </div>
{% endmacro %}


{#
Copied from CKAN form.html.
#}
{%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
{%- endmacro -%}