{#
Kata form element extensions.
#}

{#
Create a tooltip for input element.

tooltip		- Tooltip help text to be displayed on the question mark icon.
#}

{% macro tooltip(id='', tooltip='', attrs={}) %}
  <button type="button" class="btn checkbox kata-plus-btn tta-orange" onclick="" title="{{ tooltip }}"><span class="kata-btn-span">?</span></button>
{% endmacro %}
{#
Create a warning tooltip for input element.

tooltip		- Tooltip help text to be displayed on the exclamation mark icon.
#}

{% macro warning_tooltip(id='', tooltip='', attrs={}) %}
  <button type="button" class="btn checkbox kata-plus-btn kata-warning-btn" onclick="" title="{{ tooltip }}"><span class="kata-btn-span kata-btn-warn-span">!</span></button>
{% endmacro %}

{#
Create a button for adding more elements.

onclick     - Javascript content for onclick element.
#}

{% macro plusbutton(id='', onclick='', attrs={}) %}
  <button type="button" class="btn checkbox kata-plus-btn" onclick="{{ onclick }}" title="{{ _('Add') }}"{% if id %} id="{{ id }}{% endif %}"><span class="kata-btn-span">+</span></button>
{% endmacro %}

{#
Builds a list of errors for the current form.

errors  - A dict of field/message pairs.
type    - The alert-* class that should be applied (default: "error")
classes - A list of classes to apply to the wrapper (default: [])

Example:

  {% import 'macros/form.html' as form %}
  {{ form.errors(error_summary, type="warning") }}

#}
{% macro kataerrors(errors={}, type="error", classes=[]) %}
  {% if errors %}
    <div class="error-explanation alert alert-{{ type }}{{ " " ~ classes | join(' ') }}">
      <p>{{ _('The form contains invalid entries:') }}</p>
      <ul>
        {# Awful hack for error messages. 'errors' is a summary and has only
           one (first) error message for 'error'. So showing different Agents
           is not possible. #}
        {% for key, error in errors.items() %}
          {% if key == _("Pids") %}
              <li data-field-label="{{ key }}">{% if key %}{{ _('PID') }}{% endif %}</li>
          {% elif key == _("Langtitle") %}
              <li data-field-label="{{ key }}">{% if key %}{{ _('Title + language') }}{% endif %}</li>
          {% elif key == _("  extras") %}
              {% if not error.index %}
                  {% set error = [error] %}
              {% endif %}
              {% for error_item in error %}
              <li data-field-label="{{ key }}">
              {% if error_item.key %}
                {{ error_item.value }}
              {% else %}
                {{ error_item }}
              {% endif %}
              </li>
              {% endfor %}
          {% else %}
            <li data-field-label="{{ key }}">{% if key %}{{ _(key) }}{% endif %}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <br />
      <p>{{ _('See further information about the error(s) from the field in question. Note, that errors in resource url may be in resource related data, like file type and algorithm.') }}</p>
    </div>
  {% endif %}
{% endmacro %}
