{#
Kata form element extensions.
#}

{#
Create a tooltip for input element.

tooltip		- Tooltip help text to be displayed on the question mark icon.
#}

{% macro tooltip(id='', tooltip='', attrs={}) %}
  <button type="button" class="btn checkbox kata-plus-btn" onclick="" title="{{ tooltip }}"><span class="kata-btn-span">?</span></button>
{% endmacro %}

{#
Create a button for adding more elements.

onclick     - Javascript content for onclick element.
#}

{% macro plusbutton(id='', onclick='', attrs={}) %}
  <button type="button" class="btn checkbox kata-plus-btn" onclick="{{ onclick }}" title="{{ _('Add') }}"><span class="kata-btn-span">+</span></button>
{% endmacro %}
