{% extends "page.html" %}

{% block content %}

  <div id="etsin-main">
    <div class="etsin-container organization-container">
      <div class="container">

        {% block flash %}
          {{ super() }}
        {% endblock %}

        <h2 class="page-title">{{ c.group_dict.display_name }}</h2>
        <div class="organization-view-header">
          <div class="actions-and-ratings">
            <div class="button-container">

              {% if c.group_dict %}
                <a class="btn btn-default" href={{h.url_for(controller='organization', action='read', id=c.group_dict.name)}}> View organization </a>

                {% if c.group_dict.is_organization and h.check_access('organization_update', {'id':c.group_dict.id }) %}
                  <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      {{ _('Edit') }}<i class="icon-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li>
                        {% link_for _("Edit Organization"), controller='organization', action='edit', id=c.group_dict.name %}
                      </li>
                      <li>
                        {% link_for _("Add Organization"), controller='organization', action='new' %}
                      </li>
                      <li>
                        {% link_for _("Edit Members"), controller='organization', action='members', id=c.group_dict.name %}
                      </li>
                      <li>
                        {% link_for _("Add Members"), controller='organization', action='member_new', id=c.group_dict.name %}
                      </li>
                    </ul>
                  </div>
                {% endif %}

              {% endif %}

              </div>
          </div>

          {% if c.group_dict %}
            <div class="uses-and-followers">
              <table>
                <tbody>
                  <tr>
                    <td>Followers</td>
                    <td>{{ h.SI_number_span(c.group_dict.num_followers) }}</td>
                    <td>{{ h.follow_button('group', c.group_dict.id) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endif %}

        </div>

        <div class="clearfix"></div>

        <div class="organization-view-content">

          {%- block inner_content %}

          {% endblock -%}

        </div>
      </div>
    </div>
  </div>

{% endblock %}

