{% extends "organization/read_base.html" %}

{% block inner_content %}

  <div class="etsin-container">
    <div class="container">
      <div class="row-fluid">

        {% block page_primary_action %}
          {% if h.check_access('organization_create') %}
            {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          {% endif %}
        {% endblock %}

        <h2 class="etsin-secondary-title">{{ _('Search for organizations') }}</h2>

        <form id="organization-search" class="dataset-search clearfix search-form" method="get" data-module="select-switch">
            <div class="search-terms">
               <div class="search-input control-group search-giant">
                 <input data-organization-filter type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
                   placeholder="{{ _('Enter search term or query…') }}" tabindex="1" autofocus>
                 <button type="submit" value="search">
                   <i class="icon-search"></i>
                   <span>{{ _('Submit') }}</span>
                 </button>
               </div>

              {% if c.fields -%}
                <span>
                  {%- for k, v in c.fields -%}
                    <input type="hidden" name="{{ k }}" value="{{ v }}"/>
                  {% endfor -%}
                </span>
              {%- endif %}

              {# Show sort selection only on search results (flatlist) #}
              {% if c.q and c.page.items %}
              <div class="form-select control-group control-order-by">
                <label for="field-order-by">{{ _('Order by') }}</label>
                <select id="field-order-by" name="sort">
                  {% set sorting = h.get_organization_sorters() %}
                  {% for label, value in sorting %}
                    {% if label and value %}
                      <option value="{{ value }}"{% if c.sort_by_selected == value %} selected="selected"{% endif %}>{{ _(label) }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
               {% endif %}


                {% block search_sortby_button %}
                  <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
                {% endblock %}
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="etsin-container etsin-container-bg">
    <div class="container">
      <div class="row-fluid">
        <div class="search-results-list">

          {% block search_title %}
            {% if not no_title %}
              <span class="number-of-results">
                {% snippet 'snippets/search_result_text.html', type='organization', query=c.q, count=c.page.item_count %}
              </span>
            {% endif %}
          {% endblock %}

          {% if c.q and c.page.items %}
            {# on a search query with results - show a flatlist instead of hierarchy tree #}
            {% snippet "organization/snippets/organization_list.html", organizations=c.page.items, description=False, image=False %}

            {% block page_pagination_list %}
              {{ c.page.pager(q=c.q, sort=c.sort_by_selected or '') }}
            {% endblock %}

          {# before searching - show the whole organization hierarchy tree #}
          {% elif not c.q and c.page.items %}
            <div id="publisher-tree">
              {% snippet 'organization/snippets/organization_tree.html', top_nodes=h.get_action('group_tree', {'type': 'organization'}), show_dataset_count=true%}
            </div>

          {% else %}
            <p class="empty">
              {{ _('There are currently no organizations for this site') }}.
            </p>
          {% endif %}

        </div>

        {#% block page_pagination_list %}
          {{ c.page.pager(q=c.q, sort=c.sort_by_selected or '') }}
        {% endblock %#}

      </div>
    </div>
  </div>

{% endblock %}
