{% extends "page.html" %}

{% block subtitle %}{{ _("Login") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block main_content %}

  <div class="etsin-container">
    <div class="container">

      <!-- Top row -->
      <div class="login-container">
          {% block form %}
            {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
          {% endblock %}
      </div>

      {% if g.debug %}

      <!-- Bottom row -->
      <div class=" login-container">

        <!-- Register -->
        <div class="login-wrapper">
          <div class="login-text">
            <h2>{{ _('Need an Account?') }}</h2>
            <p>{% trans %}Then sign right up, it only takes a minute.{% endtrans %}</p>
          </div>
            <a class="btn btn-padded" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
        </div>

        <!-- Password recovery -->
        <div class="login-wrapper">
          <div class="login-text">
            <h2>{{ _('Forgotten your details?') }}</h2>
            <p>{% trans %}No problem, use our password recovery form to reset it.{% endtrans %}</p>
          </div>
            <a class="btn btn-padded" href="{{ h.url_for(controller='user', action='request_reset') }}">{{ _('Forgot your password?') }}</a>
        </div>

      </div>

      {% endif %}


  </div>

{% endblock %}
