{% extends "page.html" %}

{% block content %}

  <div id="etsin-main">
    <div class="etsin-container read-base-container">
      <div class="container container-small">
        {% block flash %}
          {{ super() }}
        {% endblock %}
        <div class="row-fluid">
          {% block inner_content %}
            <div class="user-form-content">
              {#<h2 class="etsin-secondary-title">
                {{ _('Register for an Account') }}
              </h2>#}
              {{ c.form | safe }}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

