{% import "macros/form.html" as form %}
{% import 'macros/kata_form.html' as kata_form %}
<form class="form-horizontal" action="" method="post">
  {{ form.errors(error_summary) }}

  {% call form.input('name', label=_('Username'), id='field-username', placeholder=_('username'), value=data.name, error=errors.name, classes=['control-medium'], label_classes=['kata-input-comp'], attrs={'class': "kata-medium-input"}) %}
    {{ kata_form.tooltip(class="kata-tooltip-inline", tooltip=_('Username should contain only lowercase characters and symbols: -_')) }}
  {% endcall %}

  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder="Joe Bloggs", value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder="joe@example.com", value=data.email, error=errors.email, classes=["control-medium"]) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"]) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1, classes=["control-medium"]) }}
{% if g.recaptcha_publickey %}
<div class="control-group">
  <div class="controls kata-captcha-fix">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey="6LeIoWkUAAAAAO4T0TZEtqT116AvwmMecfLgHePk"></div>
    <noscript>
     <div>
       <div style="width: 302px; height: 422px; position: relative;">
         <div style="width: 302px; height: 422px; position: absolute;">
           <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LeIoWkUAAAAAO4T0TZEtqT116AvwmMecfLgHePk" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"></iframe>
         </div>
       </div>
       <div style="width: 300px; height: 60px; border-style: none;bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
         <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;" ></textarea>
       </div>
     </div>
    </noscript>
  </div>
</div>
{% endif %}
<div class="pull-right">
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
  </div>
</form>