{% extends "user/read_base.html" %}

{% set user = c.user_dict %}

{% block inner_content %}
  {% if c.is_myself %}

    <h2 class="page-title">{{ user.display_name }}</h2>

    <div class="user-view-header">

      {#<div class="user-gravatar">
        <div class="avatar">{{ h.linked_gravatar(user.email_hash, 180) }}</div>
      </div>#}
      <div class="user-information">
        <table>
          <tbody>
            {#<tr>
              <td>{{ _('Followers') }}</td>
              <td>{{ user.num_followers }}</td>
            </tr>#}
            <tr>
              <td>{{ _('API key') }}</td>
              <td>{{ user.apikey }}</td>
            </tr>
            <tr>
              <td>{{ _('Name') }}</td>
              <td>{{ user.fullname }}</td>
            </tr>
            <tr>
              <td>{{ _('Email') }}</td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td>{{ _('Username') }}</td>
              <td>{{ user.name }}</td>
            </tr>
            {# Todo: These have no point in current scheme. #}
            {#
            <tr>
              <td>{{ _('Telephone') }}</td>
              <td>{{ user.telephone or  _('Undefined')}}</td>
            </tr>
            <tr>
              <td>{{ _('Mobile') }}</td>
              <td>{{ user.mobile or _('Undefined') }}</td>
            </tr>
            <tr>
              <td>{{ _('Organization') }}</td>
              <td>{{ user.organization or _('Undefined') }}</td>
            </tr>
            <tr>
              <td>{{ _('About') }}</td>
              <td>{{ c.about_formatted or _('No biography provided.') }}</td>
            </tr>
            #}
          </tbody>
        </table>
      </div>


    </div>
    <div class="clearfix"></div>

    <div class="etsin-user-content">

      <ul class="nav nav-tabs user-tabs">
        <li class="user-tabs{% if c.action == 'read' or c.action == 'me' %} active{% endif %}">
          {% link_for _('Datasets'), controller='user', action='read', id=user.name, icon='sitemap' %}
        </li>
        {% if h.check_access('sysadmin') or c.is_myself == true %}
          <li class="user-tabs{% if c.action == 'activity' %} active{% endif %}">
           {% link_for _('Activity Stream'), controller='user', action='activity', id=user.name, icon='time' %}
          </li>
        {% endif %}
        {#
        {% if h.check_access('sysadmin') %}
          <li class="user-tabs{% if c.action == 'followers' %} active{% endif %}">
            {% link_for _('Followers'), controller='user', action='followers', id=user.name, icon='group' %}
          </li>
        {% endif %}
        #}
      </ul>


      {% block inner_user_content %}
        <div class="search-results-list user-results-list">
          {% if user.datasets %}
            {% snippet 'snippets/package_list.html', packages=user.datasets %}
          {% else %}
            <p class="empty">
              {{ _('No datasets.') }}
            </p>
          {% endif %}
        </div>
      {% endblock %}

    <div>
  </div>

  {% else %}
    {{ _("You are not allowed to view other users' information.") }}
  {% endif %}

{% endblock %}

