{#
  Snippet to display comments added to dataset.
#}
<section class="module module-narrow comments">
  <h2 class="module-heading">{{ _('Comments and ratings') }}</h2>
  <ul class="module-grid">
    {# display comments one by one #}
    {% if comments %}
      {% for comment in comments %}
        <li class="module module-item first comment-module">
            <div class="dataset-content">
              
                <h4 class="dataset-content"><i>{{ comment[2] }}</i> {{ _('commented at') }} {{ comment[1] }}:</h4>
                <div>{{ comment[0] }}</div>
                <div class="dataset-content comment-rating">
                <div id="star-wrapper">
                  <div class="star-label">{{ _('Rating: ') }}</div>
                  {% if comment[3]%}                   
                    {% for _ in range(1, 6) %}
                      {% if loop.index > comment[3] %}
                        {# do nothing #}            
                      {% else %}
                        {# print a star #}
                        <div class="rating-star"></div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div class="star-label">{{ _('No rating provided') }}</div>                  
                  {% endif %}
                  </div>                 
                </div>             
            </div>
        </li>
      {% endfor %}
    {% else %}
      <li class="module module-item first comment-module">
          <div class="dataset-content">
              <div>{{ _('No comments found for this dataset') }}</div>
          </div>
      </li>
    {% endif %}
  </ul>
  {% if user %}
    <section class="module-content">  
      <p class="action">{% link_for _('New comment and rating'), controller='ckanext.kata.controllers:KataCommentController', action='new_comment', id=pkg_id, class_='btn btn-primary' %}</p>    
    </section>
  {% else %}
    <section class="module-content">
     {% link_for _('Log in'), controller='user', action='login' %}{{ _(' to add a comment and rating') }}
    </section>
  {% endif %}
</section>
