.comment-container {
  padding: 10px;
  background-color: #f2f2f2;
}

.comment-container ul {
    margin: 0 0 10px 0;
}

.comment-container li {
    display: inline;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0px 6px 0px 0px;
}

.comment-container .comment-wrapper {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px 0 10px 15px;
}

.comment-container h3 {
    margin: 0px !important;
    font-size: 1.1em;
}

.comment-container p {
    margin: 0px !important;
}

.comment-container .submitted {
    font-size: 0.8em;
}

.comment-container .comment-wrapper .links {
  margin: 8px 0 10px 0;
}
.comment-container .comment-wrapper h3 {
  display: inline-block;
}
.comment-container .comment-wrapper .submitted {
  float: right;
  margin: 4px 0;
}
.comment-container .comment {
  border-left: 1px solid #9c978a;
  padding-left: 10px;
  margin: 4px 0;
}

.comment-container .gray {
    color: gray !important;
}

.comment-form {
    margin: 16px 0px;
    padding: 0 16px;
}

.comments-container {
    background-color: #f2f2f2;
    padding: 8px;
}
