html, body {
  //min-width: 970px;
  min-width: 300px;
}
a {
  color: @link-color;
  text-decoration: none;
  &:hover, &:focus {
    color: @link-secondary-color;
    text-decoration: underline;
  }
}
body {
  background: @body-background-color;
}


.form-actions {
  .action-info-kata {
    float: left;
    line-height: 2;
    margin: 0;
    text-align: left;
    width: 50%;
    &.small {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.metadata-source {
  font-weight: bold;
  padding: 0px 0px 30px 0px;
  font-size: 18px;
}

.strong {
  font-weight: bold;
}

.btn {
    border: 1px solid #666;
}
.btn-primary {
    background-color: #53cc61 !important;
    background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #53cc61 !important;
    background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.toolbar .btn-primary {
    background-color: #53cc61 !important;
    background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.toolbar .btn-primary:hover, .toolbar .btn-primary:active, .toolbar .btn-primary.active, .toolbar .btn-primary.disabled, .toolbar .btn-primary[disabled] {
    background-color: #53cc61 !important;
    background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}
.control-custom.disabled .checkbox.btn {
    background-color: #53cc61 !important;
    background-image: linear-gradient(to bottom, #3ac34a, #53cc61);
}

.nav-simple {
  .nav-item a {
    color: @link-color;
  }
  .nav-item.active a {
    color: white;
  }
}

i.chevron-alt {
  color: @link-alternative-color;
}


/**
 * new layout -->
 */

#etsin-main {
  width: 100%;
}

.etsin-container {
  background-color: transparent;
  .container {
    max-width: 700px;
  }
}

@media (max-width: @content-max-width) {
  .etsin-container {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      width: auto;
      }
  }
}


/* koko sivun levyinen container, eri taustaväri */
.etsin-container-bg {
  background-color: @body-background-secondary;
  border-top: 1px solid @border-color-bg;
  border-bottom: 1px solid @border-color-bg;
}

.etsin-secondary-title {
  font-size: @secondary-title-size;
}

.action-link {
  cursor: pointer;
}

.pagination {
  ul {
    box-shadow: none;
  }
  ul > li {
    &.active > a {
      background: transparent;
      color: black;
    }
    a {
      padding: 4px 8px;
      font-size: @secondary-title-size;
      font-weight: 700;
      background: transparent;
      border: none;
      &:hover, &:focus {
        background: transparent;
      }
    }
  }
}
