.search-terms {
    background-color: #ebebec;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ababac;
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
}

#dataset-search, #advanced-search {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#search-results-kata {
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    padding: 20px;
}

.search-results-facet {
    margin-bottom: 10px;
}

.kata-package-editor {
    border-bottom: 1px solid !important;
    padding-bottom: 25px !important;
}

#kata-data-model {
    width: 1100px !important;
    margin-left: -550px !important;
}

#kata-data-model {
    max-height: 525px;
}

#kata-data-model table {
    margin-top: 10px;
}

/* Overwrite selector in main.css */
.info-block [class^="icon-"], .info-block [class*=" icon-"] {
    display: inline;
    float: none;
    font-size: 14px;
}
.checkbox-generate {
    margin-bottom: 10px !important;
    width: 15px !important;
}
.main.homepage {
    border-top: 1px solid #000 !important;
}
