.onkiAutocomplete .onkiFinder {
    font-family: Arial, sans-serif !important;
}
.onkiAutocomplete .onkiCollector .remove-fetched-concept {
    font-family: Arial, Sans-Serif !important;
}
.ui-widget {
    font-family: Arial,Verdana,sans-serif !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,Verdana,sans-serif !important;
}
p {
    font-family: Arial,Tahoma,sans-serif;
}
body {
    font-family: Arial,Tahoma,sans-serif;
}
.navbar-search .search-query {
    font-family: Arial,Tahoma,sans-serif;
}
input, button, select, textarea {
    font-family: Arial,Tahoma,sans-serif;
}
