.role-select {
    margin: 0;
    height: 36px;
}
.kata-lifecycle-input {
    margin-left: 10px;
    width: 110px !important;
}
.kata-pid-input {
    margin-left: 10px;
    width: 110px !important;
}
.kata-pid-input-wide {
    margin-left: 10px;
    width: 393px !important;
}
.events {
    font-style: bold;
    margin-left: 30px;
}
li.kata {
    float: left !important;
}
li.kata label {
    float: right !important;
}
.form-horizontal .control-label span {
}
.form-horizontal .katalabel1 {
    width: 95px !important;
    text-align: center;
    float: left;
}
.form-horizontal .katalabel {
    width: 145px !important;
    float: left;
    text-align: center !important;
}
.form-horizontal .katalabel::after {
    content: '' !important;
}
.form-horizontal .katalabel-pid1 {
    width: 95px !important;
    text-align: center;
    float: left;
}
.form-horizontal .katalabel-pid1::after {
    content: '' !important;
}
.form-horizontal .katalabel-pid2 {
    width: 50px !important;
    font-size: x-small;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none !important;
    white-space: normal !important;
    position: relative;
    top: 9px;
    text-align: left;
    line-height: 0 !important;
}

.form-horizontal .katalabel-pid2::after {
    content: '' !important;
}
.form-horizontal .katalabel-pid-wide {
    width: 380px !important;
    float: left;
    text-align: center !important;

}
.form-horizontal .katalabel-pid-wide::after {
    content: '' !important;
}
ul.kata {
    list-style: none !important;
    margin: 0px !important;
}

.kata-warning-btn {
    margin-left: 4px !important;
    background: white !important;
    color: red !important;
}
.kata-btn-warn-span {
    padding-left: 2px !important;
}
.kata-btn-span {
    display: inline !important;
    left: -4px;
    top: -4px;
    position: relative;
    width: 0 !important;
    margin-left: 0px !important;
}
.kata-input-org {
    width: 200px !important;
}
.kata-input-license {
    width: 475px !important;
}
.kata-medium-input {
    width: 334px !important;
    font-size: 14px;
}
.kata-label-pluspad {
    padding-top: 9px !important;
}
.kata-multi-padding {
    margin-left: 67px !important;
}
.kata-multi-label {
    width: 453px !important;
    text-align: left !important;
    margin-left: 28px !important;
    margin-bottom: 15px;
}
.kata-auth-padding {
    margin-left: 72px !important;
}
.kata-auth-label {
    width: 453px !important;
    text-align: left !important;
    margin-left: 28px !important;
    margin-bottom: 15px;
}
.module-link {
    float: right;
}
input[id="xmlfile"] {
    width: 190px !important;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div .ui_tpicker_timezone_label { margin-bottom: -10px; }
.ui_tpicker_timezone select { margin-top: 5px !important; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div .ui_tpicker_timezone { margin: 0 10px 10px 10px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
/* overwriting min.main*/
html, body {
    min-width: 970px;
}
a {
    color: #0c8bbe;
    text-decoration: none;
}
a:hover, a:focus {
    color: #09688e;
    text-decoration: underline;
}
a.download {
    color: #f1592a;
    font-weight: bold;
    font-size: 14px;
}
body {
    background-color: #FFF !important;
    background: none !important;
    font-family: Arial, Tahoma, sans-serif;
}
.error-block-kata {
    background: none repeat scroll 0 0 #C6898B;
    border-radius: 0 0 0px 0px;
    color: #FFFFFF;
    display: block;
    margin: -3px 0 0 0;
    padding: 6px 8px 6px;
    width: 100%;
    border-radius: 6px;
}

.multilang-hidden {
  width: 1px;
  height: 1px;
  background: transparent;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -1px;
}
