header.masthead {
  background-color: #FFF !important;
  background-image: none !important;
  margin-bottom: 10px;
  height: 161px;
  width: 972px;
  margin: auto;

  a.logo img {
    height: 87px !important;
    position: absolute;
    padding-top: 10px;
  }

  .content {
    margin-top: 30px !important;
    top: 8px;
  }

  .container {
    height: 100px;
    background-image: none !important;
    background-size: 100% !important;
    width: 971px;
    padding-top: 0px;
  }

  .content a,
  .account a,
  .user-dropdown-menu a {
  /* Overwrite profile drop down menu color in main.css */
    color: #FFF;
    font-size: 85%;
  }

  .account {
    box-shadow: 0 0 0 0 #fff !important;
    background-color: #f8f8f8 !important;
    width: 100%;

    .image img {
      border-right-color: #53cc61;
      opacity: 0.9;
    }

    .button {
      border: 0px;
      color: #000 !important;
      margin: 2px 5px 2px 0;
      padding: 4px 8px 3px;
      text-shadow: none !important;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      display: block;
      text-decoration: none;
      &:hover {
        background-color: rgba(108,207,246,0.7) !important;
      }
    }
    .dropdown.open .button,
    .dropdown .button:hover {
      /* Overwrite profile section buttons shadow color in main.css */
      box-shadow: 0 1px 0 #f2f2f2 inset;
    }
  }

  .dropup, .dropdown {
    display: inline-block;
    float: right;
  }

  .user-dropdown-menu a {
    color: #000 !important;
    &:hover {
      color: #fff !important;
    }
  }

  .section.account {
    /* Overwrite profile avatar section alignment in main.css */
    float: right;
  }

  .site-search {
    /* Overwrite search field alignment in main.css */
    margin-right: 17px;
    input {
      width: 240px;
    }
  }

  .not-authed a {
    padding: 10px;
    font-weight: bold;
    color: black;
  }
}

#kata_navigation > li:last-child {
  float:right !important;
  a {
    text-transform: none !important;
  }
}

#help_navi {
  margin-bottom: 5px;
  float: right;
  margin-right: 17px;
  a {
    display: inline-block;
    margin-left: 18px;
    color: @link-color;
    &:focus, &:active, &:hover {
      text-decoration: none;
    }
    .linktext {
      &:focus, &:active, &:hover {
        text-decoration: underline;
      }
    }
    .icon-large {
      margin-right: 8px;
    }
  }
}
