.organization-item-wrapper {
  overflow: hidden;
}

.organization-item-left {
  float: left;
  width: 80%;
  padding-right: 10px;
  border-right: 1px solid #c9c9c9;
}

.organization-item-right {
  float: right;
  padding-left: 10px;
  .count {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
}

.search-results-list {
  margin-top: 20px;
  margin-bottom: 50px;
  .organization-list {
    .organization-heading {
      font-size: @secondary-title-size;
    }
    .organization-item {
      border: 1px solid @border-color-bg;
      padding: 15px;
      background: white;
      margin-bottom: 20px;
    }

    & > li:first-child {
      margin-top: 20px;
    }
  }
}

.etsin-organization-page {
  text-align: center;
}

.search-results-list {
  margin-top: 20px;
  .number-of-results {
    font-size: 160%;
    font-weight: 700;
  }
}

.organization-view-header {
  width: 100%;
  margin-bottom: 20px;
  .uses-and-followers > table td {
    padding-right: 15px;
  }
  .actions-and-ratings {
    float: right;
    max-width: 350px;
    text-align: right;
  }
}

.organization-view-content {
  margin-top: 20px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
}

.organization-about-wrapper {
  overflow: hidden;
  .organization-about-left {
    float: left;
    width: 60%;
    padding-right: 10px;
  }

  .organization-about-right {
    float: right;
    padding-left: 10px;
    padding-top: 20px;
    .image img {
      display: block;
    }
  }
}

.organization-container {
  border-bottom: 1px solid @border-color-bg;
  padding-bottom: 60px;
}

.etsin-container .org-img-frame {
  margin-left:30px;
  float: left;
  max-width: 150px;
}

@media screen and (max-width: 1150px) {
  .etsin-container .org-img-frame {
    max-width: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .etsin-container .org-img-frame {
    display: none;
  }
}

.etsin-container {
  #org-search-row-upper:after {
    clear: none !important;
  }
}

#org-info-btn {
  border: 0px;
}

#org-info-frame {
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  word-wrap: break-word;

  .org-info-block {
    margin: 10px;

    .org-info-block-header {
      font-weight: bold;
    }

    .org-info-block-content {
      margin-left: 20px;
      margin-top: 5px;
    }
  }

}

