.organization-item-wrapper {
  overflow: hidden;
}

.organization-item-left {
  float: left;
  width: 80%;
  padding-right: 10px;
  border-right: 1px solid #c9c9c9;
}

.organization-item-right {
  float: right;
  padding-left: 10px;
  .count {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
}

.search-results-list {
  margin-top: 20px;
  margin-bottom: 50px;
  .organization-list {
    .organization-heading {
      font-size: @secondary-title-size;
    }
    .organization-item {
      border: 1px solid @border-color-bg;
      padding: 15px;
      background: white;
      margin-bottom: 20px;
    }

    & > li:first-child {
      margin-top: 20px;
    }
  }
}

.etsin-organization-page {
  text-align: center;
}

.search-results-list {
  margin-top: 20px;
  .number-of-results {
    font-size: 160%;
    font-weight: 700;
  }
}

.organization-view-header {
  width: 100%;
  margin-bottom: 20px;
  .uses-and-followers > table td {
    padding-right: 15px;
  }
  .actions-and-ratings {
    float: right;
    max-width: 350px;
    text-align: right;
  }
}

.organization-view-content {
  margin-top: 20px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin-bottom: 60px;
}

.organization-about-wrapper {
  overflow: hidden;
  .organization-about-left {
    float: left;
    width: 60%;
    padding-right: 10px;
  }

  .organization-about-right {
    float: right;
    padding-left: 10px;
    padding-top: 20px;
    .image img {
      display: block;
    }
  }
}

.organization-container {
  border-bottom: 1px solid @border-color-bg;
  padding-bottom: 60px;
}

/* ckanext-hierarchy collapsible organization tree styles */

#publisher-tree {
  margin-top: 1em;
}

.organization-tree {
  margin-left: 0 !important;

  .btn-collapse {
    /* Button to collapse / expand the tree branches */
    display: inline-block;
    position: absolute;
    padding: 5px 12px;
    border-radius: 3px;

    i[class^="icon-"] {
      line-height: 22px;
      font-size: 18px;
    }

    /* make it look like a link*/
    color: @link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus {
      color: @link-secondary-color;
    }

  }

  .js-collapse, .js-collapsed {
    display: none;
  }

  /* 1st level ogranizations */
  .organization {
    list-style-type: none;
  }

  .organization-row {
    height: 32px;
    padding-left: 30px;
    margin-bottom: 10px;
    background-color: white;
    /*border: 1px solid @border-color-bg;
    border-radius: 3px;*/

    /* left blue bar */
    border-left: 2px solid #0095ca;
    padding-left: 2em;
    margin: 4px 0;

    a {
      vertical-align: middle;
      line-height: 32px;
      .highlight {
        background-color: #B1D7FE;
      }
      span.badge {
        vertical-align: middle;
      }
    }
  }

  .organization-subtree {
    margin-left: 30px;
  }

  .badge {
    background-color: white !important;
    border: 1px solid @brand-primary-color;
    color: @brand-primary-color;
    text-shadow: none;
  }

}

.compact {
  ul.no-bullet {
    padding-left: 0px !important;
  }
  .organization-tree {
    .btn-collapse {
      padding: 0px;
      vertical-align: baseline;
    }
    .organization-row {
      height: 1.5em;
      margin: 0px;
      margin-botton: 2px;
      border-left: none;
      padding-left: 1.2em;
      a {
        line-height: inherit;
        vertical-align: baseline;
      }
    }
  }
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 10px;
}