// "Brand" color
@brand-primary-color: #3fa9f5;

// Primary link color
@link-color: @brand-primary-color;

// Link modifiers (active, focus)
@link-secondary-color: darken(@link-color, 10%);

// Alternative link color when primary isn't legible
@link-alternative-color: lighten(@link-color, 30%);

@error-color: #b55457;
@error-alternative-color: #C6898B;

@body-background-color: white;
@body-background-secondary: #f7f7f7;

// Border color for body-background-color <-> body-background-secondary
@border-color-bg: #c9c9c9;

// A bit stronger border color
@border-color-emphasis: #c4c7c8;

// Font size for elements throughout page, just a bit bigger than body text
@secondary-title-size: 16px;

@base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
